/* behind scene hexagon */
.behind-scene-hexagon .hexagon320 p {
    font-size: 1em;
}

@media only screen and (max-width: 991px){
	.behind-scene-hexagon .hexagon320 p {
	    font-size: .875em;
	}
}
/* Advanced Tech Hexagon */
.advance-tech-hexagon .hexagon320 p {
    font-size: 1em;
}

@media only screen and (max-width: 991px){
	.advance-tech-hexagon .hexagon320 p {
	    font-size: .875em;
	}
}