@charset "utf-8";
/* CSS Document */

.hds-contactspr{	
	    margin: 120px 0 20px 0;
	}
.hds-pr-contact-list{
	margin: 0 auto;
    max-width: 1280px;
    padding: 30px 15px 5px;
    position: relative;
}
 
.hds-pr-contact-list .col-md-6 .pr_cnlisting.last{border-right:none; padding-left:75px;}
.pr_cnlisting h2{
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
	padding:0;
	font-weight:700;
	color: #008eaa;
	font-size:1.25em;
	margin-bottom:10px;
	margin-top:	0;
	}
.pr_cnlisting h3{
	margin: 0;
    padding:2px 0 5px;
	font-family: 'museo-sans',Helvetica,Arial,sans-serif;
	font-size: 1em;
	}
.pr_cnlisting h3 a{
	margin:0;
	text-decoration:none;
	font-family: 'museo-sans',Helvetica,Arial,sans-serif;
    color: #333;
	}
	
.pr_cnlisting h3 a span{
	font-size: 1em;
   }

.pr_cnlisting ul{
	padding:0;
	margin:0;
	list-style:none;
	padding-bottom: 10px;
}

.pr_cnlisting ul li{
	font-size: 0.875rem;
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	color:#000;
}
.pr_cnlisting {
    margin-bottom: 10px;
	padding-bottom: 10px;
}
.main_contacts h2 {
    border-top: 5px solid #f78e1e;
    padding: 25px 0 0;
}

.pr_cnlisting ul li a{
color:#ce0000;
 text-decoration:none;
}

.hds-contactspr h1{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	font-size:24px;
	color:#333;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 991px){
	.hds-pr-contact-list .col-md-6{padding:0 15px;}
	.hds-pr-contact-list .col-md-6 .pr_cnlisting.last{padding-left:0}	
	.hds-pr-contact-list .col-md-6 .pr_cnlisting{border-bottom:1px solid #999; padding-bottom:20px; padding-top:20px; min-height:auto; border-right:none;}
	}
	