.common-hero-banner.about-leader-banner{
	background-image: url("../images/leadership-banner.jpg");
}

.about-hds-leaders{
  background-image: url("../images/grey-texture-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
  width:100%;
  padding-bottom: 30px;
}

.about-hds-leaders h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 55px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 600;  
}

.leaders-info {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.leaders-info > img {
  width: 100%;
}
.leaders-info-panel {
  background: rgba(204, 0, 0, .75);
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 25px 30px 10px;
  color: #fff;
  min-height: 110px;
}
.leaders-info-panel h2.leaders-name {
  display: table-cell;
  float: left;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0; 
  margin-bottom: 10px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  width: 66%;
  text-align: left;
}
.leaders-info-panel .view-bio{
  display: table-cell;
  text-align: right;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  width: 34%;
}
.leaders-info-panel .view-bio a{
  color: #ffffff;
}
.leaders-info-panel p{
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .about-leadership{margin-right:-15px; margin-left:-15px;}
  .leaders-info-panel {
    padding: 18px 15px 10px;
  }
  .about-hds-leaders {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .about-leadership{margin-right:0; margin-left:0;}
}

@media only screen and (max-width: 768px) {
  .about-hds-leaders{
    padding-bottom: 10px;
  }
  .about-hds-leaders h2 {
    margin: 35px 0;
  }
  .leaders-info{
    margin-bottom: 22px;
  }
  .leaders-info-panel {
    padding: 18px 15px 10px;
    min-height: 85px;
  }
  .leaders-info-panel h2.leaders-name {
    font-size: 1rem;
  }
  .leaders-info-panel .view-bio{
    font-size: 0.6875rem;
    font-weight: 600;
  }
  .leaders-info-panel p{
    font-size:  0.875rem;
  } 
}

@media only screen and (max-width: 480px) {
  .about-hds-leaders h2 {
    font-size: 1.125rem;
  }
}

