.new-abouthds-banner .cta-btn{ display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 260px; }
.new-abouthds-banner .resource-icon {
    background-image: url(../images/sprite.png);
    background-position: -87px -214px;
    width: 27px;
    height: 34px;
}

.red-bg{float:left; width:100%; padding:50px 0 50px 0;  margin: 0 0 30px; background:rgba(204, 0, 0, 0.5);}
.common-hero-banner.new-abouthds-banner {padding-left:0; padding-right:0;}
/*.new-abouthds-banner .common-hero-banner-container {
    margin-left: 0!important; padding:0px 30px 50px;
}*/
.new-abouthds-banner .cta-text{float:left; width:100%; text-align:center; }
.new-abouthds-banner .cta-text h4{
    display:inline-block; 
    font-family: 'museo-slab', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin:5px 50px 0 0;
    padding:0;
    color:#fff; 
}
.career-benefits-hexagon .hexagon320 .hexagon-content {
    margin-top: -41px;
    padding: 0;
}


.csr-governance-resource .resources-container .resources-category .resources-category-box{min-height:120px;}

@media only screen and (max-width: 767px) {
    
.new-abouthds-banner .cta-text h4 {
    margin:0 0 5px 0;
    text-align:center;
    font-size:15px;
    display:block;
    float:none;
    }
    .new-abouthds-banner .cta-btn{   display: block;
    margin: 0 auto !important;
    } 
    .red-bg { margin: 0 0 50px;
    padding: 20px 0;

    }
.new-abouthds-banner .common-hero-banner-container{padding:0px 15px 50px 0px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .new-abouthds-banner .common-hero-banner-container .request{
    display: inline-block!important;
    }   
    
    .new-abouthds-banner .red-bg { margin: 0 0 50px;
     padding: 40px 0;
    }
    .new-abouthds-banner .common-hero-banner-container{padding-right:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .new-abouthds-banner .cta-text h4 {
    font-size:17px;
    }

}

.common-hero-banner.about-hds-career {
    z-index: 2;
}

.career-benefits-hexagon {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    min-height: 640px;
    padding: 70px 15px 50px;
    position: relative;
}

.career-benefits-hexagon h2 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 100;
    line-height: 1;
    text-align: center;
}

.career-benefits-hexagon .career-benefits-hexagon-list {
    display: inline-block;
    list-style-type: none;
    margin: 55px 0 0;
    padding: 0;
    width: 100%;
}

.career-benefits-hexagon p {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .career-benefits-hexagon-list .hex-contain {
        width: 100%;
        margin: 0;
    }
    .career-benefits-hexagon-list .hex-contain .hexagon320 {
        margin-right: 16px;
    }
    .career-benefits-hexagon-list .hex-contain .hexagon320:last-child {
        margin-right: 0;
    }
    
}

@media only screen and (max-width: 991px) {
    .career-benefits-hexagon h2{
        font-size: 1.875rem;
    }
    .career-benefits-hexagon p{
        margin-bottom: 50px;
    }
    .career-benefits-hexagon .career-benefits-hexagon-list, .career-benefits-hexagon .behind-scene-hexagon-list{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }
}

.career-featured-jobs {
    background: #ffffff;
    padding: 70px 0;
    position: relative;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

.career-featured-jobs h2 {
    font-size: 3.75em;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 75px;
}

.career-featured-jobs .career-jobs {
    border-bottom: 5px solid #F88E1E;
    margin-bottom: 20px;
    padding-bottom: 18px;
}

.career-featured-jobs .col-sm-4 .career-jobs:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.career-featured-jobs .career-jobs .jobs-title {
    font-size: 1.25rem;
    margin-bottom: 6px;
}

.career-featured-jobs .career-jobs .jobs-description {
    font-size: 0.875rem;
    margin-bottom: 6px;
    color: #000000;
}

.career-featured-jobs .career-jobs .jobs-more {
    font-size: 0.8125rem;
    margin-bottom: 0px;
}

.career-featured-jobs .career-jobs .jobs-more a {
    color: #ce0000;
    font-weight: 800;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}

.career-featured-jobs .career-jobs .jobs-more a:hover {
    color: #ac1f25;
}

.career-featured-jobs .jobs-all {
    text-align: center;
    margin: 50px 0 0px;
}

.career-featured-jobs .view-all-jobs {
    cursor: pointer;
    display: inline-block;
    min-width: 420px;
}

@media only screen and (max-width: 768px) {
    .career-featured-jobs {
        padding: 35px 0;
    }
    .career-featured-jobs h2 {
        font-size: 2.25rem;
        margin-bottom: 0;
    }
    .career-featured-jobs .career-jobs {
        border-bottom: 5px solid #F88E1E;
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .career-featured-jobs .career-jobs .jobs-title {
        font-size: 1.125rem;
    }
    .career-featured-jobs .career-jobs .jobs-description {
        font-size: 0.8125rem;
    }
    .career-featured-jobs .col-sm-4 .career-jobs:last-child {
        border-bottom: 5px solid #F88E1E;
        margin-bottom: 20px;
    }
    .career-featured-jobs .jobs-all{
        text-align: center;
        margin-top: 25px;
    }
    .career-featured-jobs .view-all-jobs {
        min-width: 250px;
    }
    .career-featured-jobs .col-sm-4 .career-jobs:last-child{

    }
    .csr-governance-resource div.acs-commons-resp-colctrl-row>div{width:98%;}
    .new-abouthds-banner .common-hero-banner-container{margin-right:0 !important}
}

.career-commitment {
    background: #f1f1f1;
    padding: 70px 0;
    position: relative;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
.career-commitment h2 {
    font-size: 3em;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 60px;
}
.career-commitment .career-commitment-spotlight {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 2px 3px #999;
    color: #ffffff;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    min-height: 485px;
    position: relative;
}

.career-commitment .career-commitment-spotlight .spotlight-content {
    bottom: 30px;
    padding: 0 20px 0 30px;
    position: absolute;
}
.career-commitment-spotlight .spotlight-content .company-logo{
    margin-bottom: 25px;
}
.career-commitment .career-commitment-spotlight .name {
    font-family: Arial;
    font-size: 0.75rem;
    margin-bottom: 10px;
}
.career-commitment .career-commitment-spotlight .title {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.313rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 110%;
}
.career-commitment .career-commitment-spotlight .title a{
    color: #ffffff;
}
.career-commitment .career-commitment-spotlight .title a span.glyphicon.glyphicon-menu-right.animateIcon{
    font-size: 1.2rem;
}
.career-commitment .career-commitment-spotlight .description {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 110%;
}

.career-commitment .company-list {
    padding-top: 0px;
}

.career-commitment .company-list .company {
    margin-bottom: 35px;
}

.career-commitment .company-list .company .name {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.813em;
    margin-bottom: 10px;
    font-weight: 500;
}

.career-commitment .company-list .company .description {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 110%;
}

.career-commitment .company-list .company .read-more {
    font-size: 0.8125rem;
    margin-bottom: 0;
}

.career-commitment .company-list .company .read-more a {
    color: #ce0000;
    letter-spacing: 0.15em;
    font-weight: 800;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}

.career-commitment .company-list .company .read-more a:hover{
    color: #ac1f25;
}

.career-commitment .company-list .view-all {
    margin: 51px 0 0px;
}

.career-commitment .company-list .view-all-awards {
    cursor: pointer;
    display: inline-block;
}

@media only screen and (max-width: 991px) {
    .career-commitment {
        padding: 35px 0;
    }
    .career-commitment h2 {
        font-size: 2.25rem;
        margin-bottom: 25px;
    }
    .career-commitment .career-commitment-spotlight {
        min-height: 0;
    }
    .career-commitment-spotlight .spotlight-mobile{
        min-height: 230px;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
    }
    .career-commitment-spotlight .spotlight-mobile .company-logo{
        padding: 0 15px 0 18px;
        position: absolute;
        bottom: 15px;
    }
    .career-commitment .career-commitment-spotlight .spotlight-content {
        position: static;
        color: #414141;
        background: #ffffff;
        padding: 20px;
    }
    .career-commitment .career-commitment-spotlight .name {
        font-family: Arial;
        font-size: 0.75rem;
        margin-bottom: 10px;
        color: #000000;
    }
    .career-commitment .career-commitment-spotlight .title {
        font-family: "museo-sans",Helvetica,Arial,sans-serif;
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #000000;
        font-weight: 100;
    }
    .career-commitment .career-commitment-spotlight .description {
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 110%;
        color: #000000;
    }
    .career-commitment .career-commitment-spotlight .description p:last-child{font-weight:300;}
    .career-commitment .career-commitment-spotlight .learn-more {               
        text-align: center;
    }
    .career-commitment .career-commitment-spotlight .learn-more div{
        display: inline-block;
        min-width: 250px; 
    }
    .career-commitment .company-list .view-all {               
        text-align: center;
        margin: 0;
    }
    .career-commitment .company-list .view-all div{
        display: inline-block;
        min-width: 290px; 
    }
}

.hitachi-spirit-hexagon {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    min-height: 670px;
    padding: 70px 15px 50px;
    position: relative;
}

.hitachi-spirit-hexagon h2 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 35px;
    text-align: center;
}

.hitachi-spirit-hexagon p {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

.hitachi-spirit-hexagon .hitachi-spirit-hexagon-list {
    display: inline-block;
    list-style-type: none;
    margin: 55px 0 0;
    padding: 0;
    width: 100%;
}

.hitachi-spirit-hexagon .hitachi-spirit-hexagon-list h4 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 2em;
    border-bottom: 8px solid #F88E1E;
    font-weight: 500;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.hitachi-spirit-hexagon .hitachi-spirit-hexagon-list .hexagon320 p {
    font-size: 1em;
    margin: 0 5px;
}

.hitachi-spirit-hexagon p {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .hitachi-spirit-hexagon {
        min-height: 750px;
    }
    .hitachi-spirit-hexagon-list .hex-contain {
        width: 100%;
        margin: 0;
    }
    .hitachi-spirit-hexagon-list .hex-contain .hexagon320 {
        margin-right: 12px;
    }
    .hitachi-spirit-hexagon-list .hex-contain .hexagon320:last-child {
        margin-right: 0;
    }
    .common-hero-banner.new-abouthds-banner .common-hero-banner-container{
        margin-left:0; 
        margin-right:0;
}

}

@media only screen and (max-width: 991px) {
    .hitachi-spirit-hexagon {
        padding: 35px 0;
    }
    .hitachi-spirit-hexagon h2 {
        font-size: 1.875rem;
    }
    .hitachi-spirit-hexagon p {
        font-size: 1em;
        margin-bottom: 50px;
    }
    .hitachi-spirit-hexagon .hitachi-spirit-hexagon-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }
}

.custom_selectBox_red .caret {
    border: medium none;
}

.custom_selectBox_red .bootstrap-select {
    width: 100% !important;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

.custom_selectBox_red .bootstrap-select.btn-group .dropdown-menu li a{
    padding: 3px 15px;
}

.custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #ce0000;
    font-size: 13px;
    text-align: left;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    overflow: visible;
    width: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.custom_selectBox_red .bootstrap-select .filter-option.pull-left {
    float: none !important;
}

.custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .filter-option:hover {
    color: #ac1f25;
}

.custom_selectBox_red span.bs-caret{
    background-image: url("../images/select-down-arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 14px;
    height: 22px;
    display: inline-block;
}
.custom_selectBox_red .caret:before {
    border: medium none;    
    position: static;
    color: #cc0d0d;
    line-height: 30px;
}

.custom_selectBox_red .btn-group.open .dropdown-toggle,
.custom_selectBox_red .btn-group.open .dropdown-toggle:focus,
.custom_selectBox_red .btn-group.open .dropdown-toggle:active,
.custom_selectBox_red .btn-group.open .dropdown-toggle:hover {
    border: 1px solid #c1c1c1;
    background: none;
    box-shadow: none;
    border-bottom: none;
}

.custom_selectBox_red .dropdown-menu {
    border: 1px solid #c1c1c1;
    box-shadow: none;
    margin: 0;
    border-top: none;
}

.custom_selectBox_red .bootstrap-select > .dropdown-toggle {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    border: none;
    padding: 9px 15px;
    text-align: left;
}

.custom_selectBox_red .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .caret {
    display: inline-table;
    position: static;
}

.custom_selectBox_red .dropdown-menu {
    border-radius: 0;
}

@media screen and (min-width:991px) and (max-width:1150px) {
    .custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width:1150px) {
    .custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .custom_selectBox_red .bootstrap-select.btn-group .dropdown-toggle .caret {
        right: 32px;
    }
}


/*Career Hero Banner */
.bannerCarsoul {
    width: 100%;
    height: 705px;
    position: relative;
}

.caroufredsel_wrapper {
    width: 100% !important;
    width: 100% !important;
}

#careerHeroBanner {
    overflow: hidden;
    width: 100% !important;
    width: 100% !important;
}

.bannerCarsoul .bannerSectionImage {
    width: 100%;
    height: 705px;
    float: left;
    position: relative;
    background-size: cover;
    background-position: right center;
    padding-top: 195px;
}

.bannerSectionImage h2 {
    font-weight: 100;
    color: #fff;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.bannerSectionImage p {
    font-weight: 300;
    color: #fff;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    width: 74%;
}

.bannerCarsoul .watchVideoBtn{
    margin-top: 50px;   
}

.bannerCarsoul .bannerSectionImage .playVideoBox{
    padding-top: 33px;
}

.bannerCarsoul .bannerSectionImage .playVideo {    
    text-align: left;
}

.PagerBar {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.PagerBar .name {
    height: 70px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    float: left;
    width: 100%;
    position: relative;
}

.PagerBar .name.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.PagerBar .name.active:before {
    content: "";
    position: absolute;
    top: -19px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -23px;
    border-style: solid;
    border-width: 0 23px 19px 23px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

.PagerBar .name.active:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 8px solid #ffffff;
}

@media only screen and (max-width: 991px) {
    .bannerCarsoul {
        width: 100%;
        height: 490px;
        position: relative;        |
    }
    .bannerCarsoul .bannerSectionImage {
        width: 100%;
        height: 490px;
        padding-top: 0;
    }
    .bannerSectionImage .hero-content-career{
        padding-top: 60px;
    }
    .bannerCarsoul .bannerSectionImage .playVideo a img {
        width: 84px;
        height: 84px;
    }
    .PagerBar {
        background-color: inherit;
        text-align: center;
        padding-bottom: 15px;
        height: auto;
    }
    .smMobile {
        display: inline-block;
        padding: 0 ;
        width:auto;
    }
    .bannerSectionImage h2 {
        font-size: 2.25rem;
    }
    .bannerSectionImage p {
        font-size: 1.125rem;
        width: 100%;
    }
    .PagerBar .name {
        height: 70px;
        border-radius: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px 0 0;
        text-indent: -9999px;
        background-color: #dedede;
    }
    .PagerBar .name.active {
        background-color: #fff;
    }
    .PagerBar .name.active:before {
        content: "";
        position: absolute;
        top: -19px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: 0px;
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    }
    .PagerBar .name.active:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        border-bottom: 0px solid #ffffff;
    }
    .bannerCarsoul .bannerSectionImage .playVideo {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .bannerCarsoul .bannerSectionImage .playVideoBox img {
        width: 75px;
        height: 75px;
    }
    .bannerCarsoul .watchVideoBtn {
        margin-top: 10px;
    }
    .bannerCarsoul .bannerSectionImage .playVideoBox{
        padding-top:10px;
    }
}


#careerHeroBanner .video {
    display: none;
}

#careerHeroBanner .hero-banner-container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
    margin-top: -100px;
}

#careerHeroBanner .hero-banner-container .close-hero{
  display: inline-block;
    position: absolute;
    top: -35px;
    right: 5%;
}
#careerHeroBanner .hero-banner-container > iframe {
    margin: 0px auto 0;
    width: 916px;
    height: 480px;
}

@media only screen and (max-width: 991px) {
    #careerHeroBanner .hero-banner-container{
        margin-top: 100px;
    }
    #careerHeroBanner .hero-banner-container > iframe{
        height:300px;
        width: 90%;
    }
    #careerHeroBanner .hero-banner-container .close-hero{
        top:-35px;
        right:5%;
    }
    .hitachi-spirit-hexagon .hitachi-spirit-hexagon-list h4{
        margin-top: -15px;
        font-size: 1.6em;
        padding-bottom: 10px;
    }

}

@media only screen and (max-width: 480px) {
    #careerHeroBanner .hero-banner-container{
        margin-top: 140px;
    }
    #careerHeroBanner .hero-banner-container > iframe{
        height:180px;
    }
    #careerHeroBanner .hero-banner-container .close-hero{
        top:-35px;
        right:5%;
    }
    .hitachi-spirit-hexagon .hitachi-spirit-hexagon-list h4 br{display:none;}
}

@media only screen and (max-width: 768px) {
  .career-benefits-hexagon .hexagon320 .hexagon-content {
    margin-top: -36px;
    padding: 0;
   }
 
  .career-commitment .career-commitment-spotlight .description, 
  .bannerSectionImage p, .career-commitment .company-list .company .description{
      font-size: 1em;
  }
  .career-commitment .company-list .company .description{
      font-weight: 600;
  }

}

@media only screen and (min-width: 991px) and (max-width: 1280px){
  .common-hero-banner.about-hds-career .common-hero-banner-container{
      padding-left: 0;
      margin-left: 0;
  } 
    
}