.leader-profile{margin-top: 6px;}
.leader-detail {
    background: #ffffff none repeat scroll 0 0;
    min-height: 740px;
    padding: 120px 15px 55px;
    position: relative;
}
.view-all-executive{margin-top: 25px;}
.view-all-executive a{
     color: #ce0000;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 0.8485rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.view-all-executive a:hover{
	color: #ac1f25;
}
.mt_mb{
  margin:20px 0;
}
.share-links > strong {
  float: left;
  font-size: 0.85rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-top: 4px; 
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.leaders_description > p {
  font-size: 1em;
  font-weight: 300;  
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.leader-info {
  font-size: 1.3em;
  font-weight: 300;
  width: 100%;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.leader-profile > img {
  width: 100%;
}
.profile-name h1 {
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}
.pr-explore.aboutleader-bg {
  background-image: url("../images/leadership-insight-bg.jpg");
}

@media screen and (max-width:1280px){
  .leader-detail .container-fluid{
    padding-left: 0; 
    padding-right: 0;
  }
}

@media screen and (max-width:991px){
  .leader-info {
    font-size: 1.125rem;
    width: 100%;
  }
  .leader-detail {
    padding-top: 120px;
  }

  .leader-detail .container-fluid{
    padding-left: 0; 
    padding-right: 0;
  }

  .profile-name h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .share-links strong{font-size: 0.8125rem;}
  .pr-explore.aboutleader-bg .pr-explore-container h2{
    background: none;
    font-size: 1.125rem;
    color: #ffffff;
    text-transform: none;
    font-weight:700;
  }
  .pr-explore.aboutleader-bg  h2 span.glyphicon.glyphicon-menu-right.animateIcon {
    font-size: 1rem;
    top: 2px;
    right: 0;
    float: none;
  }
  .pr-explore.aboutleader-bg .pr-explore-container {
    padding: 35px 15px 20px;
  }

  .pr-explore.aboutleader-bg .pr-explore-container .pr-common-box .description{
    font-size: 0.875rem;
  } 
}

@media screen and (max-width:767px){
  .leader-detail .container-fluid{
    padding-left: 15px; 
    padding-right: 15px;
  }
  .leader-profile, .leaders_description, .view-all-executive {
    margin-right: -15px;
    margin-left: -15px;
  }
  .leaders_description > p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 0.875rem;
  }
  .view-all-executive {text-align: center; }
}

@media screen and (max-width:480px){
  .view-all-executive a{font-size: 0.8125rem;}
}

/* @media screen and (max-width:1280px) and (-webkit-min-device-pixel-ratio:0){
  .contentarea .leader-detail .col-sm-4{
	  padding-left: 0;
  }	
	
} */

@media only screen and (max-width: 768px){
	.leaders_description > p{
	   font-size: 1em;	
	}
	
}

