.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.textrightalign {
	text-align: right;
}

.textleftalign {
	text-align: left;
}

.editbarstyle {
	overflow: auto;
}

.hero-product-solutions.overview {
	display: block;
}

.acs-commons-resp-colctrl-row .col-sm-4 {
	width: 100%;
}

.acs-commons-resp-colctrl-row .col-sm-6 {
	width: 100%;
}

.cs-section .cyancta {
	background-color: #008eaa;
	margin: 7px;
	padding: 15px 20px;
}

.hiddencontent {
	display: none;
}

.showcontent {
	display: block !important;
}

.bannericon {
	background-repeat: no-repeat;
	background-position: 0 0;
}

.bigbannericon {
	height: 70px;
	width: 70px;
}

.icon-content-type {
	background-repeat: no-repeat;
	height: 30px;
}

.fb-section .fb-container {
	min-height: auto;
}

.specific-benefit.row {
	margin-left: 0;
	margin-right: 0;
}

.rightborder {
	border-right: 1px solid #ebebeb !important;
}

.business-specific .icon-light, .business-specific .icon-gear,
	.business-specific .icon-advance, .business-specific .icon-advance-lt,
	.specific-benefit .icon-light, .specific-benefit .icon-gear,
	.specific-benefit .icon-advance, .specific-benefit .icon-advance-lt,
	.specific-tech .icon-light, .specific-tech .icon-gear, .specific-tech .icon-advance,
	.specific-tech .icon-advance-lt {
	background-repeat: no-repeat;
}

.heaxongonbannernobutton {
	min-height: 655px;
}

.productcategory .calculating-success-container>p {
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}

.productcategory .calculating-success-container>h4 {
	font-size: 1.5em;
}

.calculating-success {
	background-color: transparent;
	background-image: none;
}

.icon-light {
	width: 70px;
}

.product-category-list{
	overflow: auto;
}

.lineseperator{
    border-bottom: 7px solid #f78e1e;
    width:95%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display:inline-block;
}

.category-heading h2, .category-heading h1 {
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    color: #008eaa;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.category-desc {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.75rem;
    color: #000000;
    margin: 0 0 40px 0;
    line-height: 1.4em;
}

.category-promotion {
    /*border-top: 7px solid #f78e1e;*/
    border-bottom: 7px solid #f78e1e;
    padding: 40px 20px;
}


.category-products-listing .product a {
    font-size: 0.8485rem;
    color: #ce0000;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}
 
.productsolutionlanding .hero-product-category {
    z-index: 2;
    position: relative;
    min-height: 402px;
    padding: 90px 15px 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.productsolutionlanding .hero-product-category .hero-product-solutions-container .headline{
    margin-bottom: 0px;
    margin-top: 53px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3.4375em;
    line-height: 1;
    line-height: 120%;
    color: #ffffff;
}

.productsolutionlanding .hero-product-category .hero-product-solutions-container > h3{
    margin-bottom: 37px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.375em;
    line-height: 1;
    line-height: 120%;
    color: #ffffff;
    margin: 0 0 11px;
    text-transform: none;
}

.productdetail .icon-advance-lt{
    width: 75px;
    height: 75px;
}

.hero-homepage.general .hero-homepage-container .general-list li a .sprite{
	width: 27px;
    height: 28px;
}

.icon-home-modal {
    width: 56px;
    height: 65px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hero-homepage.healthcare .hero-homepage-container .icon-connect{
	width: 95px;
    height: 75px;	
}
.techspeconly .spec-title {
	margin-top: 60px;
}

.hero-homepage.list-content-container{
	display:none;
}

.result-resources .glyphicon.glyphicon-lock{
    font-size: 13px;
    top: 0px;
    margin-right: 5px;
}


.rsImg{
	background-size: contain !important;
/* 	transition: background 1s linear; */
}

.rsImg p{
	visibility: hidden;
}

.rsvis {
	visibility: hidden;
}

.par.parsys .resource{
	display:block;
}

@media only screen and (min-width: 768px) {

	.pr-list-container{
		min-height: 750px;
	}
}
 
@media only screen and (max-width: 768px) {
	.rsImg{
		background-position: top center !important;
	}
	
	.cs-section .cyancta {
		display: block;
		max-width: 300px;
		position: relative;
		padding: 15px 10px;
		margin: 7px auto;
	}
	.acs-commons-resp-colctrl-col {
		margin-bottom: -5px;
	}
	.cs-section .cs-container .cs-selections .cs-selection-box a span.glyphicon.glyphicon-chevron-right
		{
		right: 5%;
	}
	.productcategory .calculating-success-container>h4{
	    font-size: 1rem;
	    line-height: 1.2em;
	}
	.productcategory .calculating-success-container>p {
    	/* font-size: 0.875rem; */
		font-size: 1em;
	}

	.productsolutionlanding .hero-product-category .hero-product-solutions-container .headline{
		margin-top: 65px;
		font-size: 1.5rem;
		text-align: center;
		font-weight: 700;
	}
	.rightborder {
        border-right: none !important;
    }
    
    .techspeconly .spec-container {
		margin-top: 60px;
	}
}

