.select-boxes {
    float: left;
    margin: 40px 0 40px;
    width: 100%;
}
.select-boxes .select-style {
    border: 1px solid #666666;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    margin-right: 15px;
    float: left;
    height: 50px;
    color: #666666;
    font-size: 87.5%;
    background: #fff url("../images/contact-select-arrow.png") no-repeat 96% 50%;
}
.select-boxes .select-style select {
    padding: 14px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.select-boxes .select-style select::-ms-expand {
    display: none;
}
.hideme {
    display: none;
}

.select-boxes .select-style select > option {
    border-right: 1px solid #666;
}

.posRelativeLocation {
    position: relative;
}
.posRelativeLocation .col-md-3 {
    padding-left: 0;
}
#LoactionFilters .select-boxes .col-md-4 {
    padding-left: 0;
}
#LoactionFilters #loading {
    background: url("../images/loadinglocations.gif") no-repeat 50% 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
@media screen and (max-width: 991px) {
    .select-boxes .select-style {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .posRelativeLocation .col-md-3 {
        padding-left: 15px;
    }
    #LoactionFilters .select-boxes .col-md-4 {
        padding-left: 15px;
    }
}
.custom_selectBox .dropdown-menu {
    border-radius: 0;
}
.custom_selectBox .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
/* Contact Us location Sidebar */

.side-block h3 {
    font-size: 1.125em;
    font-weight: 700;
    color: #000303;
    text-transform: capitalize;
    margin-top: 10px;
}

.side-block h4 {
	font-family:Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}

.side-block p {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 1.125em;
    margin: 0;
}
.scrollbar-inner h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
}
.side-block .animateLink {
    float: left;
    width: 100%;
}
.content.mCustomScrollbar {
    box-sizing: border-box;
    height: 800px;
    overflow: auto;
    position: relative;
}
.scrollbar-inner {
    float: left;
    width: 100%;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}
.side-block {
    border-bottom: 3px solid #c5c5c5;
    float: left;
    margin-bottom: 25px;
    padding-bottom: 20px;
    margin-right: 10px;
}
.side-block a {
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
    color: #ce0000;
    float: left;
    font-size: 0.8125em;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-top: 5px;
    width: 100%;
}
.side-block a:hover {
    color: #ac1f25;
	text-decoration: none;
}
.side-block:last-child {
    border-bottom: none;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.side-block a.phone_num {
    color: #000;
}
.side-block a.phone_num:hover {
    color: #666;
}
.scrollbar-inner .mCSB_inside > .mCSB_container {
    margin-right: 25px;
}
/*scroll-bar*/

.scrollbar-inner .mCSB_scrollTools .mCSB_draggerRail {
    width: 10px;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #aaa;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ccc;
}
@media only screen and (max-width: 768px) {
    #LoactionFilters.grey-bg {
        padding-top: 100px;
        background: #f1f1f1;
    }
    #LoactionFilters.grey-bg .Container-legal-terms > h2, 
    #LoactionFilters.grey-bg .Container-legal-terms > h1	{
        margin-bottom: 0;
    }
    .scrollbar-inner {
        height: inherit;
        overflow-y: hidden;
    }
    .posRelativeLocation {
        width: 100%;
        background: #ffffff;
        float: left;
    }
    #MapViewLocation,
    .scrollbar-inner {
        margin-bottom: 30px;
    }
    .side-block {
        width: 100%;
    }
	.side-block p {
	  font-size: 1em;
    }
    .scrollbar-inner h2 {
        margin: 20px 0;
    }
    #LoactionFilters .Container-legal-terms {
        background: #f1f1f1;
    }
    .location-nav-tabs .nav-tabs > li:first-child {
        padding-right: 0;
    }
    .location-nav-tabs {
        width: 100%;
    }
    .location-nav-tabs .nav-tabs {
        border-bottom: none;
    }
    .location-nav-tabs .nav-tabs > li {
        margin-bottom: 0;
    }
    .location-nav-tabs .nav-tabs > li > a {
        background: #dedede;
        font-size: 0.813em;
        color: #666666;
        border: none;
        border-radius: 0;
        cursor: pointer;
        padding: 12px 15px;
        text-align: center;
        width: auto;
        border-radius: 0;
        font-weight: 900;
        margin-right: 0;
        text-transform: uppercase;
    }
    ul.nav li.current a {
        font-size: 0.813em;
        background: #ffffff;
        color: #000000;
    }
    .tabbed-content {
        display: none;
        /*background: #ededed;*/
    }
    .tabbed-content.current {
        display: inherit;
    }
    .location-nav-tabs .nav-tabs > li.active > a,
    .location-nav-tabs .nav-tabs > li.active > a:hover,
    .location-nav-tabs .nav-tabs > li.active > a:focus {
        background: #fff;
        border: none;
        color: #000;
    }
    #locationDetailsContent .side-block .img-responsive {
        display: inline-block;
    }
    .posRelativeLocation #gmap {
        height: 310px !important;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .contact-inner-area .col-md-3,
    .contact-inner-area .col-md-9 {
        padding-right: 0;
    }
}
         
		 
	.location-centers {
		color: #333;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		padding: 40px 0 0 0;
		text-align: center;
	}
	.location-centers h2 {
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		color: #000000;
		font-size: 2em;
		font-weight: 500;
		line-height: 1;
		margin: 0 0 15px;
		text-align: left;
	}
	.location-centers h3 {
		color: #000000;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		text-transform: none;
		font-size: 1.6em;
		font-weight: 500;
		margin: 0 0 8px;
	}
	.location-centers h3 a {
		color: #000000;
	}
	.location-centers h3 .glyphicon{
		font-size: 1.2rem;
		top: 2px;
		left: 5px;
	}
	.location-centers h3 .animateLink:hover > .animateIcon {
		left: 10px;
	}
	.location-centers .location-centers-content .title span.glyphicon-new-window {
		font-size: 1em;
	}
	.location-centers .location-centers-box {
		box-shadow: 0 2px 3px #999;
		color: #ffffff;
		font-family: "museo-sans", Helvetica, Arial, sans-serif;
		margin-bottom: 40px;
		min-height: 375px;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.location-centers .location-centers-content {
		bottom: 0;
		padding: 0 15px;
		position: absolute;
	}
	.location-centers .location-centers-content .title {
		font-size: 1.4em;
		font-weight: 300;
		line-height:120%;
		margin-bottom: 15px;
		margin-top: 10px;
	}
	.location-centers .location-centers-content .title p{
		margin: 0;
	}
	.location-centers .location-centers-content .title.first {
		width: 100%;
	}
	.location-centers .location-centers-content .title a {
		color: #fff;
        margin: 8px 0 0 0;
        display: block;
        font-size:.575em;
        font-weight:700;
        text-transform:uppercase;
        letter-spacing:2px;
	}
	
	@media only screen and (max-width: 991px) {
		.location-centers h2 {
			font-size: 1.5em;
		}
		.location-centers h3 {
			font-size: 1.25em;
		}
		.location-centers h3 .glyphicon {
			font-size: 1rem;
		}
		.location-centers .location-centers-box {
			min-height: 200px;
		}
		.location-centers .location-centers-content .title {
			font-size: 0.875rem;
			margin-bottom: 10px;
		}
	}
	
	@media only screen and (max-width: 767px) {
		.location-centers .location-centers-content {
			background: #ffffff;
			color: #414141;
			padding: 10px 15px;
			position: static;
		}
		.location-centers .location-centers-content .title a {
			color: #414141;
			font-weight: 400;
		}
		.location-centers .location-centers-content .title.first {
			width: 100%;
		}
		.location-centers .location-centers-content .title a{font-size:0.75em}
	}		 

