.select-boxes {
  float: left;
  margin: 62px 0 40px;
  width: 100%;
}
.select-boxes .select-style {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 0px;
	overflow: hidden;
	margin-right: 15px;
	float: left;
	height: 50px;
	color: #333333;
	font-size: 87.5%;
	background: #fff url("../images/contact-select-arrow.png") no-repeat 96% 50%;
}

.select-boxes .select-style select {
	padding: 14px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
    }
.hideme{
	display:none;
}


@media screen and (max-width:991px){
      .select-boxes .select-style{
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
.custom_selectBox .dropdown-menu {
  border-radius: 0;
}
.custom_selectBox .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
/* Contact Us location Sidebar */
.side-block h3 {
  font-size: 1.125em;
  font-weight: 700; 
  color:#000303;
  text-transform: capitalize;
}
.side-block p {
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 1.125em;
  margin: 0;
}
.scrollbar-inner h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
}
.side-block .animateLink {
  float: left;
  width: 100%;
}

.content.mCustomScrollbar {
  box-sizing: border-box;
  height: 800px;
  overflow: auto;
  position: relative;
}
.scrollbar-inner {
  float: left;
  width: 100%;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.side-block {
  border-bottom: 3px solid #c5c5c5;
  float: left;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.side-block a {
  color: #ce0000;
  float: left;
  font-size: 0.8125em;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin-top: 5px;
  text-transform: uppercase;
  width: 100%;
}
.side-block a :hover{
  color: #ac1f25;		
}
.side-block:last-child {
  border-bottom: none;
  float: left;
  margin-bottom: 0;
  padding-bottom: 0;
}
.side-block a.phone_num {
  color: #000;
}
.side-block a.phone_num:hover {
  color: #666;
}
.scrollbar-inner .mCSB_inside > .mCSB_container {
  margin-right: 25px;
}
/*scroll-bar*/
.scrollbar-inner .mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #aaa;
}
.scrollbar-inner .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #ccc;
}

@media only screen and (max-width: 768px) {
  .scrollbar-inner{
	max-height: inherit;
    overflow-y: hidden;	
  }
  
  #MapViewLocation, .scrollbar-inner{
	 margin-bottom: 30px;	  
  }
  .side-block{
	width: 100%;    
  }
  .scrollbar-inner h2 {
	 margin: 20px 0;
  } 
	
  .location-nav-tabs{
	  width: 100%;	  
  }
  .location-nav-tabs .nav-tabs > li{
	margin-bottom: 0;	  
  }
  
.location-nav-tabs .nav-tabs > li > a{
    font-size: 0.813em;
	color: #666666;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding: 12px 15px;
	text-align: center;
	width: auto;
	border-radius: 0;
	font-weight: 900;
    margin-right: 0;
	text-transform: uppercase;
  }

  .location-nav-tabs .nav-tabs > li.active > a, 
  .location-nav-tabs .nav-tabs > li.active > a:hover, 
  .location-nav-tabs .nav-tabs > li.active > a:focus{
	background: #fff;
    border: none;
    color: #000;	  
  }
	
}


@media screen and (min-width:1024px){
.select-boxes .col-md-4 {
  padding-right: 0;
}
.contact-inner-area .col-md-3,.contact-inner-area .col-md-9{padding-right: 0;}
}


