@charset "utf-8";
/* CSS Document */
#thanksmessage {
    display: none
}
.gatted-asset-pg {
    padding: 0px 0 300px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.gated-asset-title {
    padding: 170px 0 85px 0;
}
.gated-asset-title h4, .gated-asset-title h1 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
}
.gated-asset-title .gated-content-type{
    font-family: "museo-slab", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    color: #008eaa;
    text-transform: uppercase;
    margin-top: 20px;
}
.gated-container {
    background: #ffffff;
    min-height: 530px;
    margin: 0;
}
.gated_asset {
    padding: 60px 35px 70px 15px !important;
}
.gated-heading {
    display: block;
    float: left;
    padding: 37px 0 40px;
    width: 100%;
}
.gated_asset h2 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
}
.gated_asset h3, .asset-desc-devices h3 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    text-transform: none;
    margin-top: 0;
}
.gated-heading h3 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    margin: 0
}
.gated-heading span {
    color: #cc0000;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}
.gated-pdf-desc{
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.375em;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 120%;
    color: #000;
}
.gated_asset ul,
.asset-desc-devices ul {    
    padding: 0;    
}

.gated_asset ul li,
.asset-desc-devices ul li {
    margin: 10px 0;
    list-style-type: none;
    background: url('../images/gated-square-bullet.png') 0 8px no-repeat;
    padding: 0 0 0 20px;
    line-height: 120%;
}

.gatted-asset-form {
    background-color: #fdfdfd;
    padding: 25px 0 30px 0;
    width: 100%;
    position: absolute;
    box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.2);
    z-index: 9;
    right: 0;
    top:0px;
}
.gatted-asset-form .form {
    float: left;
    padding: 0;
    width: 100%;
}
.gated-asset-thanks {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    color: #ffffff;
    display: none;
}
.gated-asset-thanks h1 {
    font-weight: 300;
    font-size: 3.2em;
    margin-top: -5px;
}
.gated-asset-thanks p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 120%;
}
.asset-down-container {
    display: none;
    padding-right: 0;
}
.gated-asset-download {
    background: #fdfdfd none repeat scroll 0 0;
    padding: 30px;
}
.btn-square-red.download-cta {
    background: #ce0000 none repeat scroll 0 0;
    margin-top: 25px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: normal;
}
.download-cta > a {
    color: #ffffff;
    padding: 18px 0;
    text-transform: none;
}
.download-cta .glyphicon-menu-right {
    top: 3px;
    font-size: 0.8125em;
    font-weight: 500;
}
.register-access{
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: #222222;
    text-align: center;
    padding: 0 30px;
    line-height: 120%;
    margin-bottom: 10px;
}
.gated-asset-subtitle {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: #222222;
    text-align: center;
    padding: 0 30px;
    line-height: 120%;
    display: none;
}
.gated-asset-subtitle span {
    font-family: "museo-slab", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 800;
    display: block;
    color: #008eaa;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.gated-asset-img {
    background: url('../images/gated-asset-bg-pattern.png') 0 0 repeat;
    margin: 0px 30px 30px;
    padding: 30px 0 0 0;
    border: 1px solid #666666;
}
.gated-asset-img.default{
    box-shadow: 0px 6px 10px #efefef;
    background-size:cover;
    padding: 0;
}
.gated-asset-img img{
    margin: 0 auto;
    border: 1px solid #666666;
    border-bottom: none;
    box-shadow: 6px -3px 12px #999;
    width:70%;
}
.gated-asset-img img#default-gated-img{
    width: 100%;
    border: none;
    box-shadow: none;
    display: none;
}

.gatted-asset-form .form .asset-form {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    padding: 0 30px;
}
.gated-asset-title .grey-bg {
    background-color: transparent;
    position: relative;
    margin-top: 5px;
}
.asset-form iframe {/*height:590px;*/
    width: 100%;
}
.gatted-asset-form h2 {
    color: #008eaa;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin: 0;
    padding: 0 0 20px;
}
.mb-cta-btn {
    margin: 30px 0 0;
    text-align: center;
}
.mb-cta-btn button[type="submit"] {
    background-color: transparent;
    background-image: none;
    border: 1px solid #ce0000;
    color: #ce0000;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.1em;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}
.mb-cta-btn button[type="submit"]:hover, .mb-cta-btn button[type="submit"]:focus {
    background-color: #ce0000;
    border: 1px solid #ce0000;
    color: #fff
}
.asset-form #gated-pdf-loader {
    background-color: #fff !important;
    display: none !important;
}
.share {
    background-color: #fff;
    padding: 28px 0 0 0;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 900;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: center;
}
.share .share-text {
    display: inline-block;
    margin-right: 10px;
}
.share .share-icon {
    display: inline-block;
}
.asset-desc-devices {
    padding-top: 10px;
}
.asset-desc-devices a.morelink {
    text-decoration:none;
    outline: none;
    display: block;
    text-align: center;
    border: 1px solid #cc0000;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    background: #cc0000;
}
.asset-desc-devices a.morelink.less {
    margin-top: 25px;
}
.asset-desc-devices .morecontent span {
    display: none;
}

.pdf-desc-less, .pdf-desc-more{display: none;}

.form-fill-msg {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    margin-top: 18px;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 120%;
    color: #000;
    display: none;
}

@media only screen and (max-width: 1024px) {
    .gated_asset h2 {
        font-size: 2em;
    }
    .asset-form {
        width: 100%;
    }
    .asset-form iframe {
        height: auto;
    }
    .gated_asset {
        padding: 0 15px 30px 15px;
    }
    .gatted-asset-form {
        min-height: auto!important;
        right: 15px;
    }
    .asset-down-container {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 991px) {
    .gatted-asset-pg {
        padding: 100px 0 0;
    }
    .gated_asset h2 {
        font-size: 2em;
    }
    .gated_asset {
        padding: 0 15px 30px 15px;
        display: none;
    }
    .gated-heading h3 {
        font-size: 1.5em;
    }
    .gated-heading span {
        font-size: 0.813em;
    }
    .gated-pdf-desc{font-size: 1.125em; line-height: 130%;}
    .form-fill-msg{font-size: 1.125em; line-height: 130%; margin-top: 40px; display: block;}
    .gatted-asset-form {
        padding: 30px 15px;
        min-height: auto!important;        
        position: relative;
        right: 0;
        text-align: left;
    }
    .grey-bg {
        padding: 0;
    }
    .gatted-asset-form h2 {
        font-size: 22px
    }
    .gated-container{
        margin: 0 15px 0;
        padding-bottom: 50px;
        background: none;
        display: none;
    }
    .asset-down-container {
        padding-right: 15px;
    }
    .gatted-asset-form .form .asset-form {
        padding: 0;
        margin-top: 10px;
    }
    .gated-asset-title {
        padding: 40px 0;
        text-align: center;
    }
    .gated-asset-title h4, .gated-asset-title h1 {
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    .gated-asset-title .gated-content-type {
        font-size: 1.24em;
        margin-bottom: 30px;
    }
    .register-access{
        font-size: 1.125em;
        font-weight: 600;
    }
    .gated-asset-subtitle {
        font-size: 1.125em;
        padding:0 0 15px 0;
        font-weight: 600;
    }
    .gated-asset-subtitle span {
        font-size: 1.125em;
    }
    .gated-asset-thanks {
        padding: 80px 0 30px 0;

    }
    .gated-asset-thanks h1 {
        font-size: 1.5em;
        margin-top: 0;
    }
    .gated-asset-thanks p {
        font-size: 1em;
    }
    .gated-asset-img{
        margin: 10px 0;
    }
    .share {
        border-top: 3px solid #333333;
    }
    .share .share-text {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .share .share-icon {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .gated_asset h2 {
        font-size: 1.5em
    }
    .gated-heading h3 {
        font-size: 1em;
    }
    .gated-heading span {
        font-size: 0.875em;
    }
    .gatted-asset-form {
        padding: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .gated_asset {
        padding-bottom: 30px;
        display: none;
    }
    .gated_asset h2 {
        font-size: 1.5em
    }
    .gatted-asset-form {
        padding: 30px 15px;
        min-height: auto;
        box-shadow: none;
    }
    .gatted-asset-form h2 {
        font-size: 1em;
        padding: 0 0 18px;
    }
    .resources {
        margin-top: 93px;
    }
}

@media only screen and (max-width: 1199px) {
    .asset-form {
        width: 100%;
    }
    .asset-form iframe {
        height: 675px;
    }
    .gated_asset {
        padding: 0 15px 30px 15px;
    }
}
 @media only screen and (max-width: 768px) {
    .share {
        text-align: center;
        padding: 15px 0;
        float: none;
    }
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
    .share {
        text-align: center;
        padding: 15px 0;
        font-size: 10px;
        float: none;
    }
}
.resources {
    margin-top: 40px;
    float: left;
    width: 100%;
}
.resources a {
    color: #ce0000;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.resources a:hover {
    color: #ac1f25;
}
.stickNav-container .resources a:hover {
    color: #000;
}
.resources .animateLink .animateIcon {
    font-size: 0.875em;
    top: 1px;
    transition: all 0.5s ease 0s;
}
.resources .animateLink:hover > .animateIcon {
    left: -5px;
}
 @media only screen and (max-width: 768px) {
.resources {
    text-align: center;
    margin: 30px 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .resources {
        text-align: center;
    }
}

.gatted-asset-form h3 {
    margin: 0;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    padding: 0 0 25px 0;
}

 @media only screen and (max-width: 768px) {
    .form {
        padding: 0!important;
    }
    .gatted-asset-form h3 {
        font-size: 1.125em;
        padding-bottom: 40px;
        font-weight: 600;
    }
    .asset-desc-devices h3 {
        font-size: 1.125em;
        padding-bottom: 15px;
        font-weight: 600;
    }
}

#gatedpagepromobox {
    display: none;
    background: rgba(0,142,170,0.3);
}
/* Resource Library - Newsletter Subscription */
iframe#resIframe {
    width: 100% !important;
}

/* Disclaimer Text CSS Code */
.gated-asset-disclaimer {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    padding: 0 30px;
    min-height: 40px;
    margin-top: 15px;
}
.disclaimer-link{
    margin: 0; 
    padding: 0;
}
.disclaimer-link a{
    color: #ce0000;
    text-transform: uppercase;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.845rem;
    text-decoration: none;
}
.disclaimer-desc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    max-width: 100%;
    background: #fefefe;
    z-index: 99999;
    padding: 30px;
    border: 1px solid #000;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    display: none;
    margin: 9px 0 0 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.4); 
    font-size: 1.125em;
    color: #000;
    font-weight: 300;  
}
.disclaimer-desc h3{
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    color: #000;
    margin-top: 5px;
}
.disclaimer-desc .close {
    width: 22px;
    height: 22px;
    background: url('../images/disclaimer-close.png') 0 0 no-repeat;
    opacity: 1;
}

.disclaimer-desc::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 26px;
    left: 65%;
    top:-26px;
    background: url('../images/disclaimer-arrow.png') 0 0 no-repeat;
}

 @media only screen and (max-width: 992px) {
    .gated-asset-disclaimer{
        padding: 0;
    }
    .disclaimer-desc{
        padding: 30px 15px;
    }
    .disclaimer-desc::before{
        left: 15%;
    }
 }
@media only screen and (max-width: 768px) {
.disclaimer-desc h3{
    font-size: 1em;
}
.disclaimer-desc{
    font-size: 1em;
}
}