@charset "utf-8";

/* CSS Document */

 #showGeo span.caret-arrow{
 background: url("../images/select-down-arrow_grey.png") no-repeat 0 0;
 width: 14px;
 height: 10px;
 display: inline-block;
}
#showGeo.active span.caret-arrow{
 background: url("../images/select-up-arrow_grey.png") no-repeat 0 0;
}

#showGeo span.labelText{
    left:0;
    position:relative;
    padding-right:3px;
}

.hds_globalNav_geo {
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 9999;
    width: 100%;
    display: none;
}
.hds_globalNav_geo-selc {
    background-image: url(../images/black-bg-transparent.png);
    background-repeat: repeat;
    padding: 34px 0 20px;
    float: left;
    width: 100%;
}
.hds_globalNav_geo-selc h2 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 19px;
    color: #fff;
    margin: 0;
    display: inline-block;
}
.hds_globalNav_geo-selc ul.nav li {
    border-color: #444444;
    border-style: solid;
    border-width: 1px 0 1px 1px;
}
.hds_globalNav_geo-selc ul.nav li:last-child {
    border-right: 1px solid #444444;
}
/*.hds_globalNav_geo-selc ul.nav{border-right: 1px solid #444444;}
.hds_globalNav_geo-selc ul.nav li:last-child{display:none;}
.tab-content > .tab-pane#regions{display:block; opacity:1; clear:both}
.tab-content > .tab-pane#regions .states-names{border-top: 1px solid #444444;}*/
.global-sel {
    position: relative;
}
.hds_globalNav_geo-selc .geo_close_btn {
    position: absolute;
    right: 25px;
    cursor: pointer;
    display: inline-block;
    background-image: url(../images/close-btn.png);
    background-repeat: repeat;
    width: 22px;
    height: 22px;
}
.hds_globalNav_geo-selc ul.nav li.active {
    border: 1px solid #b1000d;
}
.hds_globalNav_geo-selc ul.nav li a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: "museo-slab", Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.hds_globalNav_geo-selc ul.nav li a:hover {
    background-color: transparent;
}
.hds_globalNav_geo-selc ul.nav li.active a:after {
    content: '';
    display: block;
    position: absolute;
    left: 52%;
    bottom: -22%;
    width: 0;
    height: 0;
    margin-left: -23px;
    border-style: solid;
    border-width: 15px 14px 0 14px;
    border-color: #b1000d transparent transparent transparent;
    z-index: 9;
}
.hds_globalNav_geo-selc ul.nav li.active a {
    background-color: #b1000d;
}
.hds_globalNav_geo-selc .tab-content {
    color: #fff;
    display:block;
}
.hds_globalNav_geo-selc .tab-content .states-names {
    margin-top: 10px; overflow:hidden; padding-top:15px; padding-bottom:10px;
}
/*.tab-content>.tab-pane#regions .states-names{ background:none;}
.hds-MobileMenu .hds_globalNav_geo-selc .tab-content .states-names{ background:none;}*/
.hds_globalNav_geo-selc .tab-content .states-names ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width:1024px) {
    .hds_globalNav_geo-selc ul.nav li.active a:after{
        bottom: -20%;
    }
}
@media only screen and (min-width:769px) {
.hds_globalNav_geo-selc .tab-content .states-names ul{
    -moz-column-count:3;
    -moz-column-gap: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    column-count: 3;
    column-gap: 50px;
}
}
.hds_globalNav_geo-selc .tab-content .states-names ul li a {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
}
@media only screen and (max-width:768px) {
    .tab-content > .tab-pane#regions .states-names{border-top:none}
    .hds-mobile-navigation .hds_globalNav_geo{
    top:0;      
        position:relative;  
    }
    
    .hds-mobile-navigation .hds_globalNav_geo-selc{
    padding-left:0;
    padding-top:0;
    padding-bottom:10px;
    background:#fff;
    margin-bottom:15px;
    }
    
    .hds-mobile-navigation .hds_globalNav_geo-selc .megamenu-heading{
        border-bottom: 4px solid #f78e1e;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 0;
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .hds-mobile-navigation .tab-content > .tab-pane {
        display:block
    }
    
    .hds-mobile-navigation .states-names ul{
        width:100%;
        background:none;
    }
    
    .hds-mobile-navigation .hds_globalNav_geo-selc .tab-content .states-names ul li a{
        border: none;
        padding: 10px 0 10px 0;
        font-family: 'museo-sans', Helvetica, Arial, sans-serif;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        text-transform: none;
        color: #d42727;}
    .hds-mobile-navigation .hds_globalNav_geo-selc .tab-content{
        margin-left: -15px;
    margin-right: -15px
    }
    .hds-mobile-navigation .hds_globalNav_geo-selc .tab-content .states-names{
        margin-top:0px;
    }


    .hds-mobile-navigation .hds_globalNav_geo-selc h2 {
        text-align: left;
        font-weight: 300;
        font-size: 1.065rem;
        font-family: 'museo-sans', Helvetica, Arial, sans-serif;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
    } 
	.hds-mobile-navigation ul>li>a>span#localeName { right: auto; }
	/*.hds-mobile-navigation .hds_globalNav_geo-selc .tab-pane.active .megamenu-heading { background: #b1000d; border-bottom: 0px;}
	.hds-mobile-navigation .hds_globalNav_geo-selc .tab-pane.active h2 { color: #fff !important;}*/
}