/* Hero Resources Banner CSS*/
@media only screen and (max-width: 1024px){
  .res-signup-banner{
    padding-bottom: 0;
  }
  .res-signup-banner h1.headline{
    margin-top: 0;
  }
  .res-signup-banner .sub-headline{
    margin-bottom: 0;
  }
}
.resSubscription{
  margin-top: 80px;
}

.resSubscription iframe#resIframe {
    width: 100% !important;
    border:none; height:115px;
}
.res-subscribe {
  float: left;
  width: 290px;
  margin-right: 15px;
  margin-top: 40px;
}

.res-subscribe input {
  border: medium none;
  min-height: 36px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 62px;
  border: 2px solid #e6e6e6;
}

.res-subscribe-btn {
  float: left;
  width: 180px;
  margin-top: 40px;
}

#resource-search .errorSearchField {
  margin-bottom: 0;
  margin-top: 10px;
  display: none;
}

.gated-pdf {
   width: 21px;
   height: 21px;
   background: url("../images/gated-icon-black.png") no-repeat 0 0;
   display: inline-block;
   margin-right: 5px;
}
.gated-featured {
   width: 21px;
   height: 21px;
   background: url("../images/gated-icon-white.png") no-repeat 0 0;
   display: inline-block;
   margin-right: 5px;
}
@media only screen and (max-width:1024px) {
  .resSubscription {
      padding: 0 20% 0;
    margin-top: 36px;
  }
}
@media only screen and (max-width:991px) {
  .res-subscribe {
    float: none;
    margin: 0 auto;
  }

  .res-subscribe input {
  }

  .res-subscribe-btn {
    margin-top: 20px;
    width: 100%;
  }

  .res-subscribe-btn .btn-square-white {
    width: 180px;
    margin: 0 auto;
  }
  .resSubscription {
      padding: 0 15px;
  }

  .resSubscription iframe#resIframe {
      height:115px;
  }

  .searchArea .errorSearchField {
    margin-top: 10px;
  }
}
@media only screen and (max-width:568px) {
    .resSubscription{
    margin-top:0;
        padding: 0 15px;
  }
    .resSubscription iframe#resIframe {
      border:none; height:200px;
    }
}

.res-filters-search {
  margin: 45px auto 10px;
}

.res-filters-search .resource-search {  
  position: relative;
  padding: 0;
}

.res-filters-search .resource-search input {
  border: medium none;
  min-height: 65px;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
  padding-left: 15px;
  padding-right: 90px;
  outline: none;
  border: 5px solid #e6e6e6;
  box-shadow: none;
  border-radius: 0;
}

.res-filters-search .resource-search input::-webkit-input-placeholder {
color: #414141 !important;
}
.res-filters-search .resource-search input:focus::-webkit-input-placeholder {
color: #cccccc !important;
} 
.res-filters-search .resource-search input::-moz-placeholder {  /* Firefox 19+ */
color: #414141 !important;  
}.res-filters-search .resource-search input:focus::-moz-placeholder {  /* Firefox 19+ */
color: #cccccc !important;  
} 
.res-filters-search .resource-search input:-ms-input-placeholder {  
color: #414141 !important;  
}.res-filters-search .resource-search input:focus:-ms-input-placeholder {  
color: #cccccc !important;  
}

.res-filters-search span.glyphicon.glyphicon-search {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 2.2em;
  color: #cc0000;
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}

.res-filters-search .resource-filters {

  padding: 0 15px 0 0;
  margin: 15px 0 0 0;
  display: none;
  position: relative;
  text-align: right;
}
.res-filters-search .resource-filters .disable-filter{
  position: absolute;
  height: 25px;
  width: 100%;
  top: 0;
  opacity: 0.5;
  background: #ffffff;
}

.res-filters-search .resource-filters .filterby {
  margin: 0 60px 0 0px;

  padding: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;

  text-align: right;
}
.res-filters-search .resource-filters .filterby:last-child {
    margin-right: 15px;
}

.res-filters-search .resource-filters .filterby.active:after {
  content: '';
  position: relative;
  left: 44%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 14px solid #f1f1f1;
  z-index: 9;
  display: block;
}

.res-filters-search .resource-filters .filterby .title {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #cc0000;
  font-weight: 800;
  display: inline-block;
  margin-right: 6px;
}


.res-filters-search .resource-filters .filterby span.caret-arrow{
 background: url("../images/select-down-arrow.png") no-repeat 0 0;
 width: 14px;
 height: 10px;
 display: inline-block;
}
.res-filters-search .resource-filters .filterby.active span.caret-arrow{
 background: url("../images/select-up-arrow.png") no-repeat 0 0;
}

.res-filters-search .filters-section {
  margin: 0 auto;
  padding: 0;
  display: none;
  position: relative;
  margin-right: 15px;
}

.res-filters-search .filters-list {
  background: #f1f1f1;
  padding: 30px;
  box-shadow: 0 3px 6px #dedede;
  position: absolute;
  z-index: 10;
}

.res-filters-search .filters-list ul {
  list-style-type: none;
  
}

.res-filters-search .filters-list ul li {
  float: left;
}
.res-filters-search .filters-list ul li:nth-child(3n+1) {
  clear:both;
}

.res-filters-search .filters-list  .checkbox label {
  font-size: 1rem;
  color: #414141;
}

.res-filters-search .filters-list  input[type="checkbox"]+label:before {
  background: url('../images/radion-btn-white-sprite.png') no-repeat top left;
  background-position: 1px 1px;
  content: " ";
}

.res-filters-search .filters-list  input[type="checkbox"]:checked+label:before {
  background-position: 1px -19px;
}

.res-filters-search .filters-list .show-results {
  max-width: 200px;
  margin: 10px auto 5px;
}

.tagList {
  margin: 15px 0 5px 0;
  min-height: 26px;
}

.groupedby {
  font-weight: bold;
  display: inline;
}

.groupedby .label {
  color: #000000;
  display: none;
  padding: 5px 5px 5px 0;
  font-size: 0.8125rem;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  text-transform: none;
}
.groupedby #filterTag .label{display:none;}
.groupedby .keyword-filter,
.groupedby .keyword-subcat,
.groupedby .keyword,
.groupedby .filter-product {
  color: #000000;
  display: inline;
}

.groupedby .keyword-filter .filterKeyword,
.groupedby .keyword-subcat .filterKeyword,
.groupedby .keyword .filterKeyword,
.groupedby .filter-product .filterKeyword {
  font-size: 0.8125rem;
  font-weight: normal;
  color: #333333;
  display: inline-block;
  margin-right: 15px;
}

.groupedby .keyword-filter .filterKeyword .closeFilter,
.groupedby .keyword-subcat .filterKeyword .closeCat,
.groupedby .keyword .filterKeyword .closeKeyword,
.groupedby .filter-product .filterKeyword .closeProduct {
  display: inline-block;
  cursor: pointer;
  line-height: 10px;
  width: 8px;
  text-align: center;
  color: #333333;
  font-size: 0.937rem;
  margin-left: 5px;
  height:10px;
  top:3px;
}

.search-overlay {
  background: #cc0000;
  padding: 35px 15px;
}

.search-overlay .launchLink {
  padding: 0;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 290px;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8125rem;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.15em;
}
.search-overlay .launchLink a{ display: block; padding:6px 35px; color: #ffffff; text-decoration: none;}

.res-filters-search .search-overlay span.glyphicon.glyphicon-search {
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
  right: 0;
  top: 5px;
}

@media only screen and (max-width:991px) {
  .res-filters-search {
    margin: 0 auto 0;
  }
  .res-filters-search .filters-list{
    display:none;
  }

}

/********************/
.overRidePadding {
  padding-right: 0 !important;
  margin-bottom: 15px;
}

.overRideRight {
  padding-right: 0 !important;
}

.overRideleft {
  padding-left: 0 !important;
}

.resources-results {
  padding-bottom: 30px;
  display: block;
  position: relative;
}

.resources-results .asideWrapper {
  padding: 0;
}

.resources-results .asideWrapper .clear-results {
  padding-top: 22px;
  text-align:center;
}

.resources-results .resources-listing {
  background: #f1f1f1;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  padding: 0;
}

.resources-listing ul {
  list-style: none;
  margin: 0;
  padding: 0 0;
}

.resources-listing ul > li {
  margin: 0;
  padding: 0 20px;
  position: relative;
}

.resources-listing ul > li > a {
  border-bottom: 3px solid #c5c5c5;
  padding: 22px 24px 22px 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75rem;
  font-weight: 900;
  color: #414141;
  position: relative;
}

.resources-listing ul > li:last-child a {
  border-bottom: none;
}

.resources-listing ul > li.active {
  background: #414141;
}

.resources-listing ul > li.active:not(:first-child):before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  width: 100%;
  height: 0;
  border-top: 3px solid #f1f1f1;
  z-index: 9;
}

.no-touch .resources-listing ul > li.active > a:after,
.touch .resources-listing ul > li.active > a:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -9px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #414141;
  z-index: 8;
}

.resources-listing ul > li.active > a {
  color: #ffffff;
  border-bottom: none;
  font-size: 0.75rem;
}

.resources-listing ul > li > a > span {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
}

.resources-listing ul > li .icon-accordion-closed {
  display: inline-block;
}

.resources-listing ul > li .icon-accordion-opened {
  display: none;
}

.resources-listing ul > li.active .icon-accordion-closed {
  display: none;
}

.resources-listing ul > li.active .icon-accordion-opened {
  display: inline-block;
}

.resources-listing ul > li > ul {
  display: none;
  background: #7e7e7e;
  margin-right: -20px;
  margin-left: -20px;
  padding: 4px 0;
}

.resources-listing ul > li.active > ul {
    display: block;
}

@media only screen and (max-width:1280px) {
.touch .resources-listing ul > li.active > a:after{  
  margin-left: 15px;
}

}


@media only screen and (max-width:1024px) {
  .resources-listing ul > li > ul {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media only screen and (max-width:991px) {
  .resources-listing ul > li:last-child a {
    border-bottom: none;
  }

  .resources-results {
    padding-left:0;
    padding-right: 0;
  }
}

/*************/
.spolightresults{
  min-height:560px;
}
.result-resources {
  background: #ffffff;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  padding: 0 0 0 35px;
  position: relative;
  min-height: 400px;
  margin-right: -15px;
}

.result-resources .resource-heading {
  border-bottom: 12px solid #f78e1e;
}

.result-resources .resource-heading h2 {
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #008eaa;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.result-resources .category-resources-listing{
  margin-left: -15px;
    margin-right: -15px;
  margin-top: 35px;
}
.result-resources .category-resources-listing .resource {
  border-bottom: 3px solid #c5c5c5;
  padding: 30px 0 30px 0;
  display: none;
}

.result-resources .category-resources-listing .resource.visible {
  padding: 30px 0 30px 0;
  display: block;
  margin: 0 15px;
}
.result-resources .category-resources-listing .resource.visible:last-child{
  border-bottom: none !important;
}

.result-resources .category-resources-listing .resource:last-child {
  border-bottom: none;
}

.result-resources .category-resources-listing .resource .type {
  text-transform: uppercase;
  font-family: Arial;
  font-size: 0.8125rem;
  color: #999999;
  margin-bottom: 5px;
}

.result-resources .category-resources-listing .resource h3 {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-transform: none;
}

.result-resources .category-resources-listing .resource h3 a {
  color: #cc0000;
  text-decoration: none;
}

.result-resources .category-resources-listing .resource h3 span.glyphicon.glyphicon-menu-right.animateIcon {
  font-size: 1rem;
  font-weight: bold;
  top:1px;
}

.result-resources .category-resources-listing .resource p {
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 0;
}

.result-resources .category-resources-listing .resource > a {
  font-size: 0.8485rem;
  color: #ce0000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}

.result-resources .category-resources-listing .resource > a:hover {
  color: #ac1f25;
}

/**** Resources Spotlight ****/
.res-spotlight-group {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.resources-spotlight {
  margin-bottom: 25px;
  box-shadow: 0 2px 3px #999;
  color: #ffffff;
  position: relative;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  min-height: 435px;
  background-size: cover;
  background-position: 50% 50%;
}

.resources-spotlight.spotlight-normal {
  margin-top: 30px;
  min-height: 175px;
  background: #ffffff;
}

.resources-spotlight .spotlight-mobile {
  min-height: 230px;
}

.resources-spotlight .spotlight-content {
  position: absolute;
  bottom: 30px;
  padding: 0 20px 0 30px;
}

.resources-spotlight .spotlight-content .icon {
  display: table-cell;
}

.resources-spotlight.spotlight-normal .spotlight-content .type {
  color: #000000;
}

.resources-spotlight .spotlight-content .type {
  color: #ffffff;
  display: table-cell;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding-left: 10px;
  padding-top: 2px;
  text-transform: uppercase;
  vertical-align: middle;
}

.resources-spotlight .spotlight-content .description {
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  margin: 12px 0;
}

.resources-spotlight.spotlight-normal .spotlight-content .spotlight-title {
  color: #000000;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 500;
}

.resources-spotlight .spotlight-content .spotlight-title {
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 5px;
  font-size: 1.4rem;
  line-height: 120%;
}

.resources-spotlight .spotlight-content .spotlight-title a {
  font-weight: 600;
}

.resources-spotlight .spotlight-content .spotlight-title .glyphicon.glyphicon-menu-right.animateIcon {
  font-size: 1rem;
  top: 2px;
}

.resources-spotlight .spotlight-content .spotlight-description {
  font-size: 1.2rem;
  line-height: 1.3em;
  font-family: Arial, sans-serif;
}

.resources-spotlight .spotlight-content .spotlight-more {
  font-weight: 800;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.resources-spotlight .spotlight-content .spotlight a {
  color: #ffffff;
  outline: 0 none;
  text-decoration: none;
  text-transform: uppercase;
}

.resources-spotlight .spotlight-content a {
  color: #ffffff;
  outline: 0 none;
  text-decoration: none;
}

.resources-spotlight .spotlight-content a:hover {
  color: #ffffff;
}

.resources-spotlight.spotlight-normal .spotlight-content {
  position: static !important;
  padding: 25px 30px;
  min-height: 185px;
}

.resources-spotlight.spotlight-normal .spotlight-content .read-more {
  font-size: 0.8125rem;
}

.resources-spotlight.spotlight-normal .spotlight-content .read-more a {
  color: #cc0000;
  font-weight: 800;
  outline: 0 none;
  text-decoration: none;
  text-transform: uppercase;
}

.resources-spotlight.spotlight-normal .spotlight-content .read-more a:hover {
  color: #AC1F25;
}

@media only screen and (max-width:1024px) {
  .resources-spotlight h2 {
    font-size: 1.25rem;
  }

  .resources-spotlight .col-md-4 {
    padding-left: 15px;
  }

  .resources-spotlight .col-md-4:last-child {
    padding-right: 15px;
  }
  .res-filters-search .resource-filters .filterby{
    margin-right: 15px;
  }
  .result-resources {
    padding-left: 15px;
  }
  .resources-listing ul > li{
    padding: 0 15px;
  }
  .resources-listing ul > li > a{
    padding-right: 24px;
  }

}

@media only screen and (min-width:768px) and (max-width:991px) {
  .result-resources {
    padding: 0;
    margin-right: 0;
  }

  .resources-spotlight .col-md-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

@media only screen and (max-width:991px) {
  .result-resources {
    padding: 0;
    margin-right: 0;
  }

  .resources-spotlight {
    padding-top: 0;
    padding-bottom: 0;
  }

  .orange-sep {
    margin: 0 15px;
  }

  .resources-spotlight h2 {
    margin-bottom: 0;
    padding-bottom: 30px 15px 15px;
  }

  .resources-spotlight .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .resources-spotlight .col-md-4:last-child {
    padding-right: 15px;
  }

  .resources-spotlight h2 {
    color: #000000;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 23px 15px 19px;
    text-align: center;
  }

  .resources-spotlight {
    min-height: 0;
  }

  .resources-spotlight .spotlight-content {
    position: static;
    color: #414141;
    padding: 20px;
    background: #ffffff;
  }

  .resources-spotlight .spotlight-content .date-stamp.hidden-sm.hidden-md.hidden-lg > span {
    display: table-cell;
    vertical-align: top;
    padding-left: 5px;
  }

  .resources-spotlight .spotlight-content .spotlight-title {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 0;
  }

  .resources-spotlight h2 span.glyphicon.glyphicon-menu-right.animateIcon {
    font-size: 0.8125rem;
    font-weight: bold;
    top: 0px;
  }

  .resources-spotlight .spotlight-content .spotlight-title .glyphicon.glyphicon-menu-right.animateIcon {
    font-size: 0.8125rem;
    top: 2px;
    font-weight: bold;
  }

  .resources-spotlight .spotlight-content .icon {
    display: table-cell;
  }

  .resources-spotlight .spotlight-content .type {
    color: #000000;
  }

  .resources-spotlight .spotlight-content .description {
    color: #000000;
  }

  .resources-spotlight .spotlight-content .spotlight-description {
    font-size: 0.875rem;
  }

  .resources-spotlight .spotlight-content .spotlight a {
    color: #000000;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
  }

  .resources-spotlight .spotlight-mobile {
    min-height: 350px;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
  }

  .resources-spotlight .spotlight-content a {
    color: #000000;
    outline: 0 none;
    text-decoration: none;
    font-size: 0.8125rem;
  }

  .resources-spotlight .spotlight-content a:hover {
    color: #000000;
  }

  .resources-spotlight.spotlight-normal {
    min-height: 0;
  }

  .resources-spotlight.spotlight-normal .spotlight-content {
    min-height: 0;
  }

  .resources-spotlight.spotlight-normal .spotlight-content .spotlight-title {
    font-size: 0.875rem;
  }

}

@media only screen and (max-width:480px) {
  .spolightresults{
    margin-top: 50px;
  }
  .resources-spotlight .spotlight-mobile {
    min-height: 230px;
  }

  .resources-spotlight .spotlight-content .spotlight-title a {
    font-weight: 600;
    color: #000000;
  }

  .resources-spotlight .spotlight-content .spotlight-title a:hover {
    font-weight: 600;
    color: #000000;
  }

}

ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  display: block;
  overflow: hidden;
  padding: 25px 5px 5px 0;
  margin: 0;
  text-align: center;
}

.simple-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.simple-pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
}

/*------------------------------------*\
  Compact Theme Styles
\*------------------------------------*/
.compact-theme a,
.compact-theme span {
  float: left;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #AAA;
  border-left: none;
  min-width: 14px;
  padding: 0 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
}

.compact-theme a:hover {
  text-decoration: none;
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #bbbbbb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* IE10+ */
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a,
.compact-theme li:first-child span {
  border-left: 1px solid #AAA;
  border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a,
.compact-theme li:last-child span {
  border-radius: 0 3px 3px 0;
}

.compact-theme .current {
  background: #bbbbbb; /* Old browsers */
  background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbbbbb), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* IE10+ */
  background: linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* W3C */
  cursor: default;
}

.compact-theme .ellipse {
  background: #EAEAEA;
  padding: 0 10px;
  cursor: default;
}

/*------------------------------------*\
  Light Theme Styles
\*------------------------------------*/
.light-theme a,
.light-theme span {
  float: left;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  min-width: 14px;
  padding: 2px 10px;
  margin: 0 5px 0 0;
}

.light-theme a:hover {
  text-decoration: none;
  background: #FCFCFC;
}

.light-theme .current {
  background: #cc0000;
  color: #FFF;
  border-color: #444;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
  cursor: default;
}

.light-theme .ellipse {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
  cursor: default;
}

.light-theme a.page-link.next,
.light-theme a.page-link.prev {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.light-theme span.current.next,
.light-theme span.current.prev {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  visibility: hidden;
}

@media only screen and (max-width:768px) {
  .light-theme a, 
  .light-theme span{
    padding-left:8px;
    padding-right:8px;
  }
}

@media only screen and (max-width:480px) {
  .light-theme a, 
  .light-theme span{
    font-size:0.8125rem;
  }
}

/* Resources Mobile Overlay */
.bgCover {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  overflow: hidden;
  z-index: 9998;
}

.overlayBox {
  background-color: #fff;
  width: 100%;
  z-index: 9999;
  display: none;
  height: 100%;
  overflow: scroll;
}

.overlayBox .heading {
  padding: 15px 15px 12px;
  position: relative;
}

.overlayBox .heading .close-search {
  top: 15px;
  position: absolute;
  right: 20px;
  width:18px;
  height: 18px;
}

.overlayBox .heading h3 {
  margin: 0;
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
}

.overlayBox .filtrSideBar {
  background: #f1f1f1;
}

.overlayBox .searchArea {
  width: 100%;
  background: #f1f1f1;
  padding: 15px 15px 25px;
  position: relative;
}

.overlayBox .searchArea > input {
  min-height: 35px;
  font-size: 0.875rem;
  padding-right: 40px;
}

.overlayBox .searchArea input {
  border: medium none;
  min-height: 45px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 62px;
  border: 2px solid #e6e6e6;
}

.overlayBox .searchArea span.glyphicon.glyphicon-search {
    top: 8px;
    font-size: 1.9rem;
    right: 10px;
}

.overlayBox .topFilter {
  margin-top: -11px;
  background: #f1f1f1;
  position: relative;
}

.topFilter .disable-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9;
    opacity: 0.5;
}

.overlayBox .topFilter h4 {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #cc0000;
  font-weight: 800;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
}

.overlayBox .topFilter h4.last {
  border-top: 3px solid #c5c5c5;
}

.overlayBox .FilterAreaBtnPop {
  padding: 35px 0 20px;
}

.overlayBox .FilterAreaBtnPop .show-results {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.overlayBox .FilterAreaBtnPop .clear-results {
  margin-top: 15px;
  text-align: center;
}

.overlayBox .FilterAreaBtnPop .clear-results .btn-square-red {
  border: none;
  font-weight: 800;
}
.overlayBox .FilterAreaBtnPop .clear-results .btn-square-red a:hover {
  background: #fff;
  color: #cc0000;
}

.FilterAreaIndustry {
}

.FilterAreaIndustry ul.FilterByIndustryList,
.FilterAreaContent ul.FilterByContentList {
  list-style: none;
  margin: 0;
  padding: 0 0;
}

.FilterAreaIndustry ul.FilterByIndustryList > li,
.FilterAreaContent ul.FilterByContentList > li {
  margin: 0;
  padding: 0 20px;
  position: relative;
}

.FilterAreaIndustry ul.FilterByIndustryList > li.col-xs-4,
.FilterAreaContent ul.FilterByContentList > li.col-xs-4 {
  width: 100%
}

.FilterAreaIndustry ul.FilterByIndustryList > li .checkbox label,
.FilterAreaContent ul.FilterByContentList > li .checkbox label {
  display: block;
  text-decoration: none;
  color: #414141;
  position: relative;
  padding-top: 2px;
}
.FilterByIndustryList input[type="checkbox"],
.FilterByContentList input[type="checkbox"],
.FilterAreaIndustry  input[type="checkbox"],
.FilterAreaContent  input[type="checkbox"]{
   opacity: 0;
}
.FilterAreaIndustry  input[type="checkbox"]+label:before,
.FilterAreaContent  input[type="checkbox"]+label:before {
  background: url('../images/radion-btn-white-sprite.png') no-repeat top left;
  background-position: 0 1px;
  content: " ";
}

.FilterAreaIndustry  input[type="checkbox"]:checked+label:before,
.FilterAreaContent  input[type="checkbox"]:checked+label:before {
  background-position: 0 -20px;
}

.closeOverlay{
    background-image:url(../images/sprites/close.png);
    background-repeat:no-repeat;
    display:block;
    text-indent:-9999px;
}


.result-resources #loading{
    background: url("../images/load-indicator.gif") no-repeat 50% 0 #fff;
    top:60px;
    height: 470px;
    left: 3px;
    z-index:8;
}

.clearSearchIcon{
    position: absolute;
    right: 71px;
    top: 27px;
    cursor: pointer;
    display:none;
}

.spotlight-content .spotlight-image-icon{
  height: 30px;
    width: 30px;
}
@media only screen and (max-width:991px) {
  .overlayBox .searchArea input{
    padding-right: 75px;
  }
  .clearSearchIcon{
    right: 50px !important;
    top: 16px !important;
  }
}

.cover {
  background: transparent;
  -moz-opacity: 0;
  opacity:0;
  filter: alpha(opacity=0);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.overflow-mobile{
  height:100%;
}

.one-column.product-solutions{
    height: 100%;
    overflow: auto;
}

.sortResources {
    float: right;
    position: relative;
    display: none;
    margin-top: -3px;
}
.sortResources .sort-by-button {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #cc0000;
    font-weight: 800;
    display: inline-block;
    border: 1px solid #ffffff; 
    border-bottom: none; 
	background:#ffffff;
}
.sortResources .sort-by-button.border{
    border: 1px solid #cccccc;
    border-bottom: none;
}
.sortResources .sort-by-button .slabel {
    float: left;
}
.sortResources .sort-by-button .stitle {
    float: left;
    margin-left: 5px;
    margin-right: 12px;
}
.sortResources .sort-by-button .caret-arrow {
    background: url("../images/select-down-arrow.png") no-repeat 0 0;
    width: 14px;
    height: 10px;
    display: inline-block;
}
.sortResources .sort-by-list {
    display: none;
    margin: 0;
    padding: 5px 0 0;
    border: 1px solid #cccccc;
    border-top: none;
    position: absolute;
    width: 100%;
    background: #ffffff;
    top: 41px;
    z-index: 9;
}
.sortResources .sort-by-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sortResources .sort-by-list ul li {
    padding: 5px 15px;
    cursor: default;
}
.sortResources .sort-by-list ul li a{
  color: #333333;
  text-decoration: none;
  display: block;
}
.sortResources .sort-by-list ul li.selected{
    background: #efefef;
}
.sortResources .sort-by-list ul li:hover {
    background: #efefef;
}

@media only screen and (max-width:991px) {
    .sortResources {
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 1;
    }
    .result-resources .category-resources-listing {
        margin-top: 20px;
    }
}