/* HDS Community Section */
.hds-community-section {
  background-color:#f1f1f1;
  padding: 0;
  position: relative;
  z-index: 2;
}

.hds-community-section .hds-community-container {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 45px 15px 50px;
}

.hds-community-section .hds-community-container .hds-title {
  font-size: 3.125em;
  font-weight: 100;
  margin-bottom: 40px; 
  text-transform: none; 
  color: #333333;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.hds-community-section .hds-community-container .row{
  margin-left:0;
}

.hds-community-section .hds-community-container .col-md-6 {
    padding-left: 0;
    width:100%;
}
.hds-community-section .hds-community-container .col-md-6:last-child {
    padding-right: 15px;
}

.hds-community-section .hds-community-container h2{
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 1.55rem;
  font-weight: 500;
  color: #000000;
  margin:0;
  min-height:55px;
}
.hds-community-section h2 span.glyphicon.glyphicon-menu-right.animateIcon {
    top: 0px;
    font-size: 1rem;
}

.hds-community-section .hds-community-container .community-common-box br{display:none}

.hds-community-section .hds-community-container .community-common-box{
  background: #ffffff;
  margin:0 0 20px 0; 
  padding: 25px 25px 30px;
  min-height: 170px;
  box-shadow: 1px 3px 6px #999;
  position: relative; 
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
}
.hds-community-section .hds-community-container .community-common-box h5{
  color: #000000;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 15px 0;
}
.hds-community-section .hds-community-container .community-common-box .icon{
  display: table-cell;
}
.hds-community-section .hds-community-container .community-common-box .author{
  display: table-cell;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #010000;
  letter-spacing: 0.04em;
  padding-left: 10px;
  padding-top: 2px;
  vertical-align: middle;
  font-weight: 600;
}
.hds-community-section .hds-community-container .community-common-box .description{
  font-size: 1.125em;font-family: 'museo-sans', Helvetica, Arial, sans-serif;font-weight:300;
  color: #000000;
  margin: 12px 0 25px 0;
}

.hds-community-section .hds-community-container .community-common-box .comm-read-more{
  font-size: 0.8125em;
}
.hds-community-section .hds-community-container .community-common-box .comm-read-more a{
  color: #ce0000;
  font-weight: 800;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;  
}
.hds-community-section .hds-community-container .hds-community-join{
  text-align: center; 
  font-size: 0.8125em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
}

.hds-community-section .hds-community-container .hds-community-join a{color:#ce0000; outline: 0 none; text-decoration: none; font-weight:800;}
.hds-community-section .hds-community-container .hds-community-join a:hover {color: #ac1f25;}
.hds-community-section .hds-community-container .community-common-box .comm-read-more a:hover{color:#ac1f25}
@media screen and (max-width: 991px) {
  .hds-community-section .hds-community-container{
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .hds-community-section .hds-community-container .col-md-6 {
    padding-right: 15px;
  }
  .hds-community-section .hds-community-container h2{
    color: #000000;
    font-size: 1.45rem;
    font-weight: 600;
    padding: 23px 15px 19px;
    text-align: center;
  }
  .hds-community-section h2 span.glyphicon.glyphicon-menu-right.animateIcon {
    top: 1px;
  }
  .hds-community-section .hds-community-container .hds-title{
    font-size: 1.875rem;
    margin-bottom: 25px;
  }
  .hds-community-section .hds-community-container .community-common-box{
    padding-left: 20px; 
    padding-right: 20px;
    min-height: 190px;
  }
  .hds-community-section .hds-community-container .community-common-box .description{
    /* font-size: 0.875rem; */
	font-size: 1em;
    margin-bottom: 15px;
  }
  .hds-community-section h2 span.glyphicon.glyphicon-menu-right.animateIcon {
    font-size: 0.8125rem;
    font-weight: bold;
    top: 1px;
  }
  .hds-community-section .hds-community-container .col-sm-4{
    padding-left: 15px;
  }
  .hds-community-section .hds-community-container .community-common-box h5{
    font-size: 1rem;
  }
}

/* Tech Specification - Table Grid & Product Details */

.spec-section .spec-container{padding-top: 50px;}
.spec-section .spec-container .spec-title{margin-bottom: 40px;}
.spec-section .spec-container .spec-title .spec-download-pdf{ text-transform: uppercase; font-size: 0.8125rem; float: right; margin-top: 35px; }
.spec-section .spec-container .spec-title .spec-download-pdf a {
    color: #ffffff;    
    font-weight: 800;
    outline: 0 none;
    text-decoration: none;
    letter-spacing: .15em;
}
.spec-section .spec-container .spec-title a:hover {
    color: #ffffff;
}
.spec-section .tbd-dl{
  text-align: center;
  max-width: 375px;
  margin: 45px auto 35px;
}

.spec-section .tbd-dl .dl-specs{
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
  min-width: 375px;
}

.spec-section .tbd-dl .dl-specs:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.spec-section .tbd-dl .dl-specs:hover a {
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(2n+1){color: #000000;}
.specs-table{width: 100%;}
.tech-specs-pro-name{width:16.6667%;}
.tech-specs-pro-types{width:83.3333%;}
.table-striped > tbody > tr > th{color: #ff0000; width:16.6667%; text-align: left; font-size: 1.2rem; padding: 30px 15px; line-height: 1.2em; }
.table-striped > tbody > tr > th.tech-specs-pro-name{
	font-size: 1.125em;
    font-weight: 500;	
}

.table-striped > tbody > tr:nth-of-type(odd) > th{background-color: #077a8f; color: #ffffff;}
.table-striped > tbody > tr:nth-of-type(even) > th{background-color: #018eaa; color: #ffffff;}

.table-striped > tbody > tr:nth-of-type(odd){background-color: #d5d5d5; color: #000000;}
.table-striped > tbody > tr:nth-of-type(even){background-color: #ebebeb; color: #000000;}

.table-bordered{border: 1px solid #ffffff;}
.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > th, 
.table-bordered > tfoot > tr > td
{
  border: none;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
{
  border: none;
  border-right: 1px solid #ffffff;
  text-align: left;
  vertical-align: middle;
}
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td{
  vertical-align: top;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-right: 1px solid #ffffff;
}

.pro-type{width: 100%; color:#008eaa; font-weight: 500; font-size: 1.125em;}
.pro-category{width: 100%; font-size: 1.125em; color: #333333; font-weight: 300; font-family: "museo-sans",Helvetica,Arial,sans-serif;}
.pro-category > span {
    display: block;
    margin: 0 0 10px;
}
#no-more-tables{
	margin: 0 0 45px;	
}
.specs-table .tbl-foot-caption i{
	font-weight: bold;	
}

.vsp-soft-products {
	margin:0 0 45px;
 } 
.vsp-soft-products .vsp-soft-products-title {
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
  }
.vsp-soft-products .accordion-level .accordion-menu-container {
  padding: 0 0px;
}
.vsp-soft-products .accordion-level .accordion-content{
  display: none;
  background: #ffffff;
}
.vsp-soft-products .accordion-level .accordion-content.open{
  display: block;
}
.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu {
  position: relative;
  background-color: #f1f1f1;
  color: #333333;
  min-height: 50px;
  margin: 0;
  padding: 20px 15px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.vsp-soft-products .accordion-menu-container::after{background-color: #c5c5c5;
    content: "";
    display: block;
    height: 3px;
    width: 100%;}

.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu:hover {
  cursor: pointer;
}

.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu .acc-label {
  position: relative;
  padding-left: 15px;
  padding-right: 25px;
}

.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu .icon-accordion-closed {
  display: inline-block;
}

.vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu .icon-accordion-opened {
  display: none;
}

.vsp-soft-products .accordion-level .accordion-menu-container.open {
  background-color: #414141;
}

.vsp-soft-products .accordion-level .accordion-menu-container.open:after {
  content: "";
  display: none;
}

.vsp-soft-products .accordion-level .accordion-menu-container.open .accordion-menu {

  background-color: #414141;
  color: #ffffff;
}

.vsp-soft-products .accordion-level .accordion-menu-container.open .accordion-menu .icon-accordion-closed {
  display: none;
}

.vsp-soft-products .accordion-level .accordion-menu-container.open .accordion-menu .icon-accordion-opened {
  display: inline-block;
}

.vsp-soft-products .accordion-level-last .accordion-menu-container:after {
  display: none;
}

.vsp-soft-products-details{color: #333333; border-bottom: 3px solid #c5c5c5; padding:30px 0 25px; margin: 0 25px; }
.vsp-soft-products-details:last-child{border-bottom: none;}

.vsp-soft-products-details .col-sm-4{padding-left: 0;}
.vsp-soft-products-details .col-sm-8{padding-right: 0;}
.vsp-soft-products-details .product-name{margin-bottom: 25px; font-size: 1.4rem;}

.vsp-soft-products-details div.product-name span.glyphicon.glyphicon-menu-right {
    top: 4px;
}
.vsp-soft-products-details .product-download{
    color: #cc0000;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;}
.vsp-soft-products-details .product-download a{
    color: #cc0000;
}
.vsp-soft-products-details .product-email{
    color: #cc0000;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: .15em;
}
.vsp-soft-products-details .product-email a{
    color: #cc0000;
}
.vsp-soft-products-details .product-email span.glyphicon.glyphicon-menu-right{top:2px;}

.vsp-soft-products-details .product-desc p{
    font-size: 1.1rem; font-weight: 300; margin-bottom: 30px; line-height: 1.4em;
}
.vsp-soft-products-details .product-desc p:last-child{margin-bottom: 0;}

.vsp-soft-products-details .product-desc p > a.read-more, .vsp-soft-products-details .product-desc p > a.read-less{
    color: #cc0000; font-size: 0.9rem; font-weight: 600; text-decoration: none;
}

.specs_h2 h4{
	font-size: 1.28571em;
	font-weight: 500;
	text-align: center;
}

@media only screen and (max-width: 768px) {

.spec-section{background:#ffffff;}
.spec-section .spec-container{padding-top: 50px; background: url("../images/prod-sol-bg-tech-spec.png") no-repeat 50% 50%;  background-size: cover;}
  /* Tech Specification - Table Grid & Product Details */
  #no-more-tables {
    margin-bottom: 45px;
  }
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }

   #no-more-tables tr{
    margin-bottom: 15px;
   }

  .table-bordered{border: none;}
  .table-bordered > thead > tr > th, 
  .table-bordered > thead > tr > td, 
  .table-bordered > tbody > tr > th, 
  .table-bordered > tbody > tr > td, 
  .table-bordered > tfoot > tr > th, 
  .table-bordered > tfoot > tr > td{
    border-bottom: 1px solid #ffffff;
  }

  #no-more-tables td.tech-specs-pro-name{width:100% !important; padding-left: 0 !important; text-align: center;}
  #no-more-tables td.tech-specs-pro-types{width:100% !important; padding-left: 0 !important; text-align: center;}

 .table-striped > tbody > tr > th{width:100%; text-align: center; font-size: 1.0rem; padding: 15px;}
 .table-striped > tbody > tr > td{width:100%; text-align: center; font-size: 0.8rem; padding: 15px;}

 .pro-type{width: 40%; float: left; text-align: left; font-size: 1.0rem;} 
 .pro-category{width: 60%; float: left; text-align: left;font-size: 0.9rem;}


  .vsp-soft-products {margin:0 0 45px 0;}
  .vsp-soft-products .vsp-soft-products-title {
      font-size: 1.0rem;
      margin:0 0 20px;
  }
  .vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu{
    padding: 10px 15px;
  }

  .vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu .acc-label{
    font-size: 1.2rem;
    padding-left: 0px;
  }


  .vsp-soft-products-details{padding:25px 15px 25px; margin: 0; }
  .vsp-soft-products-details .col-sm-4{padding-left: 0;}
  .vsp-soft-products-details .col-sm-8{padding-right: 0; padding-left: 0;}

  .vsp-soft-products-details .product-name{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .vsp-soft-products-details .product-download{
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  .vsp-soft-products-details .product-email{
    font-size: 0.7rem;
    margin-bottom: 15px;
  }
  .vsp-soft-products-details .product-desc p{
      font-size: 0.9rem;
  }

  .vsp-soft-products .accordion-menu-container:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #c5c5c5;
  }
  .vsp-soft-products .accordion-menu-container .accordion-menu {
    display: block !important;
  }
  .vsp-soft-products .accordion-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    background: #ffffff;
  }
  .vsp-soft-products .accordion-content.open {
    max-height: 9000px;
    transition: max-height 0.25s ease-in;
  }

  .spec-section .tbd-dl .dl-specs{
    min-width: 375px;
  }
}

@media only screen and (max-width: 480px) {
  .spec-section .tbd-dl .dl-specs{
    min-width: 290px;
  }
  .vsp-soft-products .accordion-level .accordion-menu-container .accordion-menu .acc-label{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .spec-title.hidden-xs {
    display: none;
  }
}