.hero-homepage {
  position: relative;
  padding: 70px 15px 40px;
}

.hero-homepage .hero-homepage-container {
  margin:0 auto;
  position: relative;
  text-align: center;
  max-width:1280px;
}

.hero-homepage .hero-homepage-container > h1,
.hero-homepage .hero-homepage-container > h2,
.hero-homepage .hero-homepage-container > h4,
.hero-homepage .hero-homepage-container > p {
  color: #ffffff;
}

.hero-homepage .hero-homepage-container a:hover,
.hero-homepage .hero-homepage-container a:focus,
.hero-homepage .hero-homepage-container a:active {
  text-decoration: none;
}

.hero-homepage .hero-homepage-container .close-hero {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
}

.hero-homepage.general {
  padding-top: 150px;
  background: url("../images/hero-city-night.jpg") top center no-repeat;
  background-size: cover;
  z-index: 2;
}

.hero-homepage.general .hero-homepage-container .headline {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3.125em;   
  line-height: 1;
  line-height: 110%;
  width: 73%;
  margin: 0 auto 17px auto;
}

.hero-homepage.general .hero-homepage-container .headline strong {
  text-transform: uppercase;
  font-weight: 700;
}

.hero-homepage.general .hero-homepage-container .sub-headline {
  margin-bottom: 28px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.375em;
  line-height: 1;
  line-height: 120%;
}

.hero-homepage.general .hero-homepage-container .sub-headline strong {
  font-weight: 500;
}

.hero-homepage.general .hero-homepage-container .general-list {
  float: none;
  margin: 0 auto;
}

.hero-homepage.general .hero-homepage-container .general-list li {
  padding-left: 0;
  list-style-type: none;
  text-align: left;
  display: table;
  margin-bottom: 15px;
}

.hero-homepage.general .hero-homepage-container .general-list li a {
  position: relative;
  display: table-cell;
  padding: 0 10px 0 53px;
  height: 50px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1;
  color: #333333;
  border: 1px solid #ffffff;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

.hero-homepage.general .hero-homepage-container .general-list li a:hover {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero-homepage.general .hero-homepage-container .general-list li a .sprite {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hero-homepage.general .hero-homepage-container .view-all
/* .hero-homepage.general .hero-homepage-container .scroll-down */ {
  display: none;
}

.hero-homepage.general .hero-homepage-container .view-all {
  margin-top: 95px;
}

.hero-homepage.general .hero-homepage-container .scroll-down{
  margin-top: 90px;   
}

.hero-homepage.general .hero-homepage-container .view-all:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.hero-homepage.general .hero-homepage-container .view-all .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.hero-homepage.general .hero-homepage-container .view-all a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8125em;
  line-height: 1;
  letter-spacing: 2px;
}

.hero-homepage.general .hero-homepage-container .view-all a > .sprite {
  position: relative;
  top: 2px;
}

/*
.hero-homepage.general .hero-homepage-container .scroll-down {
    bottom: -145px;
    display: inline-block;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.hero-homepage.general .hero-homepage-container .scroll-down:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #000;
  position: absolute;
  left: calc(50% - 30px);
}
*/


.hero-homepage.healthcare {
  display: none;
  /* background: url("../images/hero-doctors.jpg") top center no-repeat; */
  min-height: 758px;
}

.hero-homepage.healthcare .hero-homepage-container > h1, 
.hero-homepage.healthcare .hero-homepage-container > h2 {
  margin: 15px 0 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3em;
  line-height: 1;
}

.hero-homepage.healthcare .hero-homepage-container > h4 {
  margin-bottom: 12px;
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: normal;
}

.hero-homepage.healthcare .hero-homepage-container > p {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.2em;
  width: 60%;
  margin: 0 auto;
}

.hero-homepage.healthcare .hero-homepage-container .hexagon-connect, .hero-homepage.healthcare .hero-homepage-container .hexagon-transform, .hero-homepage.healthcare .hero-homepage-container .hexagon-advance {
  display: inline-block;
}

.hero-homepage.healthcare .hero-homepage-container .icon-healthcare {
  margin: 15px auto 0;
}

.hero-homepage.healthcare .hero-homepage-container .icon-connect, .hero-homepage.healthcare .hero-homepage-container .icon-transform, .hero-homepage.healthcare .hero-homepage-container .icon-advance {
  margin: 0 auto;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list {
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  min-height: 265px;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect {
  margin: 0;
  padding-top: 30px;
  position: relative;
  vertical-align: top;
  z-index: 1;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > h4 {
  color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1;
  margin: 20px 10px 10px;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > p {
  color: #ffffff;
  margin: 0 5px 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 110%;
  font-weight: 300;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > a {
  margin: 0 auto;
  z-index: 10;
  display: block;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.8125em;
  line-height: 1.2em;
  color: #ffffff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > .animateAnchor:hover > .animateIcon{
  color: #ffffff;
}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > a.animateAnchor .animateIcon{top:4px; /*left:0px;*/}

.hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > a .icon-caret-red {
  position: relative;
  top: 2px;
  left: 5px;
}
.hero-homepage .hero-homepage-container p{
  max-width:950px; 
  margin:0 auto;
 }

@media only screen and (min-width: 1024px) {
 .hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > a{
   letter-spacing: 0.1em;
 }
 
}
 
@media only screen and (min-width: 1280px) {
  .hero-homepage.healthcare {
    background-size: cover;
  }
}

@media only screen and (max-width: 1280px) {
  .hero-homepage.healthcare {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#012e32+0,121a1a+100 */
    background: #012e32;
    /* Old browsers */
    /* background-image: url("../images/hero-doctors_gradient.jpg"); */
    background-image: url(""), linear-gradient(to bottom, #012e32 0%, #121a1a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012e32', endColorstr='#121a1a',GradientType=0 );
    /* IE6-9 */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list > li {
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 992px) {
  .hero-homepage {
    padding-top: 36px;
  }
  .hero-homepage.general {
    background-size: auto 100%;
  }
  .hero-homepage.general .hero-homepage-container .general-list li a {
    /* padding-top: 17px; */
    font-size: 1em;
    line-height: 1;
  }
  .hero-homepage.healthcare {
    margin-top: 42px;
    padding-top: 80px;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon {
    padding-top: 0;
    top: 56px;
    width: 100%;
    height: auto;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon:before {
    /* top: -76px;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-bottom: 76px solid #ffffff; */
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon:after {
    /* bottom: -76px;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-top: 76px solid #ffffff; */
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon h4 {
    font-weight: 500;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon a {
    top: 150px;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon > .icon-connect {
    background-image: url(../images/sprite.png);
    background-position: -60px -215px;
  background-size: 100% auto;
    width: 70px;
    height: 70px;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon > .icon-transform {
    background-image: url(../images/sprite.png);
    background-position: -348px -20px;
    width: 27px;
    height: 42px;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list .hexagon > .icon-advance {
    background-image: url(../images/sprite.png);
    background-position: -32px -215px;
    width: 28px;
    height: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-homepage.general .hero-homepage-container .general-list li {
    padding-right: 15px !important;
  }

}

@media only screen and (max-width: 1280px) {
  .hero-homepage.general .hero-homepage-container .general-list li a{
    padding: 0 10px 0 42px;
  }
  .hero-homepage.general .hero-homepage-container .general-list li a .sprite{
    left: 5px;
  } 
  
}
@media only screen and (max-width: 1024px) {
  .hero-homepage.general .hero-homepage-container .general-list li a{
    font-size: 1.125em;
  }  
}

@media only screen and (max-width: 768px) {
  .hero-homepage {
    padding-bottom: 20px;
  }
  .hero-homepage.general {
    background-size: auto 100%;
    background-position: bottom right;
    padding-top: 170px;
  }
  .hero-homepage.general .hero-homepage-container .headline {
    margin-bottom: 10px;
    font-size: 1.4375em;
    line-height: 1;
  }
  .hero-homepage.general .hero-homepage-container .sub-headline {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1;
    line-height: 120%;
  }
  
  .hero-homepage.general .hero-homepage-container .general-list{
   padding: 0;
  }
  
  .hero-homepage.general .hero-homepage-container .general-list li {
    padding-right: 0;
  }
  
  .hero-homepage.general .hero-homepage-container .general-list li a{
    font-size: 1em;
  }
  .hero-homepage.general .hero-homepage-container .general-list li a .sprite{
    left: 5px;
    top: 8px;
  }
  
  .hero-homepage.general .hero-homepage-container .view-all {
    margin-top: 23px;
  }
  .hero-homepage.healthcare {
    display: none;
    padding-top: 120px;
    background-size: cover;
    background-position: top left;
  }
  .hero-homepage.healthcare .hero-homepage-container > h1, 
  .hero-homepage.healthcare .hero-homepage-container > h2  {
    margin: 15px 0 20px;
    font-weight: 100;
    font-size: 1.75em;
    line-height: 1;
  }
  .hero-homepage.healthcare .hero-homepage-container > h4 {
    margin-bottom: 12px;
    font-size: 1.25em;
    line-height: 1;
    line-height: 140%;
  }
  .hero-homepage.healthcare .hero-homepage-container > p {
    /* font-size: 0.8125em; */
  font-size: 1em;
    line-height: 1;
    line-height: 150%;
    width: 100%;
  }
  .hero-homepage.healthcare .hero-homepage-container .close-hero {
    right: 15px;
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list > li p{
    font-size: 1em;
  }
  .homepage  .hexagon270{
   min-height: 150px;
  }
  .homepage  .hexagon270:before{
    top: -76px;
  }
  .homepage  .hexagon270 img{
    top: -50px !important;
   }
  .homepage  .calculating-success .calculating-success-container .calculating-list > li{
    padding-top: 30px;    
  }
  .homepage  .calculating-success .calculating-success-container .calculating-list > li h4{
    font-size: 1em;
    margin: 10px 5px 8px; 
  }
  .homepage  .calculating-success .calculating-success-container .calculating-list > li p{
    font-size: 1em;   
  }
  .homepage  .hexagon270 .animateAnchor{
    letter-spacing: normal;
    font-size: 0.8125em;
    line-height: 1.2em;   
  }
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list > div.hexagon-connect > p{
    font-size: 1em;
  }

  /*
  .hero-homepage.general .hero-homepage-container .scroll-down::after{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 13px solid #000;
    left: calc(51% - 30px);
  }
  .hero-homepage.general .hero-homepage-container .scroll-down{
    bottom: -50px;
  }
  */
  
}

@media only screen and (max-width: 767px) {
  .hero-homepage.general .hero-homepage-container .general-list li {
    padding-right: 0;
    display: block;
  }
  
  .hero-homepage.general .hero-homepage-container .general-list li a{
    height: auto;
    padding: 15px 10px 10px 40px;
    font-size: 1em;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .hero-homepage.healthcare .hero-homepage-container .healthcare-list > li {
    margin-left: 0;
    margin-right: 0;
  }
  .hero-homepage.general .hero-homepage-container .general-list li a {
    font-size: 0.8125em;
  }

}