.hexagon {
  top: 76px;
  width: 305px;
  height: 180px;
  background: #ffffff;
  position: relative;
  overflow: visible;
  z-index: 10;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 152px solid transparent;
  border-right: 152px solid transparent;
  border-bottom: 76px solid #ffffff;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 152px solid transparent;
  border-right: 152px solid transparent;
  border-top: 76px solid #ffffff;
  z-index: -1;
}

.hexagon270 {
  top: 56px;
  width: 270px;
  height: 144px;
  background: #ffffff;
  position: relative;
  overflow: visible;
  z-index: 10;
}

.hexagon270:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-bottom: 76px solid #ffffff;
}

.hexagon270:after {
  content: "";
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-top: 76px solid #ffffff;
  z-index: -1;
}