.hexagon {
  top: 76px;
  width: 305px;
  height: 180px;
  background: #ffffff;
  position: relative;
  overflow: visible;
  z-index: 10;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 152px solid transparent;
  border-right: 152px solid transparent;
  border-bottom: 76px solid #ffffff;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 152px solid transparent;
  border-right: 152px solid transparent;
  border-top: 76px solid #ffffff;
  z-index: -1;
}

.hexagon270 {
  top: 56px;
  width: 270px;
  height: 144px;
  background: #ffffff;
  position: relative;
  overflow: visible;
  z-index: 10;
}

.hexagon270:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-bottom: 76px solid #ffffff;
}

.hexagon270:after {
  content: "";
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-top: 76px solid #ffffff;
  z-index: -1;
}


/* Hexagon 320 CSS Code */
.hexagon320 {
  top: 56px;
  width: 320px;
  height: 180px;
  background: #ffffff;
  position: relative;
  overflow: visible;
  z-index: 10;
  float: left;
  margin-right: 52px;
  float: left;
  padding:0 10px;
}

.hexagon320 .hexagon-content{
  margin-top:-75px;
  padding: 0;
}
.hexagon320:last-child{margin-right: 0;}

.hexagon320 .icon{
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: -65px;
  width: 100%;
  position:relative;
  top:0px;
}


.hexagon320 .icon img{
  vertical-align: bottom;
}

.hexagon320 h4 {
    color: #000000;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    margin: 10px 0 10px;
    text-align: center;
	position:relative;
}

.hexagon320 p {
    color: #333333;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.4em;
    margin:0;
	font-weight:100;
}

.hexagon320 .read-more {
    font-size: 0.8125rem;
    font-weight: 800;
    margin-top: 15px;
    text-align: center;
}

.hexagon320 .read-more a {
    color: #cc0000;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}
.hexagon320 .read-more a:hover {
    color: #ac1f25;
}

.hexagon320:before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 90px solid #ffffff;
}

.hexagon320:after {
  content: "";
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 90px solid #ffffff;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
    .hexagon320 {
    	background: #ffffff;
    }
}
	
@media only screen and (max-width: 991px) {
  .hexagon320{
    margin-bottom: 176px;
    width: 270px;
    height: 144px;
    margin-right:0;
  }
  .hexagon320:last-child{
    margin-bottom: 135px;
  }

  .hexagon320 h4{
    font-size: 1.125rem;
  }
  .hexagon320 p{
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
  }

  .hexagon320:before {
    top: -76px;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-bottom: 76px solid #ffffff;
  }

  .hexagon320:after {
    bottom: -75px;
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    border-top: 76px solid #ffffff;
  }
}

.mac-os .hexagon320 { margin-right:26px;}