.industry-sol{ background: url("../images/banner-industry-sol.png") no-repeat scroll 50% 50% / cover; z-index:2}

.solution-offer .content-container{
    padding:70px 15px 60px 15px;
	}
	
.solution-offer .content-container .fb-category-container{
	max-width: 768px;
    margin-bottom: 0;
    padding-bottom: 0;
	text-align:center;
	margin:0 auto;
	}	
.solution-offer h2{ font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 3.5em;
    font-weight: 200;
    margin: 0;
    padding-bottom: 10px;
}
.solution-offer h3{ font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    text-transform: uppercase;
    color: #008eaa;
}
.solution-offer p{ font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
	}

.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-more{
	text-align:center;
}
	
.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-heading{
	margin-bottom: 10px;
}	
.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-highlight{
	   margin: 0 auto 30px;
}	

.features-solutions{
	background: url("../images/grey-hexagoen-bg.png") repeat scroll 0 0 / cover; z-index:2
}
.features-solutions .content-container{
	padding:66px 0 77px 0;
	}

.features-solutions h2{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 3.5em;
    font-weight: 200;
    margin: 0;
    padding-bottom: 10px;
}
.features-solutions h3{
	font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
     margin: 5px 0 25px;
    text-transform: uppercase;
	color: #008eaa;
}

.features-solutions p{
	font-size:18px;
 }

.features-solutions .solution-category-box p{
	font-size:13px;
	margin:0;
	}


.features-solutions .solution-category-box .more-solutions a{
	text-align:left;
	}
	
.solution-category-box .more-solutions{display:inline-block;}
.more-solutions{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
}


.more-solutions a {
    color: #ce0000;
    font-weight: 800;
    outline: 0 none;
    text-decoration: none;
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	font-size: 13px;
	cursor:pointer;
	letter-spacing:0;
	display:inline;
}

.solution-category-box .more-solutions a{
	text-align:left;
	}
.industrysol-page .fb-section{
	font-family:Arial, Helvetica, sans-serif;
	}
.industrysol-page .fb-section P{
	font-size:18px; font-family:Arial, Helvetica, sans-serif;
	}	
.industrysol-page .fb-section .fb-container .fb-title{font-family: "museo-sans",Helvetica,Arial,sans-serif;}
.grey-bg{
	background-color:#f1f1f1;
	}
.grey-bg .fb-container{
	padding-bottom:70px;
	} 
/*---solution section---*/	
.solution-section{
	padding:0 0 60px 0;
}
.solution-section .solution-category-box p{
	font-size:13px; font-family:"Myriad Pro";
	}
.solution-category-box{
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 2px #c5c5c5;
    color: #000;
    display: block;
    padding: 20px 25px;
	margin: 20px 15px 20px 0;
	
}

.solution-category-box  .blog-icon{
	font-size:11px;
}

.solution-category-box h2{ 
	color: #333333;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
	font-size:20px;
	padding:15px 0;
	margin:0;
	font-weight: bold;
}
.grey-bg .more-solutions{text-align:center;}
.partner-section .content-container{
	padding:53px 0 70px 0;
}	
.partner-section h2{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;
}

.partner-section h2:after{
	background-color: #f78e1e;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
	margin-top:22px;
}
.partner-section .partners{
	padding:0 15px 40px ; 
}
.partner-quote{background: url("../images/industry-partner-foot-bg.png") no-repeat scroll 50% 50% / cover;}
.partner-quote p{text-align:center; font-family: "museo-slab",Helvetica,Arial,sans-serif; font-weight: bolder;}
.partner-quote .partner-btn{
	margin:0 auto; 
	max-width:350px;
}
.partner-section .more-solutions{
	 margin: 0 auto;
    text-align: center;
    width: 100%;
	}
	
.partner-quote .partner-btn .btn-square-transparent{
	background: url("../images/transparent-bg.png") repeat;
    color: #ffffff;
    text-align: center;
	padding:15px 0;
}
.partner-quote .partner-btn .btn-square-transparent a{
	color: #ffffff;
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	font-size:13px;
}
.partner-quote .partner-btn .btn-square-transparent a.animateLink .animateIcon, .more-solutions a.animateAnchor .animateIcon{font-size:1em;}
.partner-quote .partner-btn .btn-square-transparent a:hover, .partner-quote .partner-btn .btn-square-transparent a:focus{
	color: #ffffff;
	text-decoration:none;	
}

.filter
{
    position: absolute;
    right: 19px;
    top: 22px;
}
.filter .service-btn {
    background: none!important;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
	color: #cc0d0d;
}
.filter a{cursor:pointer;}




@media only screen and (max-width: 640px){
	.filter .btn-group {
    margin: 0 auto;
    display: table;
	}
	.filter{
		position: static;
		right: 0;
		top: 0;
	}
}

@media only screen and (max-width: 767px){
	.solution-offer .content-container{
    padding:20px 15px 30px 15px;
	}
	.solution-offer h2{ font-size: 1.8em;}
	.solution-category-box{margin:0 0 15px;}
	.features-solutions .solution-category-box{margin-top:52px;}
	.features-solutions .solution-category-box p{text-align:left;}
	.features-solutions .more-solutions a{text-align:center;}
	.features-solutions h3{text-align:center;}
	.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-heading{text-align:center;}
	.features-solutions h2{ font-size: 1.8em; padding-bottom:20px;}
	.feature-category .more-solutions{text-align:center;}
	.grey-bg .fb-container {
    padding-bottom: 40px;
	}
	.solution-section {
    padding: 0 0 6px;
	}
	.features-solutions .content-container {
    padding: 36px 0 38px;
	}
	.fb-section .fb-container .fb-category-container .fb-category-box{margin:0;}
	.features-solutions p, .industrysol-page .fb-section P{
	font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:center;
	}
	.partner-section .more-solutions a{color:#000;} 
	.partner-section .more-solutions a span{color:#ce0000;}
	.partner-section .partners .col-sm-6{
	 text-align:center;
	}
	 .partner-section .partners img.img-responsive{margin:10px 0;}
	 
	
	.filter .service-btn {
     border: 1px solid #ce0000;
	 padding:10px; 
	 border-radius:0;
	 -webkit-border-radius:0;
	 -moz-border-radius:0;
	}	
	.solution-offer .fb-container .fb-category-container::after {
    margin: 0 auto 20px;
	}
	.solution-offer .fb-container {
    min-height: auto;;
    padding: 22px 15px 0;
	}
 	.more-solutions a{font-size: 11px;}
	.grey-bg{    padding-bottom: 20px;}
	.partner-quote .partner-btn .btn-square-transparent{border:1px solid #ce0000; background:none;}
	.partner-quote .partner-btn .btn-square-transparent a{color:#ce0000;}
	.partner-quote .partner-btn .btn-square-transparent a:hover;{color:#ce0000;}
	
	
	
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.feature-category{text-align:center;}
	.solution-category-box {
    text-align: left;
	margin-top:30px;
	}
	.partner-section .more-solutions a {
    color: #000;
	}
	.partner-section .more-solutions a span {
    color: #ce0000;
	}
	.filter .btn-group {
    margin: 0 auto;
    display: table;
	}
	.filter{
		position: static;
		right: 0;
		top: 0;
		padding-bottom: 20px;
	}
	.filter .service-btn {
    border: 1px solid #ce0000;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
	
	}
	.partner-quote .partner-btn .btn-square-transparent{border:1px solid #ce0000; background:none;}
	.partner-quote .partner-btn .btn-square-transparent a{color:#ce0000;}
	.partner-quote .partner-btn .btn-square-transparent a:hover;{color:#ce0000;}
	.solution-category-box{margin:0 0 15px;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	
		
	.solution-category-box{margin:0 15px 0 0;}
	.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-heading{
		text-align:center;
	}
	.icon-quote {background:url(../images/mb-quotes.png) no-repeat;}
		.specific-quote p .icon-quote.close-quote {
		top: 6px;
	}
	.specific-quote p{
	font-size: 15px;
    line-height: 18px;
	}
	.specific-quote p .icon-quote.open-quote {
    left: 8px;
    top: -3px;
	}
	.specific-quote p .icon-quote.close-quote {
    margin-left: 4px;
	}
	.features-solutions .more-solutions	{display:inline-block;}
	
}

