.industry-sol{ background: url("../images/banner-industry-sol.png") no-repeat scroll 50% 50% / cover; z-index:2}

.solution-offer .content-container{
    padding:70px 15px 60px 15px;
}

.solution-offer .content-container .fb-category-container{
    max-width: 768px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align:center;
    margin:0 auto;
}	
.solution-offer h2{ font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 3.125em;
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
}
.solution-offer h3{ font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    text-transform: uppercase;
    color: #008eaa;
}
.solution-offer p{ font-size: 18px;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}

.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-more{
    text-align:center;
}

.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-heading{
    margin-bottom: 10px;
}	
.solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-highlight{
    margin: 0 auto 30px;
}	

.solution-offer .content-container .fb-category-box p a{
	color: #333333;
	text-decoration:underline;
}
.solution-offer .content-container .fb-category-box p a:hover{
    text-decoration:none;
}
.solution-offer .content-container .fb-category-box p a:active{
    color:#505050
}
.features-solutions .feature-category p a,
.solution-offer .feature-category p a {
    color: #333;
    text-decoration:underline;
}
.features-solutions .feature-category p a:hover,
.solution-offer .feature-category p a:hover{
    text-decoration:none;
}
.features-solutions .feature-category p a:active,
.solution-offer .feature-category p a:active{
    color:#505050
}

.features-solutions{
    background: url("../images/grey-hexagoen-bg.png") repeat scroll 0 0 / cover; z-index:2
}
.features-solutions .content-container{
    padding:66px 0 77px 0;
}

.features-solutions h2{
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 3.125em;
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
}
.features-solutions h3{
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    text-transform: uppercase;
    color: #008eaa;
}

.features-solutions p{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size:1.125em;
    font-weight: 300;
	line-height: 1.3em;
}

.features-solutions .solution-category-box p{
    margin:0;
}


.features-solutions .solution-category-box .more-solutions a{
    text-align:left;
}

.solution-category-box .more-solutions{display:inline-block;}
.more-solutions{
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
}


.more-solutions a {
    color: #ce0000;
    font-weight: 800;
    outline:none;
    text-decoration: none;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 0.8125rem;
    cursor:pointer;
    letter-spacing:0.15em;
    /* display:inline; */
}

.solution-category-box .more-solutions a{
    text-align:left;
}
.industrysol-page .fb-section{
    font-family:Arial, Helvetica, sans-serif;
}
.industrysol-page .fb-section P{
    font-size:18px; font-family:Arial, Helvetica, sans-serif;
}	
.industrysol-page .fb-section .fb-container .fb-title{font-family: "museo-sans",Helvetica,Arial,sans-serif;}
.grey-bg{
    background-color:#f1f1f1;
}
.grey-bg .fb-container{
    padding-bottom:70px;
} 
/*---solution section---*/	
.solution-section{
    padding:0 0 60px 0;
}
.solution-section .solution-category-box p{ 
    font-size: 1.125em; 
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.solution-section .solution-category-box p a{
    color: #333333;
    text-decoration: underline;
}
.solution-section .solution-category-box p a:hover{
    text-decoration: none;
}
.solution-section .solution-category-box p:active{
    color:#505050;
}
.solution-category-box{
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 1px 4px #c5c5c5;
    color: #000;
    display: block;
    padding: 20px 25px;
    margin: 8px 15px 20px 0;
    
}

.solution-category-box  .blog-icon{
     font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.solution-category-box h2{ 
    color: #333333;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size:20px;
    padding:10px 0;
    margin:0;
    font-weight: bold;
}

.solution-category-box .more-solutions a{
	margin:15px 0 10px;
	}

.grey-bg .more-solutions{text-align:center;}

.partner-quote{background: url("../images/industry-partner-foot-bg.png") no-repeat scroll 50% 50% / cover;}
.partner-quote p{text-align:center; font-family: "museo-slab",Helvetica,Arial,sans-serif; font-weight: bolder;}
.partner-quote .partner-btn{
    margin:0 auto; 
    max-width:350px;
}
.partner-section .more-solutions{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.partner-quote .partner-btn .btn-square-transparent{
    background: url("../images/transparent-bg.png") repeat;
    color: #ffffff;
    text-align: center;
    padding:15px 0;
}
.partner-quote .partner-btn .btn-square-transparent a{
    color: #ffffff;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size:1.2851em;
}
.partner-quote .partner-btn .btn-square-transparent a.animateLink .animateIcon, .more-solutions a.animateAnchor .animateIcon{font-size:1em;}
.partner-quote .partner-btn .btn-square-transparent a:hover, .partner-quote .partner-btn .btn-square-transparent a:focus{
    color: #ffffff;
    text-decoration:none;	
}

.filter
{
    position: absolute;
    right: 19px;
    top: 22px;
}
.filter .service-btn {
    background: none!important;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #cc0d0d;
}
.filter a{cursor:pointer;}




@media only screen and (max-width: 640px){
    .filter .btn-group {
                margin: 0 auto;
                display: table;
            }
            .filter{
            position: static;
            right: 0;
            top: 0;
        }
    }
    
    @media only screen and (max-width: 767px){
        .solution-offer .content-container{
                    padding:20px 15px 30px 15px;
                }
 .solution-offer h2{ font-size: 1.8em;}
 .solution-category-box{margin:0 0 15px;}
 .features-solutions .solution-category-box{margin-top:52px;}
.features-solutions .solution-category-box p{text-align:left;}
.features-solutions .more-solutions a{text-align:center;}
.features-solutions h3{text-align:center;}
.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-heading{text-align:center;}
.features-solutions h2{ font-size: 1.8em; padding-bottom:20px;}
.feature-category .more-solutions{text-align:center;}
.grey-bg .fb-container {
    padding-bottom: 40px;
}
.solution-section {
    padding: 0 0 6px;
}
.features-solutions .content-container {
    padding: 36px 0 38px;
}
.fb-section .fb-container .fb-category-container .fb-category-box{margin:0;}
.features-solutions p, .industrysol-page .fb-section P{
    font-size:1.28571em; text-align:center;
}
.partner-section .more-solutions a{color:#000;} 
.partner-section .more-solutions a span{color:#ce0000;}
.partner-section .partners .col-sm-6{
    text-align:center;
}
.partner-section .partners img.img-responsive{margin:10px 0;}


.filter .service-btn {
    border: 1px solid #ce0000;
    padding:10px; 
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}	
.solution-offer .fb-container .fb-category-container::after {
    margin: 0 auto 20px;
}
.solution-offer .fb-container {
    min-height: auto;;
    padding: 22px 15px 0;
}
.more-solutions a{font-size: 11px;}
.grey-bg{    padding-bottom: 20px;}

}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .feature-category{text-align:center;}
        .solution-category-box {
        text-align: left;
        margin-top:30px;
    }
    .partner-section .more-solutions a {
    color: #000;
}
.partner-section .more-solutions a span {
    color: #ce0000;
}
.filter .btn-group {
    margin: 0 auto;
    display: table;
}
.filter{
    position: static;
    right: 0;
    top: 0;
    padding-bottom: 20px;
}
.filter .service-btn {
    border: 1px solid #ce0000;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

}

.solution-category-box{margin:0;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

 .solution-offer .fb-container .fb-category-container .fb-category-box .fb-category-heading{
    text-align:center;
}
.features-solutions .more-solutions	{display:inline-block;}

}

 @media only screen and (min-width: 1024px){

   .solution-category-box{margin:0;}

            }