@charset "utf-8";

/* CSS Document */
.legal-content-area {
    position: relative;
    background: #ffffff;
    min-height: 718px;
    padding: 84px 15px 80px;
    position: relative;
    z-index: 2;
}

.Container-legal-terms {
    padding-top: 30px;
    /* padding-top: 0px; */
    display: block;
    position: relative;
}

.Container-legal-terms > h2, 
.Container-legal-terms > h1{
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 30px;   
}

@media (max-width:991px) {
.Container-legal-terms > h2,
.Container-legal-terms > h1{
    font-size:1.125rem;
    padding:0 15px;
}
    
}

    
#legalContentCatagory #loading{min-height:200px;}
.legal-content-area .leftsidelisting ul > li > a {
    font-size: 0.8125rem;
}

.legal-content-area .leftsidelisting > ul > li.active > ul li a {
    color: #ffffff;
}

.Container-legal-terms .leftsidelisting {
    background: #f1f1f1;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    padding: 0;
}

.Container-legal-terms .leftsidelisting ul {
    list-style: none;
    margin: 0;
    padding: 0 0;
}

.Container-legal-terms .leftsidelisting ul > li {
    margin: 0;
    padding: 0 20px;
    position: relative;
}

.Container-legal-terms .leftsidelisting ul > li > a {
    border-bottom: 3px solid #c5c5c5;
    padding: 22px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.75rem;
    font-weight: 900;
    color: #414141;
    position: relative;
}

.Container-legal-terms .leftsidelisting ul > li:last-child a {
    border-bottom: none;
}

.Container-legal-terms .leftsidelisting ul > li.active {
    background: #414141;
}

.Container-legal-terms .leftsidelisting ul li li.active{
    background: #5d5c5c;
    
}

.Container-legal-terms .leftsidelisting ul > li.active .MobileHolderWrapper {
    background: #fff;
    margin-left: -20px;
    margin-right: -20px;
}

.Container-legal-terms .leftsidelisting ul > li.active:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 0;
    border-top: 3px solid #414141;
    z-index: 9;
}

.no-touch Container-legal-terms .leftsidelisting ul > li.active > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -11px;
    margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #414141;
    z-index: 9;
}

.Container-legal-terms .leftsidelisting ul > li.active > a {
    color: #ffffff;
    border-bottom: none;
    font-size: 0.75rem;
}

.Container-legal-terms .leftsidelisting ul > li.active > a {
    color: #ffffff;
    border-bottom: 0;
    font-size: 0.75rem;
}

.Container-legal-terms .leftsidelisting ul > li > a > span {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}

.Container-legal-terms .leftsidelisting ul > li .icon-accordion-closed {
    display: inline-block;
}

.Container-legal-terms .leftsidelisting ul > li .icon-accordion-opened {
    display: none;
}

.Container-legal-terms .leftsidelisting ul > li > ul {
    display: none;
    background: #7e7e7e;
    margin-right: -20px;
    margin-left: -20px;
    padding: 4px 0;
}

.Container-legal-terms .leftsidelisting ul > li.active .icon-accordion-closed {
    display: none;
}

.Container-legal-terms .leftsidelisting ul > li.active .icon-accordion-opened {
    display: inline-block;
}

.Container-legal-terms .leftsidelisting ul > li.active > ul {
    display: block;
    background: #7e7e7e;
    margin-right: -20px;
    margin-left: -20px;
    padding: 3px 0;
}

.product-list-section {
    background: url("../images/bg_products_catagories.jpg") no-repeat 50% 50%;
    background-size: cover;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 58px 0;
    position: relative;
}

.Container-Results {
    padding-top: 84px;
    display: block;
    position: relative;
}

.Container-Results .leftsidelisting {
    background: #f1f1f1;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    padding: 0;
}

.Container-Results .leftsidelisting ul {
    list-style: none;
    margin: 0;
    padding: 0 0;
}

.Container-Results .leftsidelisting ul > li {
    margin: 0;
    padding: 0 20px;
    position: relative;
}

.Container-Results .leftsidelisting ul > li > a {
    border-bottom: 3px solid #c5c5c5;
    padding: 22px 22px 22px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.75rem;
    font-weight: 900;
    color: #414141;
    position: relative;
}

.Container-Results .leftsidelisting ul > li.noBorder > a {
    border-bottom: none;
}

.Container-Results .leftsidelisting ul > li:last-child a {
    border-bottom: none;
}

.Container-Results .leftsidelisting ul > li.active,
.Container-Results .leftsidelisting ul > li.leftDefault {
    background: #414141;
}

.Container-Results .leftsidelisting ul > li.active .MobileHolderWrapper,
.Container-Results .leftsidelisting ul > li.leftDefault .MobileHolderWrapper {
    background: #fff;
    margin-left: -20px;
    margin-right: -20px;
}

.leftsidelisting ul > li.active:not(:first-child):before,
.leftsidelisting ul > li.leftDefault:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 0;
    border-top: 3px solid #f1f1f1;
    z-index: 9;
}

.leftsidelisting ul > li.active > a:after,
.leftsidelisting ul > li.leftDefault > a:after
 {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -9px;
    margin-left: 20px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #414141;
    z-index: 9;
}
.Container-Results .leftsidelisting ul > li.active > a,
.Container-Results .leftsidelisting ul > li.leftDefault > a {
    color: #ffffff;
    border-bottom: none;
    font-size: 0.75rem;
}

.Container-Results .leftsidelisting ul > li > a > span {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}

.Container-Results .leftsidelisting ul > li .icon-accordion-closed {
    display: inline-block;
}

.Container-Results .leftsidelisting ul > li .icon-accordion-opened {
    display: none;
}

.Container-Results .leftsidelisting ul > li > ul {
    display: none;
    background: #7e7e7e;
    margin-right: -20px;
    margin-left: -20px;
    padding: 4px 0;
}

.Container-Results .leftsidelisting ul > li.active .icon-accordion-closed {
    display: none;
}

.Container-Results .leftsidelisting ul > li.active .icon-accordion-opened {
    display: inline-block;
}

.Container-Results .leftsidelisting ul > li.active > ul {
    display: block;
    background: #7e7e7e;
    margin-right: -20px;
    margin-left: -20px;
    padding: 4px 0;
}

.legal-content-area .result-legal_pages {
    padding: 0 30px;
}

.result-legal_pages .leagaltext .category-heading {
    border-bottom: 7px solid #f78e1e;
    margin: 0 0 20px;
}

.result-legal_pages .leagaltext .category-heading h2, 
.result-legal_pages .leagaltext .category-heading h1 {
    margin: 0;
    padding: 0 0 10px;
}
.result-legal_pages p{
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 125%;
}

.result-legal_pages h3 {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin:15px 0 7px 0;
}

.result-legal_pages ul {
    margin: 15px 0;
    padding: 0px 0 0 30px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    list-style: none;
}

.result-legal_pages ul ul {
    margin-top: 10px;
    padding-left: 35px;
}

.result-legal_pages ul ul ul{
    margin-top: 10px; 
}

.result-legal_pages ul > li {
    margin: 8px 0;
    padding: 0 0 0 25px;
    position: relative;
    background-image: url('../images/legal-bullet-1.png');
    background-repeat: no-repeat;
    background-position: 0 8px;
}

.result-legal_pages ul ul li{
    font-size: 0.9em;
    background-image: url('../images/legal-bullet-2.png');
    background-repeat: no-repeat;
    background-position: 0 10px;
}

.result-legal_pages .heading-blue {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    background: #018eaa;
    padding: 12px;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 120%;
}
.result-legal_pages .heading-grey {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    background: #ebebeb;
    padding: 5px 30px;
    color: #333333;
    font-size: 1.125em;
    line-height: normal;
    font-weight: 400;
}
.result-legal_pages .legal-note {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    color: #333333;
    font-weight: 300;
    margin-bottom: 25px;
}
ul.legal-p-left {
    padding-left: 3px;
}

@media (min-width:992px) {
    #legal a span.icon-accordion-closed, #legal a span.icon-accordion-opened{display:none !important}
    /*#legal .leftsidelisting li.active:first-child a:after{display:none;}*/
    #legal .leftsidelisting li.active:first-child li a:after{display:inline;}
    #legal.Container-legal-terms .leftsidelisting ul>li.active:not(:first-child):before{border:3px solid #414141;}
    #legal.Container-legal-terms .leftsidelisting ul > li > ul > li.active:not(:first-child):before{border:2px solid #5d5c5c;}  
}

@media (max-width:991px) {
    .Container-legal-terms .leftsidelisting .MobileHolderWrapper ul > li > ul {
        display: block;
    }
    #legalContentCatagory #loading{
        min-height:100px;
    }
    .result-legal_pages ul > li > ul > li {
        list-style: none;
    }
    .result-legal_pages ul > li > ul > li > ul > li {
        list-style-type: none;
    }
}
@media (max-width:768px) {
    .Container-Results {
        padding-top: 42px;
    }

    .legal-content-area {
        padding-left: 0;
        padding-right: 0;
    }

    .Container-legal-terms {
        padding-left: 0;
    }
    
    .Container-legal-terms .leftsidelisting{
        font-size: 1em;
    }

    .MobileHolderWrapper .result-legal_pages {
        padding: 25px 15px 30px 19px;
    }

    .MobileHolderWrapper .result-legal_pages ul {
        margin: 15px 0;
        padding: 0px 0 0 30px;
        font-family: "museo-sans", Helvetica, Arial, sans-serif;
        font-size: 1em;
    }

    .MobileHolderWrapper .result-legal_pages ul > li {
        margin: 8px 0;
        padding: 0 0 0 25px;
        position: relative;
        font-size: 1em;
    }

    .MobileHolderWrapper .result-legal_pages ul > li >a {
        /* font-size: .875rem; */
        font-size: 1em;
        border-bottom: none;
        padding: 0;
        display: block;
        text-decoration: none;
        letter-spacing: normal;
        font-weight: inherit;
        color: #414141;
        position: relative;
    }

    .MobileHolderWrapper .result-legal_pages .heading-blue {
        font-size: 1em;

    }

    .MobileHolderWrapper .result-legal_pages ul > li > ul {
        background: transparent;
        margin: 5px 0 0 15px;
    }

    .MobileHolderWrapper .result-legal_pages ul > li > a {
        text-transform: inherit;
        color: #cc0000;
    }

}
#legal .result-legal_pages ul li a{color:#cc0000;}
#legal .result-legal_pages ul li a:hover, #legal .result-legal_pages ul li a:visited{color:#ac1f25;}