.common-hero-banner.news-banner{
	background-image: url("../images/news-banner.jpg");
}

/* News Body Section */
.image-container.s-added{ margin-top:35px;}
.image-container {
  box-shadow: 0 2px 3px #999;
  color: #ffffff;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  margin-bottom: 25px;
  margin-top: 8px;
  min-height: auto;
  position: relative; float:left; width:100%;
}
.image-container > img{ width:100%;}
.image-container .inner-content-area {
  bottom: 0;
  padding: 12px;
  position: absolute;
}
.image-container .inner-content-area .title {
  font-size: 1.313rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.image-container .inner-content-area .description {
  font-family: Arial,sans-serif;
  font-size: 1.125rem;
  line-height: 1.4em;
}
.image-container .title-head .glyphicon {
  margin-right: 10px;
  float: left;
  font-size: 18px;
}
.video-play{ 
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .image-container .inner-content-area .title {
    font-size: 14px;
  }
  .image-container .inner-content-area .description {
    font-size: 14px;
  }
  .image-container .inner-content-area {
    background: #fff;
    bottom: 0;
    color: #000;
    padding: 20px;width: 100%;
  }
  .image-container.s-added > img {
    min-height: 380px;
  }
  .image-container > img {
    min-height: 500px;
  }
  .video-play{ 
    top: 13%;
  }
}

@media only screen and (max-width: 1024px) {
  .news-content-box{margin-right:-15px; margin-left:-15px;}
}

/* Press Container CSS Code */
.b-img-container {
box-shadow: 0 2px 3px #999;
color: #ffffff;
font-family: "museo-sans",Helvetica,Arial,sans-serif;
margin-bottom: 15px;
min-height: 560px;
position: relative;
}
.inner-content-area {
bottom: 30px;
padding: 0 20px 0 30px;
position: absolute;
}
.inner-content-area .title {
font-size: 1.313rem;
font-weight: 700;
margin-bottom: 15px;
}
.inner-content-area .description {
font-family: Arial,sans-serif;
font-size: 1.125rem;
line-height: 1.4em;
}
.b-img-container {
background: rgba(0, 0, 0, 0) url("../images/press-bussiness.jpg") no-repeat scroll 50% 50% / cover ;
}
.b-img-container.b-box1 {
background: rgba(0, 0, 0, 0) url("../images/hds-news.jpg") no-repeat scroll 50% 50% / cover ;
}
.inner-content-area .date_box {
font-family: Arial,sans-serif;
font-size: 0.8em;
line-height: 1.4em; 
margin-bottom: 10px;
}
.press-container {
background: #fff none repeat scroll 0 0;
float: left;
width: 100%;
padding-bottom: 60px;
}

.press-container.hds-news-section{background:#f1f1f1;}
.b-img-container.s-added {
 margin-top: 35px;
 min-height: 413px;
 border:1px solid #cecccc;
}

.press-container .load-more-news{
    margin-top: 40px;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
} 
.press-container .view-all-pr{
  margin-top: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* Content Panel*/
.content-panel strong { font-size: 0.751em; font-weight: bolder;}
.content-panel p { font-size: 1.004em; font-weight: 700; margin-bottom: 15px; font-family: "museo-sans",Helvetica,Arial,sans-serif;}

.content-panel a { color: #ce0000;font-family: "museo-sans",Helvetica,Arial,sans-serif; font-size: 0.8485rem; font-weight: 800; letter-spacing: 0.1em; text-transform: uppercase;}
.content-panel { margin-bottom: 50px;}
.content-panel:last-child{margin-bottom: 0px;}
/* End */

.icon-border img{ margin-right:15px; float:left;}

.icon-border {
border-bottom: 7px solid #f78e1e;
float: left;
margin-bottom: 30px;
margin-top: 40px;
width: 100%;
}
.icon-border h3 {
padding-bottom: 8px; 
font-weight:500;
font-family: "museo-sans",Helvetica,Arial,sans-serif;
}
.icon-border h3 .glyphicon.glyphicon-menu-right.animateIcon {
  font-size: 0.95rem;
    font-weight: bold;
}

.title-head > img {
  margin-right: 10px;
}
.title-head span{ text-transform:uppercase; font-weight:300; font-size:13px;}
.title-head {
  margin-bottom: 10px;
}

.aboutleader-bg {
  background-image: url("../images/about-leader-bg.jpg") !important;
}

@media only screen and (max-width: 991px) {
.content-panel {
  margin-bottom: 20px; float:left; width:100%;
}
.icon-border h3 {
  font-size:18px;line-height: 27px;
}

.icon-border .glyphicon.glyphicon-menu-right.animateIcon {
  top:2px;
}

.icon-border {
  margin-top:0;
}
.common-button-center a{
	margin-bottom: 30px;
}
}


/* Stay in Touch */
.stay_touch_container{ width:100%; float:left; background:#ac1f25;}
.stay_touch_container .comment_box{ background: #fff none repeat scroll 0 0; border-top: 10px solid #008eaa; padding: 20px; min-height: 340px;}
.stay_touch_container .comment_box .icon > img { float: left; margin-right: 10px;}
.stay_touch_container .comment_box .type{ float: left; font-size: 0.75rem; font-weight: bold; margin-top: 16px;}
.stay_touch_container .comment_box .description{ color: #000000; font-size: 1rem; font-weight: 700; margin: 12px 0; float:left; width:100%; font-family: "museo-sans",Helvetica,Arial,sans-serif;}
.stay_touch_container .comment_box .inner-comment {
  display: inline-block;
  font-size: 0.85rem;
  min-height: 138px;
  width: 100%;
}
.stay-inner-coloum {
    max-width: 1035px; margin:0 auto;
}
.stay-inner-coloum .links{  font-family: "museo-sans",Helvetica,Arial,sans-serif; color: #ce0000; margin-top: 12px; font-size: 0.85em; font-weight: 600; text-transform: uppercase;}
.stay-inner-coloum .links a{ color: #ce0000; font-size: 0.85em; font-weight: 600; padding: 3px; letter-spacing: 0.15em;}
.stay-inner-coloum .links a > span{ margin-left: 3px;}
.top-heading{ color: #fff; font-family: "museo-slab",Helvetica,Arial,sans-serif; font-size: 2rem; font-weight: 600; padding: 24px; text-align: center;}
.social-links li {
  float: left;
  padding: 6px;
}
.social-links > ul {
  list-style: outside none none;
  padding: 0; float:left;
}
.social-links {
  float: right;
  margin: 35px 0;
}
.social-links > span {
  color: #fff;
  float: left;
  margin-top: 30px;
}
.stay-inner-coloum{}
@media only screen and (max-width: 991px) {
.comment_box {
  margin-bottom: 20px;
}
.social-links > ul {
  display: table;
  margin: 0 auto;
  text-align: center; float:none;
  width: auto;
}	
.social-links > span {
  float: left;
  width: 100%; margin-top:0;
}
.social-links {
  display: table; float:left;
  margin: 35px auto;
  text-align: center;
  width: 100%;
}
}
