.common-hero-short-banner.service-banner {
    background-position: left top;
}

.business-specific.partner-hexContain .btn-square-white a:hover{
	color:#000000;
	text-decoration: none;	
}

.partner-hexContain a.learn-more-white:hover{
    text-decoration:none;
}

@media only screen and (max-width: 1024px) {
  .common-hero-short-banner.service-banner .content-container{
    margin-left: -15px;
  }
}

/* Partners Sections CSS */
.partner-section{
  background:url("../images/explore-partners.bg.jpg") no-repeat 50% 50%; 
  background-size: cover;
  padding: 58px 0;
}

.partner-hexContain{
  background: #cc0000;
}
.partner-hexContain a.learn-more-white{
  color: #ffffff;
    display: inline-block;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.4em;
    margin: 25px auto 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
	text-decoration:none;
}
.partner-hexContain .signup{
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}

.partner-hexContain .content-container p{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}

.prt-button{margin-top:35px;}



@media only screen and (max-width: 768px) {
    .prt-button{text-align:center; width:100%;}
  
}

@media only screen and (max-width: 767px) {
    .partner-hexContain a.learn-more-white{
      display: block;
      margin: 30px auto 0;
      text-align: center;
    }
    .partner-hexContain .signup{
      display: block;
      margin: 30px auto 0;
      max-width: 180px;
    }
}


/*Career Hero Banner */
#partnerCarsoul.bannerCarsoul {
    width: 100%;
    height: 470px;
    position: relative;    
    z-index:0;
}

#partnerHeroBanner {
    overflow: hidden;
    width: 100% !important;
    width: 100% !important;
}

#partnerCarsoul.bannerCarsoul .bannerSectionImage {
    width: 100%;
    height: 470px;
    float: left;
    position: relative;
    background-size: cover;
    background-position: right center;
    padding-top: 130px;
    z-index:0;
}

#partnerCarsoul.bannerCarsoul .bannerSectionImage .call-to-action{
  min-width: 200px;
  display: inline-block;
  margin-top: 10px;
}

#partnerCarsoul.bannerCarsoul .bannerSectionImage h1,
#partnerCarsoul.bannerCarsoul .bannerSectionImage h2 {
    font-weight: 500;
    color: #fff;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size:3em;
    line-height: 120%;
    text-align: left;
}

#partnerCarsoul.bannerCarsoul .bannerSectionImage p {
    font-weight: 100;
    color: #fff;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    width: 100%;
    text-align: left;
    line-height: 120%;
}

#partnerCarsoul.bannerCarsoul .bannerSectionImage .partnerLogo {
    padding-top: 0;
    text-align: right;
    min-height: 75px;
}
#partnerpageBar .smMobile {
    width:auto;
    padding: 0;
}

#partnerpageBar.PagerBar {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999;
}

#partnerpageBar.PagerBar .name{
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 500;
  font-size: 1.313rem;
  height: 70px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  float: left;
  width: 100%;
  position: relative;
}

#partnerpageBar.PagerBar .name.active{
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
}

#partnerpageBar.PagerBar .name.active:before {
    content: "";
    position: absolute;
    top: -19px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -23px;
    border-style: solid;
    border-width: 0 23px 19px 23px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

#partnerpageBar.PagerBar .name.active:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #ffffff;
}


@media only screen and (max-width: 1024px) {
  #partnerpageBar.PagerBar .name{
    padding: 0 28px;
  }
  #partnerCarsoul.bannerCarsoul .bannerSectionImage h1,
  #partnerCarsoul.bannerCarsoul .bannerSectionImage h2{
    text-align: left;
    font-size: 2.125rem;
  }
  #partnerCarsoul.bannerCarsoul .bannerSectionImage p{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 991px) {
    #partnerCarsoul.bannerCarsoul {
        width: 100%;
        height: auto;
        position: relative;
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage {
        width: 100%;
        height: 470px;
        padding-top: 100px;
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage .hero-content-partner{
      text-align: center;
    }
    
    #partnerCarsoul.bannerCarsoul .bannerSectionImage .partnerLogo {
      padding-top: 0;
      text-align: center;
      min-height: 75px;
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage .call-to-action{
      margin-top: 0;
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage .partnerLogo a img {
        
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage h1,
    #partnerCarsoul.bannerCarsoul .bannerSectionImage h2 {
        font-size: 1.5em;
        margin-top: 15px;
        text-align: center;
    }
    #partnerCarsoul.bannerCarsoul .bannerSectionImage p {
        font-size: 0.8125em;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    #partnerpageBar.PagerBar {
        background-color: inherit;
        text-align: center;
        padding-bottom: 15px;
        height: auto;
    }    

    #partnerpageBar.PagerBar .name {
        height: 70px;
        border-radius: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px 0 0;
        text-indent: -9999px;
        padding-left:0;
        padding-right:0;
        background: #dedede;
    }

    #partnerpageBar.PagerBar .name.active {
      font-weight: 800;
      background: #ffffff;
    }
    #partnerpageBar.PagerBar .name.active:before {
        content: "";
        position: absolute;
        top: -19px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: 0px;
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    }
    #partnerpageBar.PagerBar .name.active:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        border-bottom: 0px solid #ffffff;
    }
    .smMobile {
        display: inline-block;
        padding: 0 ;
    }
}

@media only screen and (max-width: 768px) {
	#partnerCarsoul.bannerCarsoul .bannerSectionImage p, 
	.partner-hexContain .content-container p{
		font-size: 1em;
	}
}

.service-support-main .section-service-col .support-connect-login a:hover{
	color: #ac1f25;
}