.partner-program-banner{ 
	background: url("../images/partner-program-banner1.jpg") no-repeat scroll 50% 50% / cover; z-index:2
}

.fb-section .benefit-section{
	min-height:740px;
}

.fb-section .benefit-section .fb-category-container::after{
	background-color:transparent; 
	height:auto;
}
/*partner-section*/
.partner-section{
	background: rgba(0, 0, 0, 0) url("../images/partner-section-bg.png") no-repeat scroll 50% 50% / cover ;
	color:#fff;
}
.partner-section .partner-content-section{
	padding:83px 0 64px 0;
}
.partner-section .partner-content-section h3{
	font-size:3.5em; font-family: "museo-sans",Helvetica,Arial,sans-serif; font-weight:200;  margin: 0;
}
.partner-section .partner-content-section h4{
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.partner-section .partner-content-section p, 
.partner-section .partner-content-section ul li{
	font-family: arial,sans-serif;
    font-family: arial,sans-serif;
    font-size: 0.975em;
    line-height: 1.5;
    margin: 15px 0;
} 
.partner-section .partner-content-section ul {
    list-style-type: square;
    padding-left: 15px;
}
.partner-section .partner-content-section .form-section{
	float:right;
}

.form-section .form-button{
	max-width:50%; 
	margin-top:40px;
}

@media only screen and (max-width: 768px){
	.fb-section .benefit-section{
		min-height:0;
	}
	.fb-section .benefit-section{padding-top:0; padding-bottom:0; }
	.partner-section .partner-content-section{
		padding:39px 0 40px 0;
	}
	.partner-section .partner-content-section h4{
		font-size:1rem;
	}
	.partner-section .partner-content-section h3{
		font-size:2.3em;
	}
	.partner-section .partner-content-section p, .partner-section .partner-content-section ul li{
		font-size:0.875em;
	}
	.form-section .form-button{
	margin-top:40px;
	max-width: 80%; 
	margin:0 auto;
	text-align:center;
	}
	.partner-section{
		color:#fff;
	}
	.partner-section .partner-content-section .form-section{
		float:none;
	}
}
@media only screen and (max-width: 992px){
	.fb-section .benefit-section{
		min-height:0;
	}
	.partner-section .partner-content-section .form-section {
    float: left;
    width: 100%;
	}
	.form-section .form-button{
	max-width:50%; 
	margin-top:40px;
	}
	.partner-section{
		color:#fff;
	}
	.partner-section .partner-content-section h4{
		font-size:1rem;
	}
	.partner-section .partner-content-section h3{
		font-size:2.3em;
	}
	
}
/*partner-section*/

