/* Press Release List */
.pr-list {
    background: #ffffff;
    padding: 120px 15px 60px;
    position: relative;
    z-index: 2;
}

.pr-list .pr-list-container{
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 0 15px;
}

.pr-list .pr-list-container .pr-search{
  width:70%;
  border:5px solid #e6e6e6;
  min-height: 65px;
  margin: 45px auto 55px;
  position: relative;
}
.pr-list .pr-list-container .pr-search span.glyphicon.glyphicon-search{
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 2.2em;
  color: #cc0000;
  position: absolute;
  top: 15px; right: 14px;
  cursor: pointer;
}

.pr-list .pr-list-container .pr-search > input {
    border: medium none;
    min-height: 65px;
    width: 100%;
    text-align: left;
    font-size: 1.125rem;
    padding-left: 15px;
    padding-right: 62px;
}


@media screen and (max-width: 768px){
  .pr-list .pr-list-container.isnewspage .pr-search {
    border: 2px solid #e6e6e6;
   }  
  .pr-list .pr-list-container.isnewspage .pr-search > input{
    background: transparent;    
  }
  .pr-list .pr-list-container.isnewspage .pr-search span.glyphicon.glyphicon-search {
    top: 5px;
}
  
}


.pr-list .pr-list-container .pr-search ::-webkit-input-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
.pr-list .pr-list-container .pr-search ::-moz-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
.pr-list .pr-list-container .pr-search :-ms-input-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
.pr-list .pr-list-container .pr-search input:-moz-placeholder {
    color: #414141;
    font-size: 1.125rem;
}

.pr-list .pr-list-container .pr-search input::-webkit-input-placeholder {
color: #414141 !important;
}

.pr-list .pr-list-container .pr-search input:focus::-webkit-input-placeholder {
color: #cccccc !important;
}
 
.pr-list .pr-list-container .pr-search input:-moz-placeholder { /* Firefox 18- */
color: #414141 !important;  
}

.pr-list .pr-list-container .pr-search input:focus:-moz-placeholder { /* Firefox 18- */
color: #cccccc !important;  
}
 
.pr-list .pr-list-container .pr-search input::-moz-placeholder {  /* Firefox 19+ */
color: #414141 !important;  
}
.pr-list .pr-list-container .pr-search input:focus::-moz-placeholder {  /* Firefox 19+ */
color: #cccccc !important;  
}
 
.pr-list .pr-list-container .pr-search input:-ms-input-placeholder {  
color: #414141 !important;  
}
.pr-list .pr-list-container .pr-search input:focus:-ms-input-placeholder {  
color: #cccccc !important;  
}

.pr-list .pr-list-container h2 {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
}
.learn-more-red-link {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    padding: 0;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.learn-more-red-link:hover {
    background-color: #cc0000;
    border-color: #ffffff;
    color: #ffffff;
}
.learn-more-red-link a{text-decoration: none; padding:8px 35px; display: block; border: 1px solid #cc0000; color: #cc0000;}
.learn-more-red-link a:hover {
    text-decoration: none;
    color: #ffffff;
}

.learn-more-white-link {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    padding: 0;
}
.learn-more-white-link:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
.learn-more-white-link a{text-decoration: none; padding:8px 35px; display: block;}
.learn-more-white-link a:hover {
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 480px) {
  .pr-list .pr-list-container .pr-search ::-webkit-input-placeholder {
    color: #414141;
    font-size: 0.875rem;
  }
  .pr-list .pr-list-container .pr-search ::-moz-placeholder {
      color: #414141;
      font-size: 0.875rem;
  }
  .pr-list .pr-list-container .pr-search :-ms-input-placeholder {
      color: #414141;
      font-size: 0.875rem;
  }
  .pr-list .pr-list-container .pr-search input:-moz-placeholder {
      color: #414141;
      font-size: 0.875rem;
  }
}

@media (min-width: 320px) and (max-width: 991px) {

  .page-press-release .header .breadcrumb-container {
      text-align: left;
      top: 200px;
  }

  .pr-list{
    padding:120px 0 0;
  }

  .pr-list .pr-list-container{
    padding: 0;
  }
  .pr-list .pr-list-container h1{
   padding: 0 15px;
  }

  .pr-list .pr-list-container .pr-search{
    width:90%;
    border:2px solid #e6e6e6;
    min-height: 35px;
    margin: 32px auto 45px;
  }
  .pr-list .pr-list-container .pr-search span.glyphicon.glyphicon-search{
    font-size: 1.5em;
    top: 15px; right: 6px;
  }

  .pr-list .pr-list-container .pr-search > input {
      min-height: 35px;
      font-size: 0.875rem;
      padding-right: 40px;
  }
  
  .pr-list .pr-list-container.ispressreleasepage .pr-search {
    border: 2px solid #e6e6e6;    
  }
  
  .pr-list .pr-list-container.ispressreleasepage .pr-search span.glyphicon.glyphicon-search{
    top: 5px;
  }

  .pr-list .pr-list-container h2{
    font-size: 1.125rem;
    padding: 0 15px;
  }

  .pr-list-archives div.MobileHolderWrapper{
    background: #fff;
    margin-right: -20px;
    margin-left: -20px;
  }

  .pr-list-archives ul > li{
    padding: 0;
  }
  .pr-list-archives ul > li > a{
    padding: 20px;
  }
  .pr-list-archives div.MobileHolderWrapper{
    margin-left: 0;
    margin-right: 0;
  }
  .pr-list-archives ul > li > a > span {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .pr-list-archives ul > li .icon-accordion-closed {
    display: inline-block;
  }

  .pr-list-archives ul > li .icon-accordion-opened {
    display: none;
  }

  .pr-list-archives ul > li.active .icon-accordion-closed {
    display: none;
  }

  .pr-list-archives ul > li.active .icon-accordion-opened {
    display: inline-block;
  }

  .pr-archives-list{
    padding: 0 0 30px 0;
  }

  .pr-archives-list .pr-archives-list-items .pr:first-child{
    padding-top: 20px;
  }
  .pr-archives-list-items{
    padding: 0 21px;
  }
  .pr-archives-list-items .glyphicon.glyphicon-menu-right.animateIcon {
      top: 3px;
  }
  .pr-archives-list .pr-archives-list-items .pr:last-child{
    padding-bottom: 20px;
  }
  .pr-archives-list-items{
    padding-top: 0;
    padding-bottom:0;
    min-height: 0;
  }
  .pr-archives-list .pr-archives-list-items .pr{
    padding:22px 0;
  }
  .pr-archives-list .pr-archives-list-items .pr h3{
    font-size: 1.065rem;
  }

  .pr-archives-list .pr-load-more{
    text-align: center;
  margin:25px auto 0;
  }

}

@media screen and (max-width: 1280px){
	.pr-list .pr-list-container{
		padding: 0;
	}	
}

/* Press Release  Detail Page */

.page-press-release{

}
.page-press-release .header .breadcrumb-container .breadcrumb,
.page-press-release .header .breadcrumb-container .breadcrumb a{
  color: #333333;
}
.pr-detail{
  background:#ffffff;
  min-height: 740px;
  padding: 120px 15px 60px;
  position: relative;
}
.pr-detail .pr-detail-container{
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 0 15px;
}

.pr-detail .pr-detail-container .pr-detail-desc h1{
  font-size:1.25em;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 245px;  
}

.pr-detail .pr-detail-container .pr-detail-desc h4{
  margin: 0 0 20px;   
}

.pr-detail .pr-detail-container .pr-detail-desc .TextStyle1 i{
  margin-bottom: 30px;
}
.pr-detail .pr-detail-container .pr-detail-desc p{
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1.3em;
}
.pr-detail .pr-detail-container .pr-detail-desc .list-heading{
  font-weight: bold;
  margin-bottom: 5px;
}
.pr-detail .pr-detail-container .pr-detail-desc ul{
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  margin:0 0 25px 0; 
  padding: 0;
}
.pr-detail .pr-detail-container .pr-detail-desc ul li{
 font-weight: 300;                
  margin:0 0 5px 15px;
  padding: 0;
  list-style-type: square;
}

.pr-detail .pr-detail-container a{
  color: #ce0000;
}


.pr-detail .pr-detail-container .pr-detail-share{
  background: #f1f1f1;
  padding: 25px 30px;
}
.pr-detail .pr-detail-container .pr-detail-share .heading{
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  color: #333333;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 800;
  margin-bottom: 15px;
}

.pr-detail .pr-detail-container .pr-detail-share .share-this-page{
  border-bottom: 3px solid #c5c5c5;
  padding-bottom: 25px;
}
.pr-detail .pr-detail-container .pr-detail-share .press-contact{
  padding-top: 25px;
}
.pr-detail .pr-detail-container .pr-detail-share .press-contact .press-contact-detail{
  color: #333333;
  font-size: 1.125rem;
}
.pr-view-all{ font-family: "museo-sans",Helvetica,Arial,sans-serif; font-size: 0.8125rem; text-transform: uppercase; text-align: left;}
.pr-view-all a{
  font-size: 0.8125rem;                    
  font-weight: 800;
  letter-spacing: 0.15em;  
    }

@media only screen and (max-width: 767px){
  .pr-detail{
    padding-top: 140px;   
  }

} 

@media (min-width: 320px) and (max-width: 991px) {  
  .pr-detail .pr-detail-container .pr-detail-desc h1{
    font-size: 1.25em;
    /* text-align: center; */
    font-weight: 500;
    margin-bottom: 20px;
    margin-right: 0;
    line-height: 1.1;
  }
  .pr-detail .pr-detail-container .pr-detail-desc p{
    margin-bottom: 15px;
  }
  .pr-detail .pr-detail-container .pr-detail-desc p:first-child i{display:block; text-align:center; line-height:1.125em;}
  .pr-detail .pr-detail-container .pr-detail-desc ul{
    margin-bottom: 15px;
  }
  .pr-detail .pr-detail-container .pr-detail-desc .sub-heading{
    font-size: 0.875rem;
    text-align: center;
  }
  .pr-detail .pr-detail-container .pr-detail-desc{
    font-size: 0.875rem;
    padding: 0;
  }

  .pr-detail .pr-detail-container .pr-detail-share{
    padding: 15px;
    margin-right: -15px; 
    margin-left: -15px;
    margin-top: 0;
  }
  .pr-detail .pr-detail-container .pr-detail-share .share-this-page{
    background: #ffffff; padding: 10px; text-align: center;
    border-bottom: none;
  }
  .pr-detail .pr-detail-container .pr-detail-share .heading{
    display: inline;
    font-size: 0.75rem; 
    font-weight: 700; 
    margin-bottom: 0;
    line-height: 3em;
  }
  .pr-detail .pr-detail-container .pr-detail-share .share-links{display: inline; margin-left:10px; }

  .pr-detail .pr-detail-container .pr-detail-share .press-contact{
    padding: 10px;
    text-align: center;
    background: #ffffff;
    margin-top: 12px;
  }

  .pr-view-all{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
  }
}

.pr-md-con-cta{
    float:left; 
    width:100%; 
    text-align: left; 
    background: #ffffff;
    padding: 20px 0;
   }

.pr-md-con-cta a{
    color: #c00;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-weight: 900;
    letter-spacing: 0.15em;
  font-size:1em;
  padding: 0 0 0 20px;
    text-decoration:none;
}

.pr-md-con-cta a:hover{color:#ac1f25;}

@media screen and (max-width: 768px){
  .pr-detail .pr-detail-container .pr-detail-desc, 
  .pr-detail .pr-detail-container .pr-detail-desc p{
	  font-size: 1em;
  }	
	
}	

.no-press-release {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}