h2.section-heading.specs_h2{
    font-family: 'museo-slab', Helvetica, Arial, sans-serif;
    font-size: 1.50rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}
div.cs-highlight-box-message .icon-quote.open-quote,
div.cs-highlight-box-message .icon-quote.close-quote {
  position: relative;
}
div.cs-highlight-box-message .icon-quote.open-quote {
  top: -10px;
  left: 0;
  margin-left: 0;
}

div.cs-highlight-box-message .icon-quote.close-quote {
  top: -5px;
  margin-left:0;
}
div.cs-highlight-box-message span.open-quote{background-image:url(../images/sprite.png); background-repeat:no-repeat; background-position:-364px -175px;}
div.cs-highlight-box-message span.close-quote{background-image:url(../images/sprite.png); background-repeat:no-repeat; background-position:-365px -194px;}
.business-specific {
  background-color: #168ba2;
  background-size: cover;
}
.hexagonredbg{background-color:#a61e23;}
.hexagondyellowbg{background-color:#30302f;}
.hexagonblackbg{background-color:#323231;}
.specific-quote p .icon-quote.close-quote{
  background-position:-364px -130px;
}
.business-specific .specific-benefit {
  color: #ffffff;
  padding: 25px 15px 40px;
}

.business-specific .specific-benefit h2 {
  margin: 80px 0 20px -5px;
  line-height: 1;
  font-weight:100;
}

h2.section-heading{
    font-size:3.125em;
    font-weight:100;
    margin-bottom:0;
}

.business-specific .specific-benefit h3 {
    font-weight: 600;        
    line-height: 1;
    margin: 11px 0 20px;
}

.business-specific .specific-benefit h4 {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  /*letter-spacing: .15em;*/
  line-height: 1;
}

.business-specific .specific-benefit ul.calculating-list{
  padding-left: 0;
}

.business-specific .specific-benefit ul {
  list-style-type: square;
  padding-left: 16px; padding-bottom:10px;
}

.business-specific .specific-benefit ul li {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  font-weight:300;
  line-height: 1;
  margin: 15px 0px;
}


.business-specific .specific-benefit a{color:#ffffff; text-decoration:underline;}
.business-specific .specific-benefit a:hover{text-decoration:none;}
/*.business-specific .specific-benefit a:active{color:#505050}*/

.business-specific .specific-benefit .btn-square-white a {
    text-decoration: none;
}

.business-specific .specific-benefit .btn-square-white.app-label a:hover{text-decoration:none;}
.business-specific .specific-benefit ul li.hexagon a{color:#ce0000; text-decoration:none;}
.business-specific .specific-benefit ul li.hexagon a:hover{text-decoration:none; color: #ac1f25;}

.navContain {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.sticky {
  position: fixed;
  height: 0;
  top: 0;
  left: 0px;
  z-index: 999;
}

.sticky .stickNav-background {
  background: rgba(0, 0, 0, 0.5);
}

.sticky .stickNav-container {
  margin: 0 auto;
  max-width: 1280px;
}

ul.stickyNav {
  display: table;
  border-spacing: 15px 0;
  border-collapse: separate;
  z-index: 1001;
  max-width: 1280px;
  margin: 0 0 0 auto;
}

ul.stickyNav li {
  display: table-cell;
  text-align: center;
  min-width: 194px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  position: relative;
  vertical-align: middle;
  background-color: #eee;
}

ul.stickyNav li a {
  display: inline-block;
  height: 100%;
  padding: 15px 21.5px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  display: block;
}

ul.stickyNav li a:hover, ul.stickyNav li a:active, ul.stickyNav li a:focus {
  text-decoration: none;
  outline: none;
}

ul.stickyNav li:first-child a {
  margin-left: 0;
}

ul.stickyNav li a.active {
  background-color: #fff;
}

ul.stickyNav li a.active:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: -10px;
  /*left: calc(50% - 12px);*/
    left:50%;
    margin-left:-12px;
}

ul.stickyNav li a.active{
  color: #ce0000;
}

ul.stickyNav li:hover a{
  background-color: #fff;
}

.business-specific .icon-light,
.business-specific .icon-gear,
.business-specific .icon-advance,
.business-specific .icon-advance-lt,
.specific-benefit .icon-light,
.specific-benefit .icon-gear,
.specific-benefit .icon-advance,
.specific-benefit .icon-advance-lt,
.specific-tech .icon-light,
.specific-tech .icon-gear,
.specific-tech .icon-advance,
.specific-tech .icon-advance-lt {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.business-specific .calculating-list,
.specific-benefit .calculating-list,
.specific-tech .calculating-list {
  display: inline-block;
  width: 100%;
  margin: 35px 0 0;
  padding: 0;
  list-style-type: none;
  height: auto;
  min-height:180px;
}

.business-specific .calculating-list > li,
.specific-benefit .calculating-list > li,
.specific-tech .calculating-list > li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  padding: 40px 10px 0 10px;
  overflow: visible;
  height: auto;
  min-height:170px;
  z-index:1;
}

.business-specific .calculating-list > li h4,
.specific-benefit .calculating-list > li h4,
.specific-tech .calculating-list > li h4 {
  color: #000000;
  font-size: 1.28571em;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  padding: 0 5px;
  line-height: 1.3em;
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.business-specific .specific-benefit ul li.hexagon-transformative{
  font-size: 0.875em; 
}


.homepage .business-specific li.hexagon-transformative.hexagon {
    background: #ffffff;
    width: 305px;
}
.homepage .business-specific li.hexagon-transformative.hexagon:before {
    content: "";
    position: absolute;
    top: -76px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
    border-bottom: 76px solid #ffffff;
}
.homepage .business-specific li.hexagon-transformative.hexagon:after {
    content: "";
    position: absolute;
    bottom: -76px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
    border-top: 76px solid #ffffff;
    z-index: -1;
}

.business-specific .calculating-list > li p,
.specific-benefit .calculating-list > li p,
.specific-tech .calculating-list > li p {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 1.28571em;
  font-weight:300;
  line-height: 1.5rem;
  text-align: center;
  color: #414141;
}

.business-specific .calculating-list > li .icon-plus,
.business-specific .calculating-list > li .icon-minus,
.specific-benefit .calculating-list > li .icon-plus,
.specific-benefit .calculating-list > li .icon-minus,
.specific-tech .calculating-list > li .icon-plus,
.specific-tech .calculating-list > li .icon-minus {
  position: relative;
}

.business-specific .calculating-list > li .icon-plus,
.specific-benefit .calculating-list > li .icon-plus,
.specific-tech .calculating-list > li .icon-plus {
  top: 10px;
}

.business-specific .calculating-list > li .icon-minus,
.specific-benefit .calculating-list > li .icon-minus,
.specific-tech .calculating-list > li .icon-minus {
  top: -5px;
}

.business-specific .hexContain,
.specific-benefit .hexContain,
.specific-tech .hexContain {
  min-height: 430px;
}

.animateAnchor {
  position: relative;
  margin: 15px auto;
  z-index: 10;
  display: block;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.9em;
  line-height: 1;
  line-height: 1.4em;
  color: #ce0000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.animateAnchor:hover, .animateAnchor:active, .animateAnchor:focus {
  color: #ac1f25;
  text-decoration: none;
  outline: none;
}

.animateAnchor.bottomPos {
  margin-bottom: 0px;
}

.animateAnchor .animateIcon {
  position: relative;
  font-size: 1.2em;
  top: 2px;
  left: -3px;
  transition: all 0.5s ease;
}

.animateAnchor:hover > .animateIcon {
  color: #ac1f25;
  left: 6px;
}

@media only screen and (max-width: 992px) {
  /*.resources-section .resources-container .resources-title, .fb-section .fb-container .fb-title{display:none;}*/
  ul.stickyNav li {
    margin: 0 0 0 15px;
  }
  ul.stickyNav li:first-child {
    margin-left: 0;
  }
  .cs-section .cs-container .cs-title{padding-top:40px;}
  .resources-section.service-detail-resource .resources-container .resources-title{
    display:block;
  }
  .business-specific .business-specific-container .specific-benefit ul li.hexagon .animateAnchor{
    font-size: 0.875em;   
  }
  .business-specific .specific-benefit ul li{
  font-size: 1em;
  }
  .business-specific .calculating-list > li p,
  .specific-benefit .calculating-list > li p,
  .specific-tech .calculating-list > li p{
  font-size: 1.125em;
}

.homepage .business-specific li.hexagon-transformative.hexagon {
    width: 280px;
}
.homepage .business-specific li.hexagon-transformative.hexagon:before {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
}
.homepage .business-specific li.hexagon-transformative.hexagon:after {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
}
  
}

@media only screen and (max-width: 768px) {
  .business-specific .specific-benefit {
    padding: 22px 15px 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .business-specific .specific-benefit .content-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .business-specific.specific-tech{
  padding: 0;     
  }  
  .specific-benefit .content-container h2 {
    font-size: 1.875rem;
    margin: 0 0 30px;
  }
  .specific-benefit .content-container h4 {
    font-size: 1.125rem;
  }
  .specific-benefit .content-container .hexContain {
    text-align: center;
  }
  .specific-benefit .content-container .hexContain .hexagon {
    width: 280px;
  }
  .specific-benefit .content-container .hexContain .hexagon:before {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .specific-benefit .content-container .hexContain .hexagon:after {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
}

.specific-quote {
  padding: 39px 10px 45px 10px;
  color: #ffffff;
  background: url("../images/hero-specific-quote.jpg") center center no-repeat;
  background-size: cover;
}

.specific-quote p {
  position: relative;
  display: block;
  width: 70%;
  margin: 25px auto;
  font-family: 'Myriad Pro', arial, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  text-align: left;
  line-height: 1.6;
}

.specific-quote p .icon-quote.open-quote,
.specific-quote p .icon-quote.close-quote {
  position: relative;
}

.specific-quote p .icon-quote.open-quote {
  top: -5px;
  left: 0;
  margin-left: -22px;
}

.specific-quote p .icon-quote.close-quote {
  top: -5px;
  margin-left:0;
}

.specific-quote cite {
  display: block;
  text-align: right;
  margin-right: 10%;
  font-size: 0.875em;
  line-height: 1;
  font-style: normal;
}


@media only screen and (max-width: 768px) {
  .specific-quote {
    padding: 22px 15px 35px;
    margin-left: 0;
    margin-right: 0;
   /* background-position: 25% center;*/
  }
  .specific-quote p {
    width: 100%;
    text-align: center;
    font-family: 'museo-sans', arial, sans-serif;
    line-height: 1.1em;
  }
  .specific-quote cite{
    text-align: center;
    line-height: 1.2em;
    margin-right: 0;
  }
  .specific-quote p .icon-quote.open-quote{
    margin-left: 0;
  }
  .specific-quote p .icon-quote.close-quote{
    top:-2px;
  }

  .specific-quote .content-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .specific-quote q {
    width: auto;
  }
  .specific-benefit .content-container h2 {
    font-size: 1.875rem;
    margin: 15px 0;
  }
  .specific-benefit .content-container h4 {
    font-size: 1.125rem;
  }
  .specific-benefit .content-container .hexContain {
    text-align: center;
  }
  .specific-benefit .content-container .hexContain .hexagon {
    width: 280px;
  }
  .specific-benefit .content-container .hexContain .hexagon:before {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .specific-benefit .content-container .hexContain .hexagon:after {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  ul.stickyNav li.active:after {
    border:none;
  }
}

.specific-tech {
  padding: 40px 0 60px 0;
  color: #ffffff;
  background: url("../images/hero-specific-tech.jpg") center center no-repeat;
  background-size: cover;
}

.specific-tech h2 {
  margin: 80px 0 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 100;
  line-height: 1;
}

.specific-tech h4 {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  /*letter-spacing: .15em;*/
  font-size: 1.5em;
  line-height: 1;
}

.specific-tech ul {
  list-style-type: square;
  padding-left: 20px;
}

.specific-tech ul li {
  font-family: arial, sans-serif;
  font-size: 0.875em;
  line-height: 1;
  margin: 15px 0px;
}

@media only screen and (max-width: 768px) {
  .specific-tech {
    padding: 22px 15px 35px;
    margin-left: 0;
    margin-right: 0;
  }
  .specific-tech .content-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .specific-tech .content-container h2 {
    font-size: 1.875rem;
    margin: 0 0 30px;
  }
  .specific-tech .content-container h4 {
    font-size: 1.125rem;
  }
  .specific-tech .content-container .hexContain {
    text-align: center;
  }
  .specific-tech .content-container .hexContain .hexagon {
    width: 280px;
  }
  .specific-tech .content-container .hexContain .hexagon:before {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .specific-tech .content-container .hexContain .hexagon:after {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
}

.mes-section {
  background-color: #ce0000;
  background: url("../images/prod-sol-bg-mes.png") no-repeat 50% 50%;
  background-size: cover;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.mes-section .mes-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 87px;
}

.mes-section .mes-container header, .mes-section .mes-container h3 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.mes-section .mes-container .product-box {
  background-color: #ffffff;
  color: #333333;
  margin: 7.5px;
  padding: 30px 30px 25px;
  /*max-width: 610px;
  min-height: 187px;*/
}

.mes-section .mes-container .product-box br{display:none;}.mes-section .mes-container .product-box .product-copy-main {
  font-size: 1.125em;
  font-weight: 500;
}

.mes-section .mes-container .product-box .product-copy-sub {
  font-size: 1.125em;
  font-weight:300;
  /*margin-bottom: 1.5em;*/
}

.mes-section .mes-container .product-box .product-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
}

.mes-section .mes-container .product-box .product-link:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.mes-section .mes-container .product-box .product-link .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.mes-section .mes-container .product-box .product-link a {
  outline: 0;
  text-decoration: none;
  color: #ce0000;
  font-weight: 800;
  font-size:0.8125rem;
  letter-spacing: 0.15em;  
}

.mes-section .mes-container .product-box .product-link a:hover {
  color: #ac1f25;
}

@media only screen and (max-width: 768px) {
  .mes-section .mes-container {
    padding-top: 35px;
    padding-bottom: 20px
  }
  .mes-section .mes-container header {
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .mes-section .mes-container .product-box .product-copy-main {
    font-size: 1rem;
  }
  .mes-section .mes-container .product-box .product-copy-sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 0.875rem; */
  font-size: 1em;
  }
  .mes-section .mes-container .product-box .product-link {
    font-size: 0.75rem;
  }
  .mes-section .mes-container .product-box.sm-no-btm-mrgn {
    margin-bottom: 11px;
  }
  .mes-section .mes-container .product-box{
    margin-bottom:18px;
  }
}

.spec-section {
  background: url("../images/prod-sol-bg-tech-spec.png") no-repeat 50% 50%;
  background-size: cover;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.productdetail .spec-section .spec-container {
  min-height: 0;
  max-width: 1280px;
  margin: 0 auto;
  /*padding-top: 110px;*/
}

.techspeconly .spec-section .spec-container {padding-top: 110px;}

.spec-section .spec-container .spec-title {
  font-size: 3.75rem;
  font-weight: 100;
}

.spec-section .spec-container .table-bordered > tbody > tr > td{
  vertical-align: middle; 
}

.spec-section .spec-container .tbd {
  text-align: center;
  height: 670px;
}

.spec-section .spec-container .tbd p {
  font-size: 2.25rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spec-section .spec-container .tbd-dl a {
  margin: 0 auto;
  display: block;
  max-width: 375px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .spec-section .spec-container {
    padding-top: 22px;
    padding-bottom: 35px;
  }
  .spec-section .spec-container .spec-title {
    font-size: 1.125rem;
  }
  .spec-section .spec-container .tbd p {
    font-size: 1.875rem;
  }
}

.cs-section {
  background: url("../images/prod-sol-bg-cs.png") no-repeat 50% 50%;
  background-size: cover;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
}

.cs-section .cs-container {
  min-height: 700px;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 90px;
}

.cs-section .cs-container .cs-title {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-size: 1.50rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cs-section .cs-container .cs-highlight-box,
.cs-section .cs-container .cs-selections {
  max-width: 922px;
  margin: 0 auto;
}

.cs-section .cs-container .cs-highlight-box {
  min-height: 388px;
  margin: 42px auto 55px;
  padding: 40px;
  background-color: #ffffff;
  color: #333333;
}

.cs-section .cs-container .cs-highlight-box div[class|="cs-highlight-box"] {
  margin-bottom: 14px;
}

.cs-section .cs-container .cs-highlight-box div[class|="cs-highlight-box"]:last-child {
  margin-bottom: 0;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-hwsw {
  font-size: 0.875rem;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-message {
  font-size: 1.5rem;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-author {
  text-align: right;
  font-size: 0.875rem;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-read {
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-read:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-read .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-read a {
  outline: 0;
  text-decoration: none;
  color: #ce0000;
  font-weight: 800;
}

.cs-section .cs-container .cs-highlight-box .cs-highlight-box-read a:hover {
  color: #ac1f25;
}

.cs-section .cs-container .cs-selections {
  text-align: left;
}

.cs-section .cs-container .cs-selections a {
  outline: 0;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 11px;
  display: block;
  text-align: left;
}

.cs-section .cs-container .cs-selections .cs-selection-box {
  background-color: #008eaa;
  margin: 7px 0 0;
  max-width: 300px;
}

.cs-section .cs-container .cs-selections .cs-selection-box a{
  padding: 0;
}

.cs-section .cs-container .cs-selections .cs-selection-box:hover .glyphicon.glyphicon-chevron-right {
  right: -8px;
}

.cs-section .cs-container .cs-selections .cs-selection-box .glyphicon.glyphicon-chevron-right {
  position: relative;
  right: 0;
  transition: all 0.5s ease-out;
}

.cs-section .cs-container .cs-all {
  margin: 42px 0 75px;
}

.cs-section .cs-container .cs-all .cs-all-box{
  cursor: pointer;
  display: inline-block;
  min-width: 375px;
}

.resources-section .acs-commons-resp-colctrl-col.acs-commons-resp-colctrl-col-50 .col-sm-6{
    padding:0;
}

/* cs section for homepage only start */
/*.homepage .cs-section .cs-container .cs-highlight-box .cs-highlight-box-hwsw {
  font-size: 1.275rem;
}
.homepage .cs-section .cs-container .cs-highlight-box .cs-highlight-box-message{
  font-size: 1rem;
  color: #666666;
}
.homepage div.cs-highlight-box-message .icon-quote.open-quote,
.homepage div.cs-highlight-box-message .icon-quote.close-quote{
  top:0;
}
@media only screen and (max-width: 768px) {
  .homepage .cs-section .cs-container .cs-highlight-box .cs-highlight-box-hwsw {
    font-size: 1.125rem;
  }
}*/
/* cs section for homepage only end */

@media only screen and (max-width: 768px) {
  .cs-section .cs-container {
    padding-top: 22px;
    padding-bottom: 35px;
  }
  .cs-section .cs-container .cs-title {
    font-size: 1.125rem;
    letter-spacing: normal;
  }
  .cs-section .cs-container .cs-highlight-box {
    padding: 20px;
  }
  .cs-section .cs-container .cs-highlight-box .cs-highlight-box-hwsw .hardware,
  .cs-section .cs-container .cs-highlight-box .cs-highlight-box-hwsw .software {
    margin-right: 15px;
  }
  .cs-section .cs-container .cs-highlight-box .cs-highlight-box-message {
    font-size: 1.25em;
  }
  .cs-section .cs-container .cs-highlight-box .cs-highlight-box-author {
    text-align: center;
  }
  .cs-section .cs-container .cs-selections .cs-selection-box {
    margin: 7px auto;
  }
  .cs-section .cs-container .cs-selections .cs-selection-box.sm-no-btm-mrgn {
    margin-bottom: 0;
  }
  .cs-section .cs-container .cs-selections .cs-selection-box a {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .cs-section .cs-container .cs-selections .cs-selection-box a span.glyphicon.glyphicon-chevron-right {
    position: absolute;
    left: initial;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .cs-section .cs-container .cs-selections .cs-selection-box a {text-align: left;}
  .cs-section .cs-container .cs-selections .cs-selection-box a span.glyphicon.glyphicon-menu-right {
    display:inline;
    /*position: absolute;
    left: initial;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);*/
  }

  .cs-section .cs-container .cs-all .cs-all-box{
    min-width: 375px;
  }
  
}

@media only screen and (max-width: 480px) {
  .cs-section .cs-container .cs-all .cs-all-box{
    min-width: 290px;
  }
}

.resources-section {
  background-color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #333333;
}

.resources-section .resources-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}

h2.section-heading.fb-title{
  margin-bottom: 40px;    
}

.resources-section .resources-container .resources-title {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 40px;
}

.resources-section .resources-container .resources-category {
    padding: 0 40px 0 0;
}

.resources-section .resources-container .resources-category .resources-category-heading {
  font-weight: 600;
  color: #008eaa;
  margin-bottom: 23px;
  letter-spacing: 1px;
}

.resources-section .resources-container .resources-category .resources-category-box br{display:none;}.resources-section .resources-container .resources-category .resources-category-box {
  margin-bottom: 20px;
    min-height:220px;
}

.resources-section .resources-container .resources-category .resources-category-box a {
  outline: 0;
  text-decoration: none;
  color: #ce0000;
  font-weight:900;
  font-size:0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.resources-section .resources-container .resources-category .resources-category-box a:hover {
  color: #ac1f25;
}

.resources-section .resources-container .resources-category .resources-category-box div[class|="resources-category"] {
  margin-bottom: 6px;
}

.resources-section .resources-container .resources-category .resources-category-box div[class|="resources-category"]:last-child {
  margin-bottom: 0;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-icon .resources-icon {
  display: inline-block;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-title {
  font-size: 1.125em;
  letter-spacing: 0.1px;
  line-height: 1.35em;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-description {
  font-size: 1.125em;
  font-weight: 300;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-more {
  font-size: 0.8125rem;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-more:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.resources-section .resources-container .resources-category .resources-category-box .resources-category-more .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.resources-section .resources-container .resources-all,
.resources-section .resources-container .resources-support {
  background-color: #008eaa;
  margin: 7.5px;
  padding: 13px 15px;
  min-height: 50px;
}

.resources-section .resources-container .resources-all:hover .glyphicon.glyphicon-chevron-right,
.resources-section .resources-container .resources-support:hover .glyphicon.glyphicon-chevron-right {
  right: -8px;
}

.resources-section .resources-container .resources-all .glyphicon.glyphicon-chevron-right,
.resources-section .resources-container .resources-support .glyphicon.glyphicon-chevron-right {
  position: relative;
  right: 0;
  transition: all 0.5s ease-out;
}

.resources-section .resources-container .resources-all a,
.resources-section .resources-container .resources-support a {
  letter-spacing: 1px;font-size:1em;font-weight:500;
  outline: 0;
  text-decoration: none;
  color: #ffffff;
}

.resources-all span.glyphicon.glyphicon-menu-right.animateIcon{
    top: 4px;
    font-size: 1.2em;
}

.resources-all span.glyphicon.glyphicon-new-window{
    top: 2px;
    font-size:0.8125rem;
  line-height:1.975em;
}

@media only screen and (max-width: 1024px) {
  .resources-section .resources-container .resources-category .resources-category-box .resources-category-description br {
    display:none;
  }
}

@media only screen and (max-width: 768px) {

  .resources-category-more{padding-bottom:0!important;}

  .resources-section .resources-container {
    padding-top: 22px;
    padding-bottom: 35px;
  }
  .resources-section .resources-container .resources-title {
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
  .resources-section .resources-container .resources-category:after {
    content: "";
    display: block;
    height: 5px;
    background: #f78e1e;
    margin-bottom: 30px;
  }

.resources-section .resources-container .resources-category {
    padding: 0;
}

.resources-section .resources-container .resources-category .resources-category-box br{display:none;}  .resources-section .resources-container .resources-category .resources-category-heading {
    font-size: 1.125rem;
    margin-bottom: 12px;
    margin-top:0
  }
  .resources-section .resources-container .resources-category .resources-category-box {
  margin-bottom: 25px; min-height:inherit; margin-top:0; 
  }
  .resources-section .resources-container .resources-category .resources-category-box div[class|="resources-category"] {
    margin-bottom: 13px; width:100%; 
  }
  .resources-section .resources-container .resources-category .resources-category-box div[class|="resources-category"]:last-child {
    margin-bottom: 0;

  }
  .resources-section .resources-container .resources-category .resources-category-box .resources-category-icon {
    display: inline-block;
  }
  .resources-section .resources-container .resources-category .resources-category-box .resources-category-title {
    margin-left: 0px;
    display: inline-block;
  }
  .resources-section .resources-container .resources-all,
  .resources-section .resources-container .resources-support {
    padding: 15px 10px;
    max-width: 100%;
    margin: 7.5px 7.5px;
  }
  .resources-section .resources-container .resources-all a,
  .resources-section .resources-container .resources-support a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 0%;
    letter-spacing: 0.5px;
  }
  .resources-section .resources-container .resources-all a span.glyphicon.glyphicon-chevron-right,
  .resources-section .resources-container .resources-support a span.glyphicon.glyphicon-chevron-right {
    position: absolute;
    left: auto !important;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .resources-section .resources-all-mobile {
    background-color: #f2f2f2;
    padding: 15px 10px;
    text-align: center;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-message {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-message .question,
  .resources-section .resources-all-mobile .resources-all-mobile-message .product-name {
    display: block;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-message .product-name {
    font-weight: 600;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-read {
    font-size: 0.8125rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-read:hover .glyphicon.glyphicon-chevron-right {
    left: 8px;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-read .glyphicon.glyphicon-chevron-right {
    position: relative;
    left: 0;
    transition: all 0.5s ease-out;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-read a {
    outline: 0;
    text-decoration: none;
    color: #ce0000;
    font-weight: 800;
  }
  .resources-section .resources-all-mobile .resources-all-mobile-read a:hover {
    color: #ac1f25;
  }
  
  .resources-section .resources-container .resources-category .resources-category-box .resources-category-description{
    font-size: 1em;
  }


}

.fb-section {
  background-color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  color: #333333;
}

.fb-section .fb-container .fb-category-container a{color:#333333; text-decoration:underline;}
.fb-section .fb-container .fb-category-container a:hover{text-decoration:none;}
/*.fb-section .fb-container .fb-category-container a:active{color:#505050}*/

.fb-section .fb-container {
  max-width: 1280px;
  margin: 0 auto;
  /*padding-bottom: 123px;*/
}

.fb-section .fb-container .fb-title {
  margin-top:70px;
}

.fb-section .fb-container .fb-category-container:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-color: #f78e1e;
}

.fb-section .fb-container .fb-category-container.no-border-container:after{
    content: "";
    display: block;
    height: 0px;
    width: 100%;
    background-color: none;
 }

.fb-section .fb-container .fb-category-container .fb-category-box {
  text-align: center;
  max-width: 1107px;
  padding-top: 40px;
  margin: 0 auto 25px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-heading {
  font-weight: 600;
  color: #008eaa;
  text-transform: uppercase;
  margin:0 0 20px;
  letter-spacing: 1px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-highlight {
  max-width: 820px;
  margin: 0 auto 25px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-4 .fb-category-points-box {
  padding: 0 40px;
  border-right: 1px solid #ebebeb;
  min-height: 100px;
}
.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-4:last-child div.fb-category-points-box{
  border-right: none;
}

.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-3 .fb-category-points-box {
  padding: 0 30px;
  border-right: 1px solid #ebebeb;
  min-height: 220px;
}
.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-3:last-child div.fb-category-points-box {
  border-right: none;
}

.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-6 .fb-category-points-box {
  padding: 0 25px;
  border-right: 1px solid #ebebeb;
  min-height: 140px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .col-sm-6:last-child div.fb-category-points-box {
  border-right: none;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box {
  text-align: left;
}
.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box br{display:none;}
.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box [class|="fb-category-points-box"] {
  margin-bottom: 18px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box .fb-category-points-box-heading {
  font-size: 1.125em;
  font-weight: 600;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box .fb-category-points-box-description {
  font-size: 1.125em;
  font-weight:300;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-more {
  text-align: left;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-more:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-more .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-more a {
  outline: 0;
  text-decoration: none;
  color: #ce0000;
  font-weight: 800;
}

.fb-section .fb-container .fb-category-container .fb-category-box .fb-category-more a:hover {
  color: #ac1f25;
}

@media only screen and (max-width: 768px) {
  .fb-section .fb-container {
    padding-top: 22px;
  }
  .fb-section .fb-container:last-child{
      /*  padding-bottom: 30px;*/
   }
  .fb-section .fb-container .fb-title {
    font-size: 1.875rem;
    margin-top:0;
  }

  .fb-section .fb-container .fb-category-container .fb-category-box {
    padding: 0;
    margin: 30px 0 25px;
  }
  .fb-section .fb-container .fb-category-container .fb-category-box .fb-category-heading {
    margin-bottom: 18px;
    font-size: 1.125rem;
    text-align: left;
  }
  .fb-section .fb-container .fb-category-container .fb-category-box .fb-category-highlight {
    font-size: 1.25rem;
    margin-bottom: 18px;
    text-align: left;
  }

  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-4,
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-3,
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-6{
    width: 100%;
  }

  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-4 .fb-category-points-box,
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-3 .fb-category-points-box,
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-6 .fb-category-points-box {
    padding: 0;
  }

  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-4 .fb-category-points-box {
    border-right: none;
    min-height: 0;
  }
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-3 .fb-category-points-box {
    border-right: none;
    min-height: 0;
  }
  .fb-section .fb-container .fb-category-container .fb-category-box .col-sm-6 .fb-category-points-box {
    border-right: none;
    min-height: 0;
  }
  
 .rightborder{border-right:none;}
}

.accordion-level .accordion-menu-container {
  padding: 0 15px;
}

.accordion-level .accordion-menu-container .accordion-menu {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  min-height: 50px;
  margin: 0;
  padding: 20px 0;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
    text-transform:uppercase;
}

.accordion-level .accordion-menu-container .accordion-menu:hover {
  cursor: pointer;
}

.accordion-level .accordion-menu-container .accordion-menu span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.accordion-level .accordion-menu-container .accordion-menu span.acc-label {
  position: relative;
  padding-left: 15px;
}

.accordion-level .accordion-menu-container .accordion-menu .icon-accordion-closed {
  display: inline-block;
}

.accordion-level .accordion-menu-container .accordion-menu .icon-accordion-opened {
  display: none;
}

.accordion-level .accordion-menu-container.open {
  background-color: #414141;
    margin-top:-3px;
}

.accordion-level .accordion-menu-container.open:after {
  content: "";
  display: none;
}

.accordion-level .accordion-menu-container.open .accordion-menu {
  background-color: #414141;
  color: #ffffff;
}

.accordion-level .accordion-menu-container.open .accordion-menu .icon-accordion-closed {
  display: none;
}

.accordion-level .accordion-menu-container.open .accordion-menu .icon-accordion-opened {
  display: inline-block;
}

.accordion-level-last .accordion-menu-container:after {
  display: none;
}
.accordion-level-last .accordion-menu-container:after{background:#ffffff;}



@media only screen and (max-width: 768px) {
  .accordion-level .accordion-menu-container:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #c5c5c5;
  }
  .spec-section.accordion-level > .accordion-menu-container:after {
   display: none;
  }

  .accordion-level:last-child .accordion-menu-container:after {
   content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color:transparent;
   }

  .accordion-menu-container .accordion-menu {
    display: block !important;
  }
  .accordion-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
  }
  .accordion-content.open {
    max-height: 9000px;
    transition: max-height 0.25s ease-in;
  }
  
  .accordion-content .fb-section:last-child .fb-container .fb-category-container::after{
     background: transparent;
   }
  .fb-section .fb-container .fb-category-container .fb-category-box .fb-category-heading{text-align:left!important;}
  .fb-section .fb-container .fb-category-container .fb-category-box .fb-category-points-box .fb-category-points-box-description{
    font-size: 1em;
  }
  
  .accordion-level.hidebar > .accordion-menu-container:after{
   background: transparent; 
  }
  
}

@media (min-width: 992px){
#overview{position:relative; margin-top:-49px; padding-top:49px; z-index:1;}
#hdspsaccordion{position:relative; margin-top:-49px; z-index:11;}
}

.productsolutionlanding .result-product .category-products-listing .product h3{
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
}

.specific-benefit p{ 
   font-family: "museo-sans",Helvetica,Arial,sans-serif; 
   font-size: 1.125em;    
   font-weight: 300; 
 }
 
.vsp-soft-products-details .product-download a:hover{
  color: #ac1f25; 
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
   .specific-benefit p{
     font-size: 1em;  
} 
}