.hero-product-solutions {
  z-index: 2;
  position: relative;
  min-height: 718px;
  padding: 120px 15px 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-product-solutions .hero-product-solutions-container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}

.hero-product-solutions .hero-product-solutions-container .video-section{
	min-height: 600px;
    background-position:50% 50%;
    background-repeat: no-repeat;
    position: relative;
	text-align: center;
	margin-top: -40px;
}

.hero-product-solutions .hero-product-solutions-container .video-section .video-play-desktop{
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-product-solutions .hero-product-solutions-container .video-section .video-play-desktop:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hero-product-solutions .hero-product-solutions-container .video-section a.btn-play-video{
	background-image:url('../images/video-play-icon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
	width:161px;
    height:160px;
    display: inline-block;
	vertical-align: middle;
	position: relative;
	float: none;
	left: inherit;
}

/* .hero-product-solutions .hero-product-solutions-container .video-section a.btn-play-video{
    background-image:url('../images/video-play-icon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
	position: absolute;
    width:160px;
    height:160px;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;
} */

.hero-product-solutions .hero-product-solutions-container > div > h1,
.hero-product-solutions .hero-product-solutions-container > div > h2,
.hero-product-solutions .hero-product-solutions-container > div > h4,
.hero-product-solutions .hero-product-solutions-container > div > p {
  color: #ffffff;
}

.hero-product-solutions .hero-product-solutions-container a:hover,
.hero-product-solutions .hero-product-solutions-container a:focus,
.hero-product-solutions .hero-product-solutions-container a:active {
  text-decoration: none;
}

.hero-product-solutions .hero-product-solutions-container .close-hero {
  display: inline-block;
  position: absolute;
  top: 95px;
  right: 165px;
}

.hero-product-solutions .hero-product-solutions-container .headline {
  margin-top: 75px;
  margin-bottom: 20px;
  line-height: 1;
  line-height: 120%;
}

.hero-product-solutions .hero-product-solutions-container .headline sup{
  font-size: 1.125rem;
  top: -25px;
}
.hero-product-solutions .hero-product-solutions-container .headline strong {
  font-weight: 700;
}

.hero-product-solutions .hero-product-solutions-container > div > h3 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.hero-product-solutions .hero-product-solutions-container .sub-headline {
  margin-bottom: 65px;color:#fff;margin-top:11px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.125em; 
  line-height: 1;
  line-height: 120%;
}

.hero-product-solutions .hero-product-solutions-container .sub-headline strong {
  font-weight: 500;
}

.hero-product-solutions .hero-product-solutions-container .request {
  margin-right: 35px;font-weight:600;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-product-solutions .hero-product-solutions-container .request:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.hero-product-solutions .hero-product-solutions-container .request:hover a {
  color: #000000;
}

.hero-product-solutions .hero-product-solutions-container .buy-through {
  display: inline-block;
}

.hero-product-solutions .hero-product-solutions-container .buy-through:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.hero-product-solutions .hero-product-solutions-container .buy-through .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.hero-product-solutions .hero-product-solutions-container .buy-through a {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8em;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.hero-product-solutions .hero-product-solutions-container .buy-through a > .sprite {
  margin-left: 2px;
  position: relative;
  top: 2px;
}

.hero-product-solutions.overview {
  /*display: none;*/
}

.hero-product-solutions.server-rack ,.hero-product-solutions .server-rack-holder {
  position: relative;
}

.hero-product-solutions .hero-product-solutions-container {
  position: static;
  padding-left: 15px;
}

.hero-product-solutions.server-rack .hero-product-solutions-container br{
	display:none;
}

.hero-product-solutions.server-rack .hero-product-solutions-container .servers {
  position: absolute;
    left:0;
  /*  bottom:0;
 top: 120px;
  margin-left: 720px;*/
    float:right;
}

.hero-product-solutions.server-rack .hero-product-solutions-container .video-play {
  margin-bottom: 50px;
}

.hero-product-solutions.video {
  display: none;
}

.hero-product-solutions.video .hero-product-solutions-container {
  text-align: center;
}

.hero-product-solutions.video .hero-product-solutions-container > iframe {
  margin: 20px auto 0;
  width: 916px;
  height: 480px;
}

@media only screen and (max-width: 1280px) {
  .hero-product-solutions.server-rack .hero-product-solutions-container .servers img {
    width: 100%;
    height: 100%;
  }
  .hero-product-solutions.video {
    padding-top: 110px;
  }
  .hero-product-solutions.video .hero-product-solutions-container > iframe {
    width: 80%;
  }
}

@media only screen and (max-width: 1280px) {
    .hero-product-solutions .hero-product-solutions-container .headline{
        font-size:3rem;
    }
	.hero-product-solutions .hero-product-solutions-container{
	    padding-left: 0;	  
    }
}

@media only screen and (min-width: 992px) {
  .hero-product-solutions.server-rack .hero-product-solutions-container .servers {
    display: block;
  }
  .hero-product-solutions.server-rack .hero-product-solutions-container .video-play {
    display: none;
  }

  .hero-product-solutions .hero-product-solutions-container .close-hero{right:45px;}      
}


@media only screen and (max-width: 992px) {
  .hero-product-solutions {
    min-height: 0;
    padding-top: 130px;
    padding-bottom: 80px;
    background-position: top right;
  }
  .hero-product-solutions .hero-product-solutions-container {
    text-align: center;
  }
  .hero-product-solutions .hero-product-solutions-container .headline {
    margin-top: 40px;
  }
  .hero-product-solutions .hero-product-solutions-container .request,
  .hero-product-solutions .hero-product-solutions-container .buy-through {
    display: block;
  }
  .hero-product-solutions .hero-product-solutions-container .request {
    max-width: 244px;
    margin: 0 auto 25px;
  }
  .hero-product-solutions .hero-product-solutions-container .buy-through {
    margin-bottom: 50px;
  }
  .hero-product-solutions .hero-product-solutions-container .close-hero {
    right:11px;
  }
  .hero-product-solutions.server-rack .hero-product-solutions-container .servers {
    display: none;
  }
  .hero-product-solutions.video {
    margin-top: 44px;
    padding-top: 180px;
  }
  .hero-product-solutions.video .hero-product-solutions-container > iframe {
    margin-bottom: 40px;
    width: 90%;
  }
.hero-product-solutions .hero-product-solutions-container .headline sup{top:-25px}
}

@media only screen and (max-width: 768px) {
  .hero-product-solutions {
    padding-top: 170px;
    padding-bottom: 0;
  }
  .hero-product-solutions .hero-product-solutions-container .headline {
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1;
  }
  .hero-product-solutions .hero-product-solutions-container div h3 {
    font-size: 1em;
    line-height: 1;
  }
  .hero-product-solutions .hero-product-solutions-container .sub-headline {
    margin-bottom: 50px;
    /* font-size: 0.8125em; */
	font-size: 1em;
    line-height: 1;
    line-height: 120%;
  }
  .hero-product-solutions.video .hero-product-solutions-container > iframe {
    width: 100%;
  }
.hero-product-solutions .hero-product-solutions-container .headline sup{top:-6px}
}

@media only screen and (max-width: 480px) {
  .hero-product-solutions {
    background-position: top center;
  }
  .hero-product-solutions .request {
    font-size: 0.8125em;
    line-height: 1;
  }
  .hero-product-solutions .buy-through {
    font-size: 0.8125em;
    line-height: 1;
  }
}
