/* Service Detail Hero Banner */
.common-hero-banner.service-detail-banner{
	
}

/* Accordion First tab CSS */
.managed-cloud-services{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 70px 15px;
  position: relative;
  z-index: 2;
}
.managed-cloud-services .managed-cloud-services-container{
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}
.managed-cloud-services .managed-cloud-services-container h2 {
    font-weight: 100;
    line-height: 1;
    margin: 0 0 20px 0;
}
.managed-cloud-services .managed-cloud-services-container h4 {
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 22px;
    margin-top:18px;
    text-transform: uppercase;
} 
.managed-cloud-services .managed-cloud-services-container p{
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    margin: 0;
    font-weight: 300;
}

.managed-cloud-services .managed-cloud-services-container p a{
	color: #ffffff;
}

.managed-cloud-services .managed-cloud-services-container p a:hover{
	text-decoration: underline;
} 

@media only screen and (max-width: 768px) {
  .managed-cloud-services{
    padding-top: 40px;
  }

	.managed-cloud-services .managed-cloud-services-container h2{
		font-size: 1.875rem;
	}
	.managed-cloud-services .managed-cloud-services-container p{
		font-size: 1em;
	}
}


.services-list-section.services-list1{
  background-size: cover;
  padding: 50px 0;
}
.services-list-section.services-list2{
  background-size: cover;
  padding: 50px 0;
}

.resources-section.service-detail-resource .resources-title { 
	margin-bottom:50px; color: #1790a8;
	text-align: center; 
	width: 100%; 
	font-weight:600; 
    font-size:1.5em;
}

.resources-section.service-detail-resource .resources-container{
	padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
	.resources-section.service-detail-resource .resources-container{
	   padding-bottom: 0;
  }
	
}

/* Accordion Second tab CSS */
/* HCS CA Section */

.hcs-section{

}

.services-promo-banner{   
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 402px;
    padding: 90px 15px 0;
    position: relative;
    z-index: 2;
}

.services-promo-banner .services-promo-container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
    position: relative;
}
.services-promo-banner .services-promo-container .headline {
    color: #ffffff;
    font-size: 3em;
    font-weight: 100;
    line-height: 120%;
    margin-bottom: 35px;
    margin-top: 0;
}

.services-promo-banner .services-promo-container .sub-text {
    color: #ffffff;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 37px;
}

.services-promo-banner.promo1{
	background-image: url("../images/service-detail-banner3.jpg") !important;
}

.services-promo-banner.promo2{
	background-image: url("../images/service-detail-banner2.jpg");
}

@media only screen and (max-width: 768px) {
  .services-promo-banner{
    padding-top: 40px;
    min-height: auto;
  }
  .services-promo-banner .services-promo-container{
    padding: 0;
  }
	.services-promo-banner .services-promo-container .headline{
		font-size: 30px;
	}
	.services-promo-banner .services-promo-container .sub-text {
	    /* font-size: 0.875rem; */
		font-size: 1em;
	    margin-top: 10px;
	}
	
 .news-insight-resources.service-infra .news-resources-col{
	display: block;
	padding: 38px 15px 25px;	
    }

.news-insight-resources.service-infra .news-resources-col .imageHolder, 
.news-insight-resources.service-infra .news-resources-col .headline{
     display: block;
	 text-align: center;
	 width: auto;
	 padding: 0;
  }
}

/* accord-service3 */
#accord-services .hexContain {
    min-height: 400px;
}
@media only screen and (max-width: 768px) {
.accordion-content .resources-section.service-detail-resource .resources-title{
  margin-bottom: 25px;
  font-size: 1.125rem;
}
}