.common-hero-short-banner.service-banner {
    background-image: url("../images/service-lp-banner.jpg");
    background-position: left top;
}

@media only screen and (max-width: 1024px) {
  .common-hero-short-banner.service-banner .content-container{
    margin-left: -15px;
  }
}

/* Common CSS for both pages */
.overRidePadding {
    padding-right: 0!important;
    margin-bottom: 15px;
}

.overRideRight {
    padding-right: 0!important;
}

.overRideleft {
    padding-left: 0!important;
}

/* Services Support Customer CSS */
.service-support-main {
  background: #f6f6f6 none repeat scroll 0 0;
  width: 100%; text-align:center; padding:35px 0 84px;
}

.service-support-main  h2,
.services-list-section h2{ 
  color:#008eaa; 
  font-family: "museo-slab", Helvetica, Arial, sans-serif; 
  font-size: 24px; 
  font-weight: 700; 
  padding-bottom: 25px; 
  text-transform: uppercase; 
  text-align:center;
}

.services-list-section h2{ color: #ffffff;}

.services-section{
  background:url("../images/hero-calculating-success.jpg") no-repeat 50% 50%; 
  background-size: cover;
  padding: 58px 0;
}

.service-support-main .section-service-col,
.services-list-section .section-service-col{
    display: block;
    background: #fff;
    color: #000;
    padding: 38px 40px 25px 40px;
    box-shadow: 0 2px 2px #c5c5c5;
    min-height: 260px;
}

.services-list-section .col-sm-4 {
    padding-left: 0;
}

.services-list-section .section-service-col{
  box-shadow: none;
  text-align: center;
  margin-bottom: 20px;
}

.section-service-col .glyphicon.glyphicon-menu-right.animateIcon {
    display: inline;
}


.services-list-section .section-service-col:last-child{
  margin-bottom: 20px;
}

.service-support-main .section-service-col .imageHolder,
.services-list-section .section-service-col .imageHolder{
    min-height: 79px;
}

.service-support-main .section-service-col .headline,
.services-list-section .section-service-col .headline{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.313em;
    line-height: 1;
    line-height: 120%;
}
.service-support-main .section-service-col .headline a, 
.services-list-section .section-service-col .headline a{
	color:#000;
}
.service-support-main .section-service-col .headline .animateLink{
	margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
	font-size:inherit;
    font-weight: 700;   
    line-height: 120%;
	text-transform: none;	
}

.service-support-main .section-service-col .headline .animateLink .glyphicon{
	font-size: 1.1rem; 
}

.service-support-main .section-service-col p,
.services-list-section .section-service-col p{
    margin-bottom: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 0.875em;
    line-height: 1;
    color: #000000;
    line-height: 142%;
}

.service-support-main .section-service-col a,
.services-list-section .section-service-col a {
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: none;
    color: #cc0d0d;
    text-decoration: none;
}

.service-support-main .section-service-col a:hover,
.services-list-section .section-service-col a:hover {
    color: #000000;
}

.service-support-main .section-service-col.service-blue-box{
  background: #008eaa;
  color: #fff;
}
.service-support-main .section-service-col.service-blue-box .support-phone-no{
  text-align: left;
}

.service-support-main .section-service-col.service-blue-box .support-connect-login{
  text-align: right;
}

.service-support-main .section-service-col.service-blue-box  a {
  color: #fff;
  font-size: 15px;
}
.service-support-main .section-service-col.service-blue-box  p { color: #fff;}

.service-support-main .section-service-col .headline .glyphicon, 
.services-list-section .section-service-col .headline .glyphicon{
  display: inline;
  font-size: 1em;
  top: 3px;
}

@media only screen and (max-width: 1024px) {
  .service-support-main .section-service-col, 
  .services-list-section .section-service-col{
    padding: 20px 15px 20px;
    min-height: 295px;
  }
  .services-list-section .col-sm-4 {
    padding-right: 15px;
  }
}

@media only screen and (max-width:991px){
	.services-list-section.services-section.service-insights-section .container-fluid{
		margin-right: -15px;
	}	
}

@media only screen and (max-width: 768px) {
  .service-support-main{
    padding: 25px 0;
  }
  .service-support-main  h2,
  .services-list-section h2{ 
    margin-top: 0;
    font-size: 1.125rem;
  }

  .service-support-main .section-service-col .headline,
  .services-list-section .section-service-col .headline{
    font-size: 1.125rem;
  }
  .service-support-main .section-service-col, 
  .services-list-section .section-service-col{
    padding: 38px 15px 25px;
  }

  .service-support-main .section-service-col .headline .glyphicon, 
  .services-list-section .section-service-col .headline .glyphicon{
    top:3px;
  }

  .services-section{
    padding: 25px 0;
  }

  .service-support-main .section-service-col, .services-list-section .section-service-col{
    min-height: 335px;
  }    
  .service-blue-box{padding: 38px 15px 25px;}
  .service-blue-box > small {
   font-size: 15px;
  }
  .service-blue-box > a {
    color: #fff;
    float: left;
    font-size: 15px;
  }

}

@media only screen and (max-width: 767px) {
  .service-support-main .section-service-col, .services-list-section .section-service-col{
    min-height: auto;
  }
  .services-list-section .col-sm-4 {
    padding-right: 0;
  }

  .service-support-main .section-service-col.service-blue-box .support-phone-no{
    text-align: center;
  }

  .service-support-main .section-service-col.service-blue-box .support-connect-login{
    text-align: center;
  }
  .services-list-section.services-section.service-insights-section .container-fluid{
		margin-right: 0;
	}
}

/* Services - Training & Certification Section CSS */
.millennials.services-training{
  background-image: url("../images/service-training-certification.jpg");
}

@media only screen and (max-width: 768px) {
  .millennials.services-training{
    padding-bottom: 140px;
  }
  .millennials.services-training .millennials-container .millennials-content h1{
    margin-top: 85px;
  }
}

.section-service-col.dummy a:hover{color:#000;}



@media only screen and (max-width: 768px) {

	#insight-center-excellence .accordion-menu-container .accordion-menu{padding-left:15px!important; padding-right:15px!important;}
    #insight-center-excellence .accordion-menu-container .accordion-menu span.acc-label{padding-left:0!important}

}

#analytics-accelerator-service .accordion-content .specific-tech{padding-left:0; padding-right:0;}