/* Hero Social Innovation CSS*/
.hero-social-innovation {
  z-index: 2;
  position: relative;
  min-height: 718px;
  padding: 120px 15px 0;
  background-image: url("../images/hero-social-innovation.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-social-innovation .hero-social-innovation-container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}

.hero-social-innovation .hero-social-innovation-container > h1,
.hero-social-innovation .hero-social-innovation-container > h2,
.hero-social-innovation .hero-social-innovation-container > h4,
.hero-social-innovation .hero-social-innovation-container > p {
  color: #ffffff;
}

.hero-social-innovation .hero-social-innovation-container a:hover,
.hero-social-innovation .hero-social-innovation-container a:focus,
.hero-social-innovation .hero-social-innovation-container a:active {
  text-decoration: none;
}

.hero-social-innovation .hero-social-innovation-container .close-hero {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
}

.hero-social-innovation .hero-social-innovation-container .headline {
  margin-top: 75px;
  margin-bottom: 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 3.4375em;
  line-height: 1;
  line-height: 120%;
}

.hero-social-innovation .hero-social-innovation-container .headline strong {
  font-weight: 700;
}

.hero-social-innovation .hero-social-innovation-container > h3 {
  margin-bottom: 10px;
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-social-innovation .hero-social-innovation-container .sub-headline {
  margin-bottom: 65px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.375em;
  line-height: 1;
  line-height: 120%;
}

.hero-social-innovation .hero-social-innovation-container .sub-headline strong {
  font-weight: 500;
}

.hero-social-innovation .hero-social-innovation-container .request {
  margin-right: 35px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-social-innovation .hero-social-innovation-container .request:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.hero-social-innovation .hero-social-innovation-container .request:hover a {
  color: #000000;
}

.hero-social-innovation .hero-social-innovation-container .buy-through {
  display: inline-block;
}

.hero-social-innovation .hero-social-innovation-container .buy-through:hover .glyphicon.glyphicon-chevron-right {
  left: 8px;
}

.hero-social-innovation .hero-social-innovation-container .buy-through .glyphicon.glyphicon-chevron-right {
  position: relative;
  left: 0;
  transition: all 0.5s ease-out;
}

.hero-social-innovation .hero-social-innovation-container .buy-through a {
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8125em;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.hero-social-innovation .hero-social-innovation-container .buy-through a > .sprite {
  margin-left: 2px;
  position: relative;
  top: 2px;
}

.hero-social-innovation.overview {
  display: none;
}

.hero-social-innovation.server-rack {
  position: relative;
}

.hero-social-innovation.server-rack .hero-social-innovation-container {
  position: static;
  padding-left: 15px;
}

.hero-social-innovation.server-rack .hero-social-innovation-container .servers {
  position: absolute;
  top: 120px;
  margin-left: 720px;
}

.hero-social-innovation.server-rack .hero-social-innovation-container .video-play {
  margin-bottom: 50px;
}

.hero-social-innovation.video {
  display: none;
}

.hero-social-innovation.video .hero-social-innovation-container {
  text-align: center;
}

.hero-social-innovation.video .hero-social-innovation-container > iframe {
  margin: 20px auto 0;
  width: 916px;
  height: 480px;
}

@media only screen and (max-width: 1280px) {
  .hero-social-innovation.server-rack .hero-social-innovation-container .servers img {
    width: 100%;
    height: 100%;
  }
  .hero-social-innovation.video {
    padding-top: 110px;
  }
  .hero-social-innovation.video .hero-social-innovation-container > iframe {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .hero-social-innovation.server-rack .hero-social-innovation-container .servers {
    display: block;
  }
  .hero-social-innovation.server-rack .hero-social-innovation-container .video-play {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .hero-social-innovation {
    min-height: 0;
    padding-top: 130px;
    padding-bottom: 80px;
    background-position: top right;
  }
  .hero-social-innovation .hero-social-innovation-container {
    text-align: center;
  }
  .hero-social-innovation .hero-social-innovation-container .headline {
    margin-top: 40px;
  }
  .hero-social-innovation .hero-social-innovation-container .request,
  .hero-social-innovation .hero-social-innovation-container .buy-through {
    display: block;
  }
  .hero-social-innovation .hero-social-innovation-container .request {
    max-width: 244px;
    margin: 0 auto 25px;
  }
  .hero-social-innovation .hero-social-innovation-container .buy-through {
    margin-bottom: 50px;
  }
  .hero-social-innovation .hero-social-innovation-container .close-hero {
    right: 10px;
  }
  .hero-social-innovation.server-rack .hero-social-innovation-container .servers {
    display: none;
  }
  .hero-social-innovation.video {
    margin-top: 44px;
    padding-top: 180px;
  }
  .hero-social-innovation.video .hero-social-innovation-container > iframe {
    margin-bottom: 40px;
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-social-innovation {
    padding-top: 170px;
    padding-bottom: 0;
  }
  .hero-social-innovation .hero-social-innovation-container .headline {
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1;
  }
  .hero-social-innovation .hero-social-innovation-container h3 {
    font-size: 1em;
    line-height: 1;
  }
  .hero-social-innovation .hero-social-innovation-container .sub-headline {
    margin-bottom: 50px;
    font-size: 0.8125em;
    line-height: 1;
    line-height: 120%;
  }
  .hero-social-innovation.video .hero-social-innovation-container > iframe {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-social-innovation {
    background-position: top left;
  }
  .hero-social-innovation .request {
    font-size: 0.8125em;
    line-height: 1;
  }
  .hero-social-innovation .buy-through {
    font-size: 0.8125em;
    line-height: 1;
  }
}


/* SI - Advanced Technology - Pentagon Section CSS*/
.advance-tech-hexagon{
  position: relative;
  padding: 70px 15px 50px;
  background-image: url("../images/si-advance-tech-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 670px;
}

.advance-tech-hexagon h2 {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 3.75em;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 35px 0;
    text-align: center;
}
.advance-tech-hexagon p{
  text-align: center;
}

.advance-tech-hexagon .advance-tech-hexagon-list{
    display: inline-block;
    list-style-type: none;
    margin: 55px 0 0;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
  .advance-tech-hexagon h2{
   font-size: 1.875rem;
  }
}

/* SI - We Mean Business CSS*/
.we-mean-business {
  z-index: 2;
  position: relative;
  padding: 65px 0 60px;
  background: #ffffff
}

.we-mean-business h2 {
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  font-size: 3.75em;
  font-weight: 100;
  line-height: 1;
  margin: 0 0 55px 0;
  line-height: 1;
  text-align: center;
  color: #008eaa;
}
.we-mean-business .si-comm-box{
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  border-right: 1px solid #d7d7d7;
  padding: 0 30px;
}
.we-mean-business .si-comm-box:first-child{
  padding-left: 0 !important;
}
.we-mean-business .si-comm-box:last-child{
  border-right:none;
  padding-right: 0 !important;
}

.we-mean-business .si-comm-box .title{
  font-size: 1em;
  color: #000000;
  text-transform: uppercase;
  display:table-cell;
  min-width: 20%;
  line-height: 1;

}
.we-mean-business .si-comm-box .title span{  
  font-family: "museo-slab",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  color: #cc0000;
  font-weight: 600;
}

.we-mean-business .si-comm-box .description{
   display: table-cell;
   padding-left: 20px;
   font-size: 1.125rem;
}

@media only screen and (max-width: 767px) {
  .we-mean-business{
    padding: 45px 0;
  }
  .we-mean-business h2 {
    font-size: 1.875rem;
    margin-bottom: 15px; 
  }
  .we-mean-business .si-comm-box{
    padding: 25px 0;
    margin: 0 40px;
    border-bottom: 1px solid #d7d7d7;
    border-right: none;
  }
  .we-mean-business .si-comm-box:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }
  .we-mean-business .si-comm-box .title{
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .we-mean-business .si-comm-box .title span{
    display: block;
  }
  .we-mean-business .si-comm-box .description{
    display: block;
    text-align: center;
    border: none;
    font-size: 0.75rem;
  }
}

/* SI - Article Section CSS */
.social-innovation-article{
  position: relative;
  padding: 60px 15px;
  background-image: url("../images/si-article-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.social-innovation-article h3 {
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}
.social-innovation-article .si-article-content{
  margin-bottom: 40px;
  font-size: 1.125rem;
}
.social-innovation-article .si-article-content .icon{
  display: inline-block;
}
.social-innovation-article .si-article-content .icon.col-sm-2 {
    padding-right: 0;
}
.social-innovation-article .si-article-content .desc{
  display: inline-block;
  padding-top: 15px;
}
.social-innovation-article .si-article-content .desc.col-sm-10 {
    padding-left: 0;
}

.social-innovation-article .si-article-more {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-right: 35px;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    text-align: center;
}

.social-innovation-article .si-article-more:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}

.social-innovation-article .si-article-more:hover a {
    color: #000000;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .social-innovation-article .si-article-content{
    text-align: center;
  }
  .social-innovation-article .si-article-content .icon.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .social-innovation-article .si-article-content .desc.col-sm-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .social-innovation-article .si-article-more{
    margin-right: 0;
  }
}


/* SI - Work Today Section CSS */
.si-work-today{margin:0; padding: 60px 0;}
.si-work-today h3{
  font-family: "museo-slab",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 60px 0;
}
.si-work-today .si-comm-box{
  box-shadow: 0 2px 3px #999;
  color: #ffffff;
  font-family: "museo-sans",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
  min-height: 375px;
  position: relative;
}
.si-work-today .si-comm-box.si-box1{
  background: url("../images/si-telecom-analytics.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.si-work-today .si-comm-box.si-box2{
  background: url("../images/si-public-safety.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.si-work-today .si-comm-box.si-box3{
  background: url("../images/si-connected-health.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.si-work-today .si-comm-box.si-box4{
  background: url("../images/si-it-analytics.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.si-work-today .col-sm-6 {
    padding-right: 0;
}

.si-work-today .si-comm-box .si-comm-box-content {
    bottom: 30px;
    padding: 0 20px 0 30px;
    position: absolute;
}

.si-work-today .si-comm-box .si-comm-box-content .title {
    font-size: 1.313rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.si-work-today .si-comm-box .si-comm-box-content .description {
    font-family: Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.4em;
}

.si-work-today .si-comm-box .si-comm-box-content .read-more {
    font-weight: 800;
    margin-top: 10px;
    font-size: 0.8125rem;
}

.si-work-today .si-comm-box .si-comm-box-content .read-more a {
    color: #ffffff;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .si-work-today{
    padding: 50px 0 30px;
  }
  .si-work-today h3{
    font-size: 1rem;
    margin: 0 0 40px;
  }
  .si-work-today .col-sm-6 {
      padding-right: 15px;
  }
  .si-work-today .si-comm-box{
    min-height: 200px;
  }

  .si-work-today .si-comm-box {min-height: 200px; }
  .si-work-today .si-comm-box .si-comm-box-content{
    bottom: 15px;
    padding: 0 15px 0 15px;
  }
  .si-work-today .si-comm-box .si-comm-box-content .title{
    font-size: 1.125rem; font-weight: 700; margin-bottom: 10px;
  }
  .si-work-today .si-comm-box .si-comm-box-content .description{  
    font-size: 0.8rem;
  }
  .si-work-today .si-comm-box .si-comm-box-content .read-more{
      font-size:0.7rem;
  }
  .si-work-today .si-comm-box .si-comm-box-content .read-more a{
    color: #ffffff;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
  }

}