@charset "utf-8";
/* CSS Document */

.hds-training-detail
{
	background-image: url(../images/banner-training-detail.png);
    z-index: 2;
}

.hds-training-cale{ width:100%; padding-top:80px;}
.hds-training-cale label{
   color: #9f9f9f;
    float: left;
    padding: 7px 0 0;
    text-align: left;
    width: 100%;
    font-weight: 400;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    margin: 0;
}
.hds-training-cale span{
 float:left;
 padding:0 20px;
 color:#9f9f9f;
 font-family: "museo-sans",Helvetica,Arial,sans-serif;

 }

.hds-training-cale .daterangepicker .daterangepicker_input{width:100%;}
.hds-training-cale .daterangepicker .calendar.left, .hds-training-cale .daterangepicker .calendar.right {
	margin-right:0;
	width:45%;
	}
.hds-training-cale .daterangepicker input[type="text"]{
	width:100%; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;
	}
.hds-training-cale .daterangepicker input[type="text"].search{
	/*padding-left:10px;*/
	text-align: center;
}

.key-wrd-src .daterangepicker input[type="text"] {
    border: 5px solid #e6e6e6;
    text-align: left !important;
    height: 48px;
    font-size: 1.125em;
    font-weight: normal;
}
.key-wrd-src .daterangepicker > input[type=text]::-ms-clear {
    display: none;
}
.key-wrd-src .daterangepicker::-webkit-input-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
.key-wrd-src .daterangepicker::-moz-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
/* firefox 19+ */

.key-wrd-src .daterangepicker:-ms-input-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
/* ie */
.key-wrd-src .daterangepicker input:-moz-placeholder {
    color: #414141;
    font-size: 1.125rem;
}
.key-wrd-src .daterangepicker input::-webkit-input-placeholder {
    color: #414141 !important;
}
.key-wrd-src .daterangepicker input:focus::-webkit-input-placeholder {
    color: #cccccc !important;
}
.key-wrd-src .daterangepicker input:-moz-placeholder {
    /* Firefox 18- */
    color: #414141 !important;
}
.key-wrd-src .daterangepicker .pr-search input:focus:-moz-placeholder {
    /* Firefox 18- */
    color: #cccccc !important;
}
.key-wrd-src .daterangepicker .pr-search input::-moz-placeholder {
    /* Firefox 19+ */
    color: #414141 !important;
}
.key-wrd-src .daterangepicker .pr-search input:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: #cccccc !important;
}
.key-wrd-src .daterangepicker .pr-search input:-ms-input-placeholder {
    color: #414141 !important;
}
.key-wrd-src .daterangepicker .pr-search input:focus:-ms-input-placeholder {
    color: #cccccc !important;
}

.hds-training-cale .btn-square-red a {
    padding: 14px 35px;
	text-align: center;
}

.hds-training-cale #two-inputs .calendar.left .daterangepicker_input input[type="text"],
.hds-training-cale #two-inputs .calendar.right .daterangepicker_input input[type="text"]{   
  padding-left:40px;	
	
}

.training-result .category-heading {
    border-bottom: 6px solid #f78e1e;
}


.training-result .result-section{
	border-bottom:3px solid #c5c5c5;
	float:left;
	width:100%;
	padding: 47px 0;
}
.result-section.border-last{
	border-bottom: none !important;
}

.result-section h3 {padding:0 0 16px 0; margin:0;}
.result-section h3 a{
	color:#cc0000;
	font-size: 20px;
    font-weight: 100;
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	font-weight:700;
	text-decoration:none;
	margin:0;
	text-decoration:none;
}
.result-section h3 a span{font-size: 15px;}

.result-section h3 a:hover{
	text-decoration:none;
	color:#ac1f25;
}

.result-section ul{
	padding:0;
	margin:0;
	list-style:none;
}

.result-section ul li{
	font-size: 20px;
	font-family: "museo-sans",Helvetica,Arial,sans-serif;
	color:#000;
	}
	
#trainingDetail .result-btn{
    display:inline-block;
	margin: 25px 0 60px 35px;
}

@media only screen and (min-width: 1024px) {
	.showsec{width:14%; padding-right:0;}
	.calendar_bxes{padding-left:0;}
	.key-wrd-src{padding:0 0 0 15px;}
	.srching{padding:0 0 0 29px;}
	.hds-training-cale label{font-size:18px;}
	.hds-training-cale span{font-size:18px;}
	.hds-training-cale.training-date-pick .daterangepicker .calendar.left,
	.hds-training-cale.training-date-pick .daterangepicker .calendar.right{
		width: 40%;
	}
	.hds-training-cale.training-date-pick .daterangepicker span{margin-top: 7px;}
	.hds-training-cale.training-date-pick .calendar_bxes{width: 44%; padding: 0;}
	.hds-training-cale.training-date-pick .daterangepicker input[type="text"]{padding:12px 8px; }
	.hds-training-cale.training-date-pick .key-wrd-src{width: 22%; padding: 0;}
	
}
@media only screen and (min-width: 1200px){
	 .showsec{width:16%;}
	 .key-wrd-src{padding:0 15px 0 15px;}
	 .hds-training-cale label{font-size:22px;}
	 .hds-training-cale span{font-size:22px; margin-top: 8px;}
	 }
@media only screen and (max-width: 991px) {
.training-result .result-btn{width:100%;}
#trainingDetail .result-btn{margin-left:0;}
.hds-training-cale .daterangepicker .calendar.left,
 .hds-training-cale .daterangepicker .calendar.right{width:49%;}
 .hds-training-cale label{color:#000;}
 .hds-training-cale .daterangepicker input[type="text"]{border:1px solid #ccc;}
}

@media only screen and (min-width: 992px) and (max-width: 1090px) {

.hds-training-cale .daterangepicker .calendar.left,
 .hds-training-cale .daterangepicker .calendar.right{width:42%;}
}





.hds-training-rsc-sec{margin: 0 auto;
    max-width: 1280px;
    padding: 45px 15px 50px;
    position: relative;
	
}
.hds-training-rsc-sec h2 {
    font-family: "museo-slab",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
	}
.hds-training-rsc-sec .row{margin-left:0;}

.hds-training-rsc-sec .row .col-md-4{padding-left:0}

.hds-training-rsc-sec .training-boxes{background-color: #fff;
    box-shadow: 0 1px 2px #5a5959;
    color: #333333;}
	
.hds-training-rsc-sec .training-boxes .imageHolder img {
    width: 100%;
}

.hds-training-rsc-sec .training-boxes .prdct-inner {
    background-color: #ffffff;
    padding: 30px 17px 25px;
}
.hds-training-rsc-sec .training-boxes .prdct-inner h3 {
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0 0 18px;
    text-transform: capitalize;
}

.hds-training-rsc-sec .training-boxes .prdct-inner p {
    font-size: 13px;
    padding: 0;
}

.hds-training-rsc-sec .training-boxes .prdct-inner a {
    color: #ce0000;
    font-family: "museo-sans",Helvetica,Arial,sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
}
.hds-training-rsc-sec .training-boxes .prdct-inner a:hover {
    color: #ac1f25;
}

#trainingDetail .result-product .category-products-listing{min-height:10px;}
#trainingDetail .training-result.result-product {float: none;}
#trainingDetail .result-section {display:none}
#trainingDetail .errorSearchField{margin-top:60px} 
#trainingDetail .result-section{display:none}
#trainingDetail #contentCatagory{visibility:hidden}
#trainingDetail{padding-bottom:40px;}
div#contentCatagory .training-result .category-heading{padding-top:40px;}
div#contentCatagory .training-result:first-child .category-heading{padding-top:0;}

@media only screen and (max-width: 768px){
	.hds-training-cale.training-date-pick .src-btn{
		text-align: center;
		margin-top: 10px;
	}
	.hds-training-cale.training-date-pick .key-wrd-src{
		margin-top: 10px;
	}
}


@media only screen and (max-width: 991px) {
	 .hds-training-rsc-sec .training-boxes {margin: 0 0 20px;}
	 div#contentCatagory .training-result:first-child .category-heading{padding-top:40px;}
	 .key-wrd-src .daterangepicker input[type="text"] {
	 	padding-left: 10px;
	 }
	} 