body *{font-family:Arial, Helvetica, sans-serif !important;}
body * .glyphicon{font-family: 'Glyphicons Halflings' !important;}
/* main navigation */
.hds-global-header .hds-main-navigation-container .hds-main-navigation>ul>li>a{
	padding: 20px 9px 20px;
}
/* behind scene hexagon */
.behind-scene-hexagon .hexagon320 p {
    font-size: 1em;
}

@media only screen and (max-width: 991px){
	.behind-scene-hexagon .hexagon320 p {
	    font-size: .875em;
	}
}
/* Advanced Tech Hexagon */
.advance-tech-hexagon .hexagon320 p {
    font-size: 1em;
}

@media only screen and (max-width: 991px){
	.advance-tech-hexagon .hexagon320 p {
	    font-size: .875em;
	}
}