.aboutus-partners .content-container .logo {
  height: 88px;
}

.aboutus-partners .content-container .logo a {
  display: block;
}

.aboutus-partners .content-container .logo a:hover {
  padding-bottom: 20px;
  border-bottom: 6px solid #ce0000;
}

.aboutus-partners .content-container .logo img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: none;
}

.aboutus-partners .content-container .partners-icon {
  background-image: url(../images/sprite.png);
  background-position: -322px 0px;
  width: 36px;
  height: 40px;
  position: relative;
  margin-right: 10px;
  top: 9px;
}s