/* line 33, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_base.scss */
html {
  font-size: 16px !important;
}

/*bootstrap override start*/
/* line 38, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_base.scss */
.row-no-margin {
  margin: 0 !important;
}

/* line 41, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_base.scss */
.row-reduce-half {
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

/* line 45, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_base.scss */
.col-no-pad {
  padding: 0 !important;
}

/*bootstrap override end*/
/* BOOTSTRAP OVERRIDES */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* line 1, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square {
  padding: 8px 35px;
  border: 1px solid;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* line 8, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square.-white {
  color: #ffffff;
  border-color: #ffffff;
}

/* line 12, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square.-red {
  color: #ce0000;
  border-color: #ce0000;
}

/* line 18, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
[class|="btn-square"] {
  padding: 8px 35px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
}

/* line 28, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* line 31, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-white a {
  color: #ffffff;
}

/* line 36, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-red {
  border: 1px solid #ce0000;
  color: #ce0000;
}

/* line 39, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-red a {
  color: #ce0000;
}

/* line 44, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-features {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #ce0000;
}

/* line 48, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-features:hover {
  color: #ce0000;
}

/* line 53, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-clear {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* line 56, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-clear a {
  color: #ffffff;
}

/* line 62, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  outline: 0;
  border: 0;
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: .7rem;
  line-height: .9rem;
  cursor: pointer;
  letter-spacing: .15em;
  z-index: 1031;
  width: 77px;
  height: 77px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-property: background-color, box-shadow, transform;
  background-color: #8f8f8f;
  background-color: rgba(131, 131, 131, 0.9);
  color: #ffffff;
}

/* line 92, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top:hover {
  background-color: #757575;
  background-color: rgba(102, 102, 102, 0.9);
}

/* line 96, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top.active {
  display: inline-block;
}

/* line 100, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top span {
  display: inline-block;
}

/* line 103, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top .icon-arrow-scroll-top {
  background-image: url(../images/sprite.png);
  background-position: -225px -296px;
  width: 26px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* line 108, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top .text-return {
  margin-top: 7px;
}

/* line 114, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square {
  position: relative;
  height: 40px;
  max-width: 375px;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* line 132, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_mixins.scss */
.btn-transparent-square:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 135, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_mixins.scss */
.btn-transparent-square:hover a {
  color: #ffffff;
}

/* line 127, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 133, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square a {
  color: #FFFFFF;
  outline: 0;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* line 142, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
  button.cta-scroll-top {
    position: absolute;
    display: inline-block;
    font-size: .5rem;
    line-height: .7rem;
    width: 68px;
    height: 68px;
  }
  /* line 150, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
  button.cta-scroll-top .text-return {
    margin-top: 5px;
  }
  /* line 155, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_buttons.scss */
  .btn-transparent-square {
    max-width: 300px;
    min-height: 36px;
  }
}

/* line 8, stdin */
.solutions-page.market-leader {
  background: #ffffff;
  padding: 0 15px;
}

/* line 12, stdin */
.solutions-page.market-leader .market-leader-container {
  position: relative;
  text-align: center;
}

/* line 15, stdin */
.solutions-page.market-leader .market-leader-container a:hover,
.solutions-page.market-leader .market-leader-container a:active {
  text-decoration: none;
}

/* line 19, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-image {
  margin: 10% 0;
  padding-top: 2em;
}

/* line 22, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-image a {
  position: relative;
  display: inline-block;
}

/* line 25, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-image a .expand-box {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 30, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-image a img {
  margin: 0;
}

/* line 36, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-content {
  margin: 10% 0;
  text-align: left;
}

/* line 40, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-content h1 {
  margin-bottom: 30px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3.75em;
  line-height: 1;
  color: #000000;
}

/* line 48, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-content h4 {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  color: #848484;
  text-transform: uppercase;
}

/* line 56, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-content p {
  margin-bottom: 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  color: #000000;
  line-height: 175%;
}

/* line 65, stdin */
.solutions-page.market-leader .market-leader-container .market-leader-content .btn-square-red {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8125em;
  line-height: 1;
  letter-spacing: 3px;
  background-color: #ffffff;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* line 156, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_mixins.scss */
.solutions-page.market-leader .market-leader-container .market-leader-content .btn-square-red:hover {
  background-color: #ce0000;
  color: #ffffff;
}

/* line 159, /Users/Alejandro.Rubio/Sites/hiot-hitachi/aem-fed/app/styles/partials/_mixins.scss */
.solutions-page.market-leader .market-leader-container .market-leader-content .btn-square-red:hover a {
  color: #ffffff;
}

/* line 76, stdin */
.solutions-page.market-leader .market-leader-container .common-hero-banner {
  display: none;
  margin: 15% 0;
}

/* line 80, stdin */
.solutions-page.market-leader .market-leader-container .common-hero-banner iframe {
  max-width: 100%;
  width: 70%;
  min-height: 500px;
}

/* line 86, stdin */
.solutions-page.market-leader .market-leader-container .common-hero-banner .close-hero {
  position: absolute;
  top: -25px;
  right: 0;
}

/* line 90, stdin */
.solutions-page.market-leader .market-leader-container .common-hero-banner .close-hero .icon-close {
  background-image: url(../images/sprite.png);
  background-position: -248px -231px;
  width: 18px;
  height: 18px;
  background-position: -239px -220px;
}

@media only screen and (max-width: 768px) {
  /* line 122, stdin */
  .market-leader .market-leader-container {
    text-align: center;
  }
  /* line 125, stdin */
  .market-leader .market-leader-container .market-leader-content {
    display: inline-block;
    float: none;
    margin: 0 auto 10%;
    padding: 0;
    text-align: left;
  }
  /* line 132, stdin */
  .market-leader .market-leader-container .market-leader-content h1 {
    margin: 40px 0 20px;
    font-size: 2em;
    line-height: 1;
    color: #000000;
  }
  /* line 138, stdin */
  .market-leader .market-leader-container .market-leader-content h4 {
    font-size: 1.125em;
    line-height: 1;
    color: #848484;
    text-transform: uppercase;
    line-height: 140%;
  }
  /* line 145, stdin */
  .market-leader .market-leader-container .market-leader-content p {
    margin-bottom: 40px;
    color: #000000;
    font-size: .9em;
  }
  /* line 151, stdin */
  .market-leader .market-leader-container .market-leader-content .learn-more {
    font-size: 0.6875em;
    line-height: 1;
  }
  /* line 155, stdin */
  .market-leader .market-leader-container .market-leader-image {
    float: none;
    margin: 15% 0 5%;
  }
  /* line 159, stdin */
  .market-leader .market-leader-container .market-leader-image img {
    margin: 10px 0 0 5%;
  }
}

@media only screen and (max-width: 480px) {
  /* line 171, stdin */
  .market-leader .market-leader-container .market-leader-image {
    margin: 0;
  }
  /* line 173, stdin */
  .market-leader .market-leader-container .market-leader-image .expand-box {
    display: none;
  }
  /* line 176, stdin */
  .market-leader .market-leader-container .market-leader-image img {
    max-width: 100%;
  }
  /* line 181, stdin */
  .market-leader .market-leader-container .market-leader-content .btn-square-red {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}