.related-products .mes-container h1, 
.related-products .mes-container h2 {
  margin-top: 0;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3em;
  line-height: 1;
  text-align: center;
}

.related-products .mes-container h3 {
  margin-bottom: 45px;
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-size: 1.5625em;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.related-products .mes-container h4 {
  text-transform: uppercase;
  text-align: center;
}

.related-products .mes-container .product-copy-main {
  font-weight: bold;
}




@media only screen and (max-width: 768px) {

  .related-products .mes-container .product-box .product-copy-sub {
    white-space: normal;
  }

}