/* line 33, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_base.scss */
html {
  font-size: 16px !important;
}

/*bootstrap override start*/
/* line 38, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_base.scss */
.row-no-margin {
  margin: 0 !important;
}

/* line 41, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_base.scss */
.row-reduce-half {
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

/* line 45, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_base.scss */
.col-no-pad {
  padding: 0 !important;
}

/*bootstrap override end*/
/* BOOTSTRAP OVERRIDES */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* line 1, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square {
  padding: 8px 35px;
  border: 1px solid;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* line 8, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square.-white {
  color: #ffffff;
  border-color: #ffffff;
}

/* line 12, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square.-red {
  color: #ce0000;
  border-color: #ce0000;
}

/* line 18, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
[class|="btn-square"] {
  padding: 8px 35px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
}

/* line 28, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* line 31, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-white a {
  color: #ffffff;
}

/* line 36, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-red {
  border: 1px solid #ce0000;
  color: #ce0000;
}

/* line 39, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-red a {
  color: #ce0000;
}

/* line 44, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-features {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #ce0000;
}

/* line 48, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-features:hover {
  color: #ce0000;
}

/* line 53, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-clear {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* line 56, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-square-clear a {
  color: #ffffff;
}

/* line 62, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  outline: 0;
  border: 0;
  display: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: .7rem;
  line-height: .9rem;
  cursor: pointer;
  letter-spacing: .15em;
  z-index: 1031;
  width: 77px;
  height: 77px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-property: background-color, box-shadow, transform;
  background-color: #8f8f8f;
  background-color: rgba(131, 131, 131, 0.9);
  color: #ffffff;
}

/* line 92, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top:hover {
  background-color: #757575;
  background-color: rgba(102, 102, 102, 0.9);
}

/* line 96, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top.active {
  display: inline-block;
}

/* line 100, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top span {
  display: inline-block;
}

/* line 103, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top .icon-arrow-scroll-top {
  background-image: url(../images/sprite.png);
  background-position: -161px -145px;
  width: 26px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* line 108, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
button.cta-scroll-top .text-return {
  margin-top: 7px;
}

/* line 114, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square {
  position: relative;
  height: 40px;
  max-width: 375px;
  margin: 0 auto;
  border: 2px solid #FFFFFF;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* line 136, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_mixins.scss */
.btn-transparent-square:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 139, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_mixins.scss */
.btn-transparent-square:hover a {
  color: #ffffff;
}

/* line 127, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 133, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
.btn-transparent-square a {
  color: #FFFFFF;
  outline: 0;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* line 142, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
  button.cta-scroll-top {
    position: absolute;
    display: inline-block;
    font-size: .5rem;
    line-height: .7rem;
    width: 68px;
    height: 68px;
  }
  /* line 150, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
  button.cta-scroll-top .text-return {
    margin-top: 5px;
  }
  /* line 155, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_buttons.scss */
  .btn-transparent-square {
    max-width: 300px;
    min-height: 36px;
  }
}

/* line 8, stdin */
#hdspsaccordion .content-container {
  width: 100%;
  max-width: 100%;
}

/* line 13, stdin */
.navContain {
  width: 100%;
}

/* line 15, stdin */
.navContain .stickNav-background {
  background: rgba(0, 0, 0, 0.5);
}

/* line 17, stdin */
.navContain .stickNav-background .stickNav-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* line 20, stdin */
.navContain .stickNav-background .stickNav-container .smart-symbol {
  color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1;
  line-height: 2.5em;
  padding-left: 35px;
  float: left;
  width: 200px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: 0 7px;
}

/* line 39, stdin */
.accordion-content .content-container {
  width: 100%;
  max-width: 100%;
}

/* line 44, stdin */
.accordion-section-hero {
  background: #ffffff;
  padding: 0;
}

/* line 48, stdin */
.accordion-section-hero .accordion-section-hero.content-container {
  position: relative;
  text-align: center;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 56, stdin */
.accordion-section-hero .accordion-section-hero.content-container a:hover,
.accordion-section-hero .accordion-section-hero.content-container a:active {
  text-decoration: none;
}

/* line 61, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-image {
  min-height: 275px;
  margin-top: 10%;
}

@media only screen and (max-width: 992px) {
  /* line 61, stdin */
  .accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-image {
   /* display: none; */
  }
}

/* line 67, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-image img {
  margin: 10% auto 0;
  max-width: 100%;
}

/* line 73, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

/* line 78, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content h1 {
  margin-bottom: 25px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3.75em;
  line-height: 1;
  color: #ffffff;
}

/* line 86, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content h4 {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  color: #848484;
  text-transform: uppercase;
}

/* line 94, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content p {
  margin-bottom: 20px;
  font-family: 'museo-sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  color: #ffffff;
  line-height: 175%;
  padding-right: 10%;
}

/* line 103, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content ul {
  padding-left: 1em;
}

/* line 105, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content ul li {
  font-family: 'museo-sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  color: #ffffff;
  line-height: 175%;
}

/* line 114, stdin */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content .btn-square-red {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8125em;
  line-height: 1;
  letter-spacing: 3px;
  background-color: #ffffff;
  transition: background-color 0.3s linear, color 0.3s linear;
}

/* line 160, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_mixins.scss */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content .btn-square-red:hover {
  background-color: #ce0000;
  color: #ffffff;
}

/* line 163, /Users/kentaro.fischer/dev/projects/hds/clone/aem-fed/app/styles/partials/_mixins.scss */
.accordion-section-hero .accordion-section-hero.content-container .accordion-section-hero-content .btn-square-red:hover a {
  color: #ffffff;
}

/* line 125, stdin */
.accordion-section-hero .accordion-section-hero.content-container .common-hero-banner {
  display: none;
  margin: 15% 0;
}

/* line 129, stdin */
.accordion-section-hero .accordion-section-hero.content-container .common-hero-banner iframe {
  max-width: 100%;
  width: 70%;
  min-height: 500px;
}

/* line 135, stdin */
.accordion-section-hero .accordion-section-hero.content-container .common-hero-banner .close-hero {
  position: absolute;
  top: -25px;
  right: 0;
}

/* line 139, stdin */
.accordion-section-hero .accordion-section-hero.content-container .common-hero-banner .close-hero .icon-close {
  background-image: url(../images/sprite.png);
  background-position: -248px -231px;
  width: 18px;
  height: 18px;
}

/* line 147, stdin */
.resources-title.solutions {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  font-size: 24px !important;
  text-align: center;
  color: #008eaa;
}

@media only screen and (max-width: 768px) {
  /* line 157, stdin */
  .accordion-section-hero {
    padding: 0;
  }
  /* line 159, stdin */
  .accordion-section-hero .accordion-section-hero-container {
    text-align: center;
    background-image: none !important;
    background-color: #1790a8;
  }
  /* line 164, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content {
    display: inline-block;
    float: none;
    margin: 0 auto 10%;
    padding: 0 15px;
    text-align: left;
  }
  /* line 171, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h1 {
    margin: 40px 0 20px;
    font-size: 2em;
    line-height: 1;
  }
  /* line 176, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h4 {
    font-size: 1.125em;
    line-height: 1;
    text-transform: uppercase;
    line-height: 140%;
  }
  /* line 182, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content p {
    margin-bottom: 40px;
    font-size: .9em;
  }
  /* line 187, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content .learn-more {
    font-size: 0.6875em;
    line-height: 1;
  }
  /* line 191, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
    float: none;
    margin: 15% 0 5%;
  }
  /* line 195, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image img {
    margin: 33px 0 0 5%;
  }
  /* line 201, stdin */
  .resources-section .resources-container .resources-category:after {
    background: none;
  }
  /* line 204, stdin */
  .accordion-level .accordion-menu-container {
    border-bottom: 3px solid #c5c5c5;
  }
  /* line 206, stdin */
  .accordion-level .accordion-menu-container.open {
    border-bottom: none;
  }
  /* line 209, stdin */
  .accordion-level .accordion-menu-container:last-of-type {
    border: none;
  }
  /* line 212, stdin */
  .accordion-level .accordion-menu-container .accordion-menu {
    background-color: #f1f1f1;
    margin: 0 -15px;
    padding: 20px 15px;
  }
  /* line 218, stdin */
  .accordion-menu-container:after {
    height: 0;
  }
}

@media only screen and (max-width: 480px) {
  /* line 227, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
    margin-top: 0;
  }
  /* line 229, stdin */
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image img {
    max-width: 50%;
  }
  /* line 237, stdin */
  .btn-square-red {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    background: green;
  }
}