.about-hds-career-leader .blurb-container p {
	font-weight: 100;
	line-height: 175%;
    margin-bottom: 20px;
}



@media only screen and (max-width: 480px) {

  .about-hds-career-leader .learn-about-hds-career-leader {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }                      	

  .about-hds-career-leader .about-hds-career-content {
    text-align: right;
  }

}