.services-section {
	background-repeat: no-repeat;
	font-family: 'museo-sans',Helvetica,Arial,sans-serif;
}

.services-list-section .section-service-col {
	padding: 38px 30px 25px 30px;
	min-height: 215px;
}

.services-list-section .section-service-col:last-child {
	margin-bottom: 30px;
}

.services-list-section .section-service-col .headline {
	font-size: 1.875em;
	font-weight: 500;
	text-align: left;
}

.services-list-section .section-service-col p {
	font-size: 1.1em;
	line-height: 150%;
	text-align: left;
}




@media only screen and (max-width: 768px) {

  .services-list-section .section-service-col {
    padding: 38px 15px 25px 15px;
    min-height: auto;
  }

  .services-list-section .section-service-col .headline {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
  }

  .services-list-section .col-centered {
    display: block;
  }

}