#hdspsaccordion .content-container {
  width: 100%;
  max-width: 100%;
}

.navContain {
  width: 100%;
}

.navContain .stickNav-background .stickNav-container {
  max-width: 1280px;
  margin: 0 auto;
}

.navContain .stickNav-background .stickNav-container .smart-symbol {
  color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1;
  line-height: 2.5em;
  padding-left: 35px;
  float: left;
  width: 200px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: 0 7px;
}

.accordion-section-hero.content-container {
  width: 100%;
  max-width: 100%;
}

.accordion-section-hero {
  background: #ffffff;
  padding: 0;
}

.accordion-section-hero {
  position: relative;
  text-align: center;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.accordion-section-hero a:hover,
.accordion-section-hero a:active {
  text-decoration: none;
}

.accordion-section-hero .accordion-section-hero-container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
  min-height: 275px;
  margin-top: 10%;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image img {
  max-width: 100%;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h1, 
.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h2 {
  margin-bottom: 25px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3.75em;
  line-height: 1;
  color: #ffffff;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h4 {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  color: #848484;
  text-transform: uppercase;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content p {
  margin-bottom: 20px;
  font-family: 'museo-sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  color: #ffffff;
  line-height: 175%;
  padding-right: 10%;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content ul {
  padding-left: 1em;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content ul li {
  font-family: 'museo-sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  color: #ffffff;
  line-height: 175%;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content .btn-square-red {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.8125em;
  line-height: 1;
  letter-spacing: 3px;
  background-color: #ffffff;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content .btn-square-red:hover {
  background-color: #ce0000;
  color: #ffffff;
}

.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content .btn-square-red:hover a {
  color: #ffffff;
}

.accordion-section-hero .common-hero-banner {
  display: none;
  margin: 15% 0;
}

.accordion-section-hero .common-hero-banner iframe {
  max-width: 100%;
  width: 70%;
  min-height: 500px;
}

.accordion-section-hero .common-hero-banner .close-hero {
  position: absolute;
  top: -25px;
  right: 0;
}

.accordion-section-hero .common-hero-banner .close-hero .icon-close {
  background-image: url(../images/sprite.png);
  background-position: -248px -231px;
  width: 18px;
  height: 18px;
}

.resources-title.solutions {
  font-family: 'museo-slab', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  font-size: 24px !important;
  text-align: center;
  color: #008eaa;
}




@media only screen and (max-width: 992px) {
  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
    margin-top: 5%;
  }
}




@media only screen and (max-width: 768px) {

  .accordion-section-hero {
    padding: 0;
  }

  .accordion-section-hero .accordion-section-hero-container {
    text-align: center;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h1, 
.accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h2  {
    margin: 40px 0 20px;
    font-size: 2em;
    line-height: 1;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content h4 {
    font-size: 1.125em;
    line-height: 1;
    text-transform: uppercase;
    line-height: 140%;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content p {
    margin-bottom: 40px;
    font-size: .9em;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-content .learn-more {
    font-size: 0.6875em;
    line-height: 1;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
    float: none;
    margin: 5% 0 5%;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image img {
    margin: 33px 0 0 5%;
  }

  .resources-section .resources-container .resources-category:after {
    background: none;
  }

  .accordion-level .accordion-menu-container:last-of-type {
    border: none;
  }

  .accordion-level .accordion-menu-container .accordion-menu {
    background-color: #f1f1f1;
    margin: 0 -15px;
    padding: 20px 15px;
  }

  .accordion-menu-container:after {
    height: 0;
  }

}




@media only screen and (max-width: 480px) {

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image {
    margin-top: 0;
  }

  .accordion-section-hero .accordion-section-hero-container .accordion-section-hero-image img {
    max-width: 50%;
  }

/*
  .btn-square-red {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    background: green;
  }
*/

}