html {
  font-size: 16px !important;
}

/*bootstrap override start*/
.row-no-margin {
  margin: 0 !important;
}

.row-reduce-half {
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

.col-no-pad {
  padding: 0 !important;
}

/*bootstrap override end*/
/* BOOTSTRAP OVERRIDES */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.aboutus-partners .content-container .heading {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 5px solid #f78e1e;
}

.aboutus-partners .content-container .heading .icon {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -5px;
}

.aboutus-partners .content-container .heading h2 {
  display: inline-block;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5625em;
  line-height: 1;
}

.aboutus-partners .content-container .logo {
  margin-bottom: 40px;
  height: 88px;
  text-align: center;
}

.aboutus-partners .content-container .logo a {
  display: block;
}

.aboutus-partners .content-container .logo a:hover {
  padding-bottom: 20px;
  border-bottom: 6px solid #ce0000;
}

.aboutus-partners .content-container .logo img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: none;
}

.aboutus-partners .content-container .partners-icon {
  background-image: url(../images/sprite.png);
  background-position: -322px 0px;
  width: 36px;
  height: 40px;
  position: relative;
  margin-right: 10px;
  top: 9px;
}
