.internal-business-units {
  padding: 120px 15px 100px;
  color: #ffffff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
}

.internal-business-units h2 {
    margin-bottom: 30px;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 3em;
    line-height: 1;
}

.internal-business-units p,
.internal-business-units ul {
	margin-bottom: 20px;
    font-family: 'museo-sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 1.125em;
    line-height: 1;
    line-height: 175%;
    padding-right: 10%;
}

.internal-business-units .col-sm-4 {
	padding-bottom: 10px;
    font-size: 1.125em;
    font-weight: 100;
}

.internal-business-units .internal-business-unit-icon {
	padding-right: 5%;
}




@media only screen and (max-width: 768px) {

  .internal-business-units {
    background-image: none;
    background-color: #008eaa;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 60px 15px 50px;
  }

  .internal-business-units .content-container [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  .internal-business-units h2 {
    font-size: 1.875rem;
  }

  .internal-business-units p,
  .internal-business-units ul {
    font-size: 0.875em;
  }

  .internal-business-units .col-sm-4 {
    font-size: 1em;
  }

}