html {
  font-size: 16px !important;
}

/*bootstrap override start*/

.row-no-margin {
  margin: 0 !important;
}

.row-reduce-half {
  margin-left: -7.5px !important;
  margin-right: -7.5px !important;
}

.col-no-pad {
  padding: 0 !important;
}

/*bootstrap override end*/



.hitachi-sublogo,
.hitachi-ig-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px -251px;
  width: 182px;
  height: 18px;
}

.hitachi-sublogo-mobile,
.hitachi-ig-mobile-logo {
  background-image: url(../images/sprite.png);
  background-position: -184px -286px;
  width: 119px;
  height: 12px;
}

.bus-unit-name {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.hds-global-header .hds-main-navigation-container .hds-main-navigation > div > a > span {
  text-indent: 0;
}



@media only screen and (max-width: 992px) {

  .icon-search-mobile {
    background-image: url(../images/sprite.png);
    background-position: -311px -157px;
    width: 19px;
    height: 20px;
  }

  .header .breadcrumb-container {
    top: 160px;
    text-align: center;
  }

  .header .sub-navigation-container {
    display: block;
  }

}