.iot-hero {
  background: transparent;
  padding-top: 150px;
  background-size: cover;
  position: relative;
}

.iot-hero #bgvid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 758px;
  z-index: -99;
  background-size: cover;
}

.iot-hero h1 {
  text-align: left;
  color: #ffffff;
  width: 73%;
  margin: 0 auto 37px auto;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 60px;
}

.iot-hero h4.sub-headline {
	text-align: left;
	width: 73%;
	margin: 0 auto 50px auto;
	color: #ffffff;
	font-family: 'museo-sans', Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.6em;
}

.iot-hero .hero-banner {
	position: absolute;
	width: 100%;
	background: #000000;
	text-align: center;
}

.iot-hero .features {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}

.iot-hero .features .btn-square-features,
.iot-hero .features .btn-square-features:focus,
.iot-hero .features .btn-square-features:active {
	width: 190px;
	margin: 0 20px 0 0;
	padding: 8px 11px 8px 46px;
	font-size: .7em;
	float: left;
	background-position: 0 center;
	background-repeat: no-repeat;
    background-color: #ffffff;
    color: #ce0000;
	text-decoration: none;
}

.iot-hero .features .btn-square-features:hover {
  	text-decoration: underline;
}

.iot-hero .features .platform,
.iot-hero .features .platform:focus,
.iot-hero .features .platform:active {
	display: block;
	width: 610px;
	padding: 8px;
	text-align: center;
	margin-bottom: 200px;
	background-color: transparent;
    color: #ffffff;                                          
	text-decoration: none;                                                
	transition: background-color 0.3s linear, color 0.3s linear;
	border: 1px solid #ffffff;                                                
}

.iot-hero .features .platform:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #ce0000;
}

.iot-hero .features .button-wrapper {
	background: transparent;
}



@media only screen and (max-width: 992px) {

	.iot-hero {
    	background-image: url(../images/HDS_IoT_Desktop_home_hero_bg.jpg);
    	background-position: top left;
    	padding-top: 42px;
    }

	.iot-hero #bgvid {
    	display: none;
	}

	.iot-hero h1 {
		width: 100%;
		font-size: 36px;
		margin: 15px auto;
	}

	.iot-hero h4.sub-headline {
    	width: 100%;
    	font-size: 16px;
  	}

	.iot-hero .features .btn-square-features,
	.iot-hero .features .btn-square-features:focus, 
	.iot-hero .features .btn-square-features:active {
    	float: none;
    	margin: 0 auto;
  	}

	.iot-hero .features .platform,
	.iot-hero .features .platform:focus,
	.iot-hero .features .platform:active {
    	width: 100%;
    	margin-bottom: 50px;
  	}

    .iot-hero .features .button-wrapper {
    	text-align: center;
	    background-color: #ffffff;
    	width: 100%;
	    display: block;
  		float: none;
	    margin-bottom: 20px;
	    overflow: auto;
	    padding: 8px;
	  }

}